.app-item {
  //margin-bottom: 10px;
  margin: 10px 8px;
  padding: -10px -8px;
  background-color: var(--white);
  color: var(--dark-grey);
  border-radius: 14px;
  box-shadow: var(--box-shadow);
  //overflow: hidden;
  transition: height var(--transition-time) ease;

  &-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px;
    font-size: 12px;
    line-height: 12px;

    img {
      border-radius: 8px;
    }

    &.main {
      &.has-children {
        position: relative;
        cursor: pointer;
      }

      .dummy,
      img {
        height: 30px;
        width: 30px;
        border-radius: 8px;
      }

      img {
        margin-left: 0;
      }

      .dummy {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--red);

        span {
          height: 30px;
          width: 30px;
          mask-size: 18px 18px;
          mask-image: url('/assets/images/UI/question.svg');
          -webkit-mask-size: 18px 18px;
          -webkit-mask-image: url('/assets/images/UI/question.svg');
          background-color: var(--white);
        }
      }
    }

    &.child {
      padding: 8px 16px;
    }

    p {
      display: block;

      &.text-note {
        margin-top: 7px;
      }
    }

    > *:nth-child(1) {
      width: 30px;
      margin-right: 10px;
    }

    > *:nth-child(2) {
      width: 165px;

      margin-right: 5px;

      position: relative;

      color: var(--dark-blue-grey);

      .name {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .system {
        color: var(--dark-grey);
      }
    }

    > *:nth-child(3) {
      max-height: 30px;
      width: 50px;
      position: relative;
      margin-right: 15px;

      p:first-child {
        width: calc(100% - 9px);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .icon {
        height: 6px;
        width: 8px;
        position: absolute;
        top: 2.5px;
        right: 0;
        mask-size: 8px 6px;
        -wekit-mask-size: 8px 6px;
        mask-image: url('/assets/images/UI/arrow_down.svg');
        -webkit-mask-image: url('/assets/images/UI/arrow_down.svg');
        background-color: var(--dark-blue-grey);
        transition: transform var(--transition-time) ease;

        &.down {
          transform: rotate(180deg);
        }

        &.shifted {
          margin-top: 10px;
        }
      }
    }

    &.child {
      > *:nth-child(3) {
        color: var(--dark-blue-grey);
      }
    }

    > *:nth-child(4) {
      width: 495px;
      margin-right: 10px;
    }

    > *:nth-child(5) {
      width: 230px;
      margin-right: 10px;
    }

    > *:nth-child(6) {
      width: 56px;
      margin-right: 21px;
      padding-left: 12px;
    }

    > *:nth-child(7) {
      width: 60px;
    }

    .icon-container {
      height: 16px;
      width: 16px;
      border-radius: 8px;

      .icon {
        height: 16px;
        width: 16px;
        background-color: var(--white);
      }

      &.on {
        background-color: var(--dark-blue);

        .icon {
          mask-size: 10px 10px;
          mask-image: url('/assets/images/UI/check.svg');
          -webkit-mask-size: 10px 10px;
          -webkit-mask-image: url('/assets/images/UI/check.svg');
        }
      }

      &.off {
        background-color: var(--grey);

        .icon {
          mask-size: 14px 14px;
          mask-image: url('/assets/images/UI/minus.svg');
          -webkit-mask-size: 14px 14px;
          -webkit-mask-image: url('/assets/images/UI/minus.svg');
        }
      }
    }
  }

  .children-container {
    transition: opacity var(--transition-time) ease;
    //animation: show var(--transition-time) ease;

    &.hidden {
      opacity: 0;
      //display: none;
    }

    hr {
      margin: 0 16px 0 226px;
      height: 1px;

      &:first-child {
        margin: 0 16px;
      }
      &:last-child {
        display: none;
      }
    }
  }
}
