<app-modal
  [modalID]="'filter_devices'"
  [direction]="'horizontal'"
  [isClosable]="true"
>
  <div class="modal-form-filter w-400">
    <div class="modal-form-filter-header">
      <h4 class="text-title text-center">Фильтры</h4>
    </div>
    <hr class="divider" />
    <div class="modal-form-filter-body">
      <form [formGroup]="_form">
        <div class="form-group-wrapper status">
          <p class="text-menu-title">Статус</p>
          <div class="filter-btn-wrapper">
            <app-button
              [text]="'вкл'"
              [height]="'auto'"
              [padding]="'7px 10px'"
              [radius]="'14px'"
              [color]="_status_on?.value ? 'blue' : 'common'"
              (onCLick)="onStatusOnClick()"
            ></app-button>
          </div>
          <div class="filter-btn-wrapper">
            <app-button
              [text]="'выкл'"
              [height]="'auto'"
              [padding]="'7px 10px'"
              [radius]="'14px'"
              [color]="_status_off?.value ? 'blue' : 'common'"
              (onCLick)="onStatusOffClick()"
            ></app-button>
          </div>
        </div>
        <div class="form-group-wrapper">
          <p class="text-menu-title last-date">Последнее обновление</p>
        </div>
        <div class="form-group-wrapper date">
          <label class="text-menu-title"> с </label>
          <app-input-datetime
            [name]="'date-from'"
            [width]="'w-180'"
            [control]="$any(_date_from)"
          ></app-input-datetime>
        </div>
        <div class="form-group-wrapper date">
          <label class="text-menu-title"> по </label>
          <app-input-datetime
            [name]="'date-to'"
            [width]="'w-180'"
            [control]="$any(_date_to)"
          ></app-input-datetime>
        </div>
        <div class="accordion-wrapper">
          <app-input-select-accordion
            [title]="'Конфигурация'"
            [control]="$any(_config_ids)"
            [options]="_options_configs"
            (onSelect)="onConfigSelectHandler($event)"
          ></app-input-select-accordion>
        </div>
        <div class="accordion-wrapper">
          <app-input-select-accordion
            [title]="'Группа'"
            [control]="$any(_group_ids)"
            [options]="_options_groups"
            (onSelect)="onGroupSelectHandler($event)"
          ></app-input-select-accordion>
        </div>
      </form>
    </div>
    <div class="modal-form-filter-footer">
      <app-modal-action-btns
        [isReverse]="true"
        [margin]="'102px'"
        [submitText]="'Поиск'"
        [cancelText]="'Сброс'"
        (onSubmit)="onSubmitHandler()"
        (onCancel)="onCancelHandler()"
      ></app-modal-action-btns>
    </div>
  </div>
</app-modal>
