#edit_device {
  width: 770px;

  overflow: initial;
}

#edit_device .modal-content {
  padding: 30px 93px !important;
}

#edit_device .form-group.phone,
#edit_device .form-group.model,
#edit_device .selects .form-group:first-child {
  width: 314px;
}
#edit_device .form-group.imei {
  width: calc(100% - 314px);
}
#edit_device .form-group.phone input {
  margin-left: auto;
}
#edit_device .form-group.imei label {
  margin-left: 27px;
}

#edit_device input[type='number'] {
  -moz-appearance: textfield;
}

#edit_device input[type='number']::-webkit-outer-spin-button,
#edit_device input[type='number']::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

#edit_device .model {
  justify-content: start;
}

#edit_device .model input {
  margin-left: 85px !important;
}

#edit_device .selects {
  margin-bottom: 50px !important;
}

#edit_device .selects .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0;
}

#edit_device .input-field-modal {
  width: 170px;
}

#edit_device .input-field-modal,
#edit_device .input-field-modal .select-wrapper input.select-dropdown {
  height: 45px;
}

#edit_device .selects .form-group:first-child label {
  margin-right: 30px;
}

#edit_device .selects .form-group:last-child {
  margin-left: auto;
}
#edit_device .selects .form-group:last-child label {
  margin-right: 23px;
}

#edit_device .action-btns {
  padding-left: 144px;
}

#edit_device .action-btns > *:first-child {
  margin-right: 66px;
}
