#edit_device {
  width: 700px;

  top: calc((100vh - 434px) / 2) !important;

  overflow: initial;
}

#edit_device .input-field-modal {
  margin-left: auto;
}

#edit_device .input-field-modal,
#edit_device .input-field-modal .select-wrapper input.select-dropdown {
  height: 45px;
}

#edit_device .action-btns {
  padding-left: 144px;
}

#edit_device .action-btns > *:first-child {
  margin-right: 66px;
}
