<div id="changePass" class="modal non-closing modal-fixed-footer">
  <div class="modal-content">
    <form [formGroup]="_form">
      <h6>Пароль должен стостоять минимум иметь минимум по 1:</h6>
      <ul class="collection">
        <li class="collection-item">
          Заглавный символ
          <span *ngIf="user.upperCase" class="red-text">отсутствует</span>
        </li>
        <li class="collection-item">
          Прописной символ
          <span *ngIf="user.lowerCase" class="red-text">отсутствует</span>
        </li>
        <li class="collection-item">
          Цифра
          <span *ngIf="user.number" class="red-text">отсутствует</span>
        </li>
        <li class="collection-item">
          Спец. символ
          <span *ngIf="user.specialChar" class="red-text">отсутствует</span>
        </li>
        <li class="collection-item">
          Состоять минимум из 8 символов
          <span *ngIf="user.passLength > 0" class="red-text"
            >{{ user.passLength }} осталось</span
          >
        </li>
      </ul>
      <div class="card-content">
        <div class="formGroup">
          <input
            id="pass"
            type="password"
            class="formControl"
            formControlName="password"
            required
          />
          <label for="pass">Введите новый пароль</label>
          <small class="helper-text invalid"></small>
          <small class="helper-text invalid"></small>
        </div>
        <div class="formGroup">
          <input
            id="ChangePassword"
            type="password"
            class="formControl"
            required
            formControlName="confirmPassword"
          />
          <label for="ChangePassword">Повторите новый пароль</label>
          <small class="helper-text invalid"></small>
          <small class="helper-text invalid"></small>
        </div>
      </div>
      <button
        [disabled]="_pass?.value !== _confPass?.value"
        (click)="onSubmitHandler()"
        class="btn-flat green-text"
      >
        Сменить
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
