<div class="selected-devices r-14">
  <p>{{ devices.length }} выбран(-о)</p>
  <span
    class="close"
    (click)="onCloseClickHandler()"
  ></span>
  <button
    type="button"
    class="modal-trigger sdm-only-icon sdm-dark-blue sdm-no-border r-round edit"
    data-target="edit_several_devices"
    (click)="onEditClickHandler()"
  >
    <span></span>
  </button>
  <button
    type="button"
    class="modal-trigger sdm-only-icon sdm-dark-blue sdm-no-border r-round delete"
    (click)="onDeleteClickHandler()"
  >
    <span></span>
  </button>
</div>
