.selected-devices {
  display: flex;
  align-items: center;

  margin-top: 16px;
  padding: 9px 16px 7px 28px;

  background-color: var(--sdm-light-blue);
  color: var(--sdm-dark-blue-grey);
}

.selected-devices p {
  font-size: 12px;
}

.selected-devices button {
  background-color: var(--sdm-dark-blue-grey);
}
.selected-devices button:hover,
.selected-devices button:focus {
  background-color: var(--sdm-dark-grey) !important;
}

.selected-devices .close {
  height: 12px;
  width: 12px;

  margin-left: 8px;

  mask-size: 8px 8px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: url("../../../../assets/UI/cross.svg");

  -webkit-mask-size: 8px 8px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: url("../../../../assets/UI/cross.svg");

  background-color: var(--sdm-dark-blue-grey);

  cursor: pointer;
}

.selected-devices .delete {
  justify-self: flex-end;

  margin-left: 12px;
}

.selected-devices .delete span {
  mask-image: url("../../../../assets/UI/cross.svg");
  -webkit-mask-image: url("../../../../assets/UI/cross.svg");
}

.selected-devices .edit {
  margin-left: auto;
}

.selected-devices .edit span {
  mask-image: url("../../../../assets/UI/pencil.svg");
  -webkit-mask-image: url("../../../../assets/UI/pencil.svg");
}
