.button {
  padding: 9px 14px;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  border-radius: 8px;
  border: 1px solid transparent;

  transition: background-color 0.4s ease, border-color 0.4s ease,
    color 0.4s ease;

  &.big {
    padding: 12px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    border-radius: 14px;
  }

  &-blue {
    &-fulfilled {
      background-color: var(--dark-blue);
      color: #fff;

      &:hover,
      &:active {
        background-color: var(--blue);
      }
    }

    &-bordered {
      border-color: var(--dark-blue);
      background-color: #fff;
      color: var(--dark-blue);

      &:hover,
      &:active {
        background-color: var(--light-grey);
      }
    }
  }

  &-icon {
    height: 24px;
    width: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    .icon {
      height: 24px;
      width: 24px;

      mask-size: 24px 24px;
    }
  }

  &:disabled {
    background-color: var(--grey);
    color: #fff;

    cursor: default;
  }
}
