:host(app-menu) {
  grid-area: sidebar;
}

.menu-sidebar {
  height: calc(100vh - 24px);
  width: 280px;
  background-color: var(--light-blue);
  border-radius: 14px;
  overflow: hidden;
  transition: width var(--transition-time) ease;
  z-index: 100;

  &.hidden {
    width: 76px;
  }

  .content {
    height: calc(100vh - 24px);
    padding: 25px 12px;
    transition: padding var(--transition-time) ease;

    .header {
      padding-left: 14px;
      transition: padding-left var(--transition-time) ease;

      .logo {
        margin-left: 15px;
        transition: opacity var(--transition-time) ease;

        &.hidden {
          opacity: 0;
          cursor: default;
        }
      }
    }

    .link-list {
      margin-top: 20px;

      li {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .router-link {
          height: 40px;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 16px 15px;
          text-decoration: none;
          border-radius: 8px;
          overflow: hidden;
          transition: all var(--transition-time) ease;

          &:hover {
            background-color: #c7d5ed;
          }

          span {
            height: 24px;
            width: 24px;
            flex-shrink: 0;
            background-color: var(--white);
          }

          p {
            color: var(--white);
            margin-left: 13px;
            white-space: nowrap;
          }

          &.active {
            height: 54px;
            background-color: var(--blue);
            color: var(--white);

            span {
              background-color: var(--white);
            }
          }

          &.devices span {
            mask-size: 11px 16px;
            mask-image: url('/assets/UI/devices.svg');
            -webkit-mask-size: 11px 16px;
            -webkit-mask-image: url('/assets/UI/devices.svg');
          }
          &.groups span {
            mask-size: 19.2px 19.2px;
            mask-image: url('/assets/UI/new_app.svg');
            -webkit-mask-size: 14.4px 14.4px;
            -webkit-mask-image: url('/assets/UI/new_app.svg');
          }
          &.apps span {
            mask-size: 19.2px 19.2px;
            mask-image: url('/assets/UI/new_apps.svg');
            -webkit-mask-size: 16.8px 16.8px;
            -webkit-mask-image: url('/assets/UI/new_apps.svg');
          }
          &.messages span {
            mask-size: 16px 11.2px;
            mask-image: url('/assets/UI/mail.svg');
            -webkit-mask-size: 16px 11.2px;
            -webkit-mask-image: url('/assets/UI/mail.svg');
          }
          &.map span {
            mask-size: 14.4px 14.4px;
            mask-image: url('/assets/UI/new_map.svg');
            -webkit-mask-size: 19.2px 19.2px;
            -webkit-mask-image: url('/assets/UI/new_map.svg');
          }
          &.config span {
            mask-size: 23px 23px;
            mask-image: url('/assets/UI/new_conf.svg');
            -webkit-mask-size: 16px 15px;
            -webkit-mask-image: url('/assets/UI/new_conf.svg');
          }
          &.users span {
            mask-size: 18px 18px;
            mask-image: url('/assets/UI/users.svg');
            -webkit-mask-size: 16.8px 12px;
            -webkit-mask-image: url('/assets/UI/users.svg');
          }
          &.help span {
            mask-size: 19.2px 19.2px;
            mask-image: url('/assets/UI/faq.svg');
            -webkit-mask-size: 19.2px 19.2px;
            -webkit-mask-image: url('/assets/UI/faq.svg');
          }
        }
      }

      .divider {
        background-color: var(--light-blue-grey);

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
