<aside class="menu-sidebar" [class.hidden]="isSidebarHidden">
  <div class="content">
    <div class="header row flex-start" [class.hidden]="isSidebarHidden">
      <app-menu-button
        title="Свернуть/развернуть боковое меню"
        (onClick)="toggleSidebarView()"
      ></app-menu-button>
      <img
        src="/assets/UI/logo.svg"
        alt="Logo"
        class="logo"
        [class.hidden]="isSidebarHidden"
      />
    </div>
    <ul class="link-list">
      <li>
        <a
          id="devices"
          class="router-link text-menu-title devices"
          [routerLink]="'/devices'"
          [routerLinkActive]="'active'"
        >
          <span class="icon"></span>
          <p>Устройства</p>
        </a>
      </li>
      <li>
        <a
          id="groups"
          class="router-link text-menu-title groups"
          [routerLink]="'/groups'"
          [routerLinkActive]="'active'"
        >
          <span class="icon"></span>
          <p>Группы устройств</p>
        </a>
      </li>
      <li *ngIf="userRole === 'admin' || userRole === 'super'">
        <a
          id="apps"
          class="router-link text-menu-title apps"
          [routerLink]="'/apps'"
          [routerLinkActive]="'active'"
        >
          <span class="icon"></span>
          <p>Приложения</p>
        </a>
      </li>
      <li>
        <a
          id="messages"
          class="router-link text-menu-title messages"
          [routerLink]="'/messages'"
          [routerLinkActive]="'active'"
        >
          <span class="icon"></span>
          <p>Сообщения</p>
        </a>
      </li>
      <li>
        <a
          id="map"
          class="router-link text-menu-title map"
          [routerLink]="'/map'"
          [routerLinkActive]="'active'"
        >
          <span class="icon"></span>
          <p>Карта</p>
        </a>
      </li>
      <hr class="divider" />
      <li *ngIf="userRole === 'admin' || userRole === 'super'">
        <a
          id="config"
          class="router-link text-menu-title config"
          [routerLink]="'/configs'"
          [routerLinkActive]="'active'"
        >
          <span class="icon"></span>
          <p>Конфигурации</p>
        </a>
      </li>
      <li *ngIf="userRole === 'admin' || userRole === 'super'">
        <a
          id="users"
          class="router-link text-menu-title users"
          [routerLink]="'/users'"
          [routerLinkActive]="'active'"
        >
          <span class="icon"></span>
          <p>Пользователи</p>
        </a>
      </li>
      <!--      <hr class="divider" *ngIf="userRole === 'admin' || userRole === 'super'" />
      <li>
        <a
          id="help"
          class="router-link text-menu-title help"
          [routerLink]="'/help'"
          [routerLinkActive]="'active'"
        >
          <span class="icon"></span>
          <p>Справка</p>
        </a>
      </li>-->
    </ul>
  </div>
</aside>
