.search-container {
  position: relative;

  &:hover {
    .icon {
      background-color: var(--dark-blue);
    }
  }

  .icon-search {
    height: 16.04px;
    width: 16.04px;

    position: absolute;

    top: 8px;
    left: 9px;

    mask-size: 16.04px 16.04px;
    mask-image: url("../../../../../../assets/UI/search.svg");
    -webkit-mask-size: 16.04px 16.04px;
    -webkit-mask-image: url("../../../../../../assets/UI/search.svg");

    background-color: var(--light-blue);

    transition: all var(--transition-time) ease;
  }
}
