.search-container {
  display: flex;
  align-items: center;

  border: 1px solid var(--sdm-light-blue);

  transition: border-color .4s ease;
}
.search-container:hover {
  border-color: var(--sdm-dark-blue);
}
.search-container:hover span {
  background-color: var(--sdm-dark-blue);
}

.search-container,
.search-container input,
.search-container span {
  height: 30px !important;
}

.search-container input {
  width: 300px;

  padding-left: 0 !important;

  background-color: transparent !important;

  border: none !important;
  border-radius: 0 !important;
}

.search-container span {
  width: 30px;

  margin-left: auto;

  mask-size: 13px 13px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("../../../../../../assets/UI/search.svg");
  -webkit-mask-size: 13px 13px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: url("../../../../../../assets/UI/search.svg");

  background-color: var(--sdm-light-blue);

  transition: background-color .4s ease;
}
