<div class="item row">
  <div class="checkbox-container">
    <label>
      <input
        type="checkbox"
        class="filled-in item-checkbox"
        [checked]="device.isSelected"
        (change)="selectUnselectDevice(device)"
      />
      <span></span>
    </label>
  </div>
  <div class="content b-shadow r-14">
    <div class="status-container">
      <span
        class="r-round"
        [class.active]="device.active_state"
        [class.disabled]="!device.active_state"
      ></span>
    </div>
    <p class="font-regular-color">14 сент, 14:20</p>
    <p class="font-bold font-bold-color">{{ device.name }}</p>
    <p class="font-middle font-regular-color">{{ device.description }}</p>
    <p class="font-regular-color">{{ device.phone_number }}</p>
<!--                        <p class="font-regular-color">012345678912345</p>-->
<!--                        <p class="font-regular-color">Meizu 10</p>-->
    <p class="font-regular-color">{{ device.imei }}</p>
    <p class="font-regular-color">{{ device.model }}</p>
    <div class="input-field sdm-light-select">
      <select class="config-select" (change)="changeDeviceConfig(device, $event)">
        <option value="0" selected>По умолчанию</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <div class="status-container update small">
      <span class="r-round active"></span>
    </div>
    <p class="font-bold-color">Санкт-Петербург</p>
    <p class="font-regular-color">{{ device.battery_percent }}%</p>
    <div class="switch">
      <label>
        <input type="checkbox" [checked]="device.active_state" />
        <span class="lever"></span>
      </label>
    </div>
    <div class="btns">
      <button
        class="modal-trigger sdm-only-icon sdm-dark-blue sdm-no-border r-round qr-code"
        (click)="getDeviceQRCode(device.name, device.qr_code)"
        data-target="qr-code"
      >
        <span></span>
      </button>
      <button
        class="modal-trigger sdm-only-icon sdm-dark-blue sdm-no-border r-round edit"
        (click)="editDevice(device)"
        data-target="edit_device"
      >
        <span></span>
      </button>
      <button
        class="modal-trigger sdm-only-icon sdm-dark-blue sdm-no-border r-round delete"
        (click)="deleteDevice(device.device_id)"
      >
        <span></span>
      </button>
    </div>
  </div>
</div>
