.item {
  margin-bottom: 10px !important;
}

.item .content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 12px;
}

/* Чекбокс */
.item > .checkbox-container {
  width: 16px;

  margin-right: 10px;
}
/* Статус */
.item .content > *:nth-child(1) {
  width: 38px;

  margin-right: 5px;
}
/* Дата вкл. */
.item .content > *:nth-child(2) {
  width: 80px;

  margin-right: 5px;
}
/* Название */
.item .content > *:nth-child(3) {
  width: 75px;

  margin-right: 5px;
}
/* Описание */
.item .content > *:nth-child(4) {
  width: 195px;

  margin-right: 5px;
}
/* Телефон */
.item .content > *:nth-child(5) {
  width: 90px;

  margin-right: 12px;
}
/* imei */
.item .content > *:nth-child(6) {
  width: 105px;

  margin-right: 2px;
}
/* Модель */
.item .content > *:nth-child(7) {
  width: 70px;

  margin-right: 5px;
}
/* Конфигурация */
.item .content > *:nth-child(8) {
  width: 120px;
}
/* Обновление */
.item .content > *:nth-child(9) {
  width: 75px;

  margin-right: 10px;
}
/* Группа */
.item .content > *:nth-child(10) {
  width: 100px;

  margin-right: 5px;
}
/* Заряд */
.item .content > *:nth-child(11) {
  width: 46px;

  margin-right: 5px;
}
/* Состояние */
.item .content > *:nth-child(12) {
  width: 61px;

  margin-right: 5px;
}
/* Действия */
.item .content > *:nth-child(13) {
  width: 96px;
}

.item .content {
  min-height: 60px;
  width: 100%;

  padding: 0 16px;

  background-color: #fff;
}

.item .content p {
  max-height: 40px;

  display: block;

  overflow-y: auto;
}

.item .status.update span {
  margin: 0 auto;
}

.item .lever {
  margin: 0;
}

.item .status-container.update {
  display: flex;
  justify-content: center;
}

.content .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .qr-code span {
  mask-image: url("../../../../assets/UI/qr_code.svg");
  -webkit-mask-image: url("../../../../assets/UI/qr_code.svg");
}
.content .edit span {
  mask-image: url("../../../../assets/UI/pencil.svg");
  -webkit-mask-image: url("../../../../assets/UI/pencil.svg");
}
.content .delete span {
  mask-image: url("../../../../assets/UI/cross.svg");
  -webkit-mask-image: url("../../../../assets/UI/cross.svg");
}
