<div class="item row">
  <div class="checkbox-container">
    <label>
      <input
        type="checkbox"
        class="filled-in item-checkbox"
        [checked]="device.isSelected"
        (change)="onSelectUnselectDeviceHandler(device)"
      />
      <span></span>
    </label>
  </div>
  <div class="content b-shadow r-14">
    <div class="status-container">
      <span
        class="r-round"
        [class.active]="device.online_state"
        [class.disabled]="!device.online_state"
      ></span>
    </div>
    <p class="font-regular-color">{{ device.updatedAt | dateConverter }}</p>
    <p class="font-bold font-bold-color">{{ device.name }}</p>
    <p class="font-middle font-regular-color">{{ device.description }}</p>
    <p class="font-regular-color">{{ device.phone_number }}</p>
<!--    <p class="font-regular-color">{{ device.imei }}</p>-->
<!--    <p class="font-regular-color">{{ device.model }}</p>-->
    <p class="font-regular-color">123456789012345</p>
    <p class="font-regular-color">Model</p>
    <p class="font-bold-color">{{ device.device_group_id | groupConverter: groups }}</p>
    <p class="font-regular-color">{{ device.device_config_id | configConverter: configs }}</p>
    <div class="status-container update small">
      <span class="r-round active"></span>
    </div>
    <p class="font-regular-color">{{ device.battery_percent }}%</p>
    <div class="switch">
      <label>
        <input
          type="checkbox"
          [checked]="device.active_state"
          (change)="onChangeDeviceStateHandler(device)"
        />
        <span class="lever"></span>
      </label>
    </div>
    <div class="btns">
      <button
        class="modal-trigger sdm-only-icon sdm-dark-blue sdm-no-border r-round qr-code"
        (click)="onClickDeviceQRCodeHandler(device)"
        data-target="qr-code"
      >
        <span></span>
      </button>
      <button
        class="modal-trigger sdm-only-icon sdm-dark-blue sdm-no-border r-round edit"
        (click)="onClickDeviceEditHandler(device)"
        data-target="edit_device"
      >
        <span></span>
      </button>
      <button
        class="modal-trigger sdm-only-icon sdm-dark-blue sdm-no-border r-round delete"
        (click)="onClickDeviceDeleteHandler(device)"
        data-target="delete_device"
      >
        <span></span>
      </button>
    </div>
  </div>
</div>
