:host(app-map) {
  grid-area: main;
}

.card__header {
  border: none;
  padding-bottom: 25px;
}

.map-container {
  width: 100%;
  height: calc(100vh - 192px);
  border-radius: 8px;
}

.input-search {
  z-index: 9999;
}

.icon.icon-d-item {
  height: 14px;
  width: 14px;
  mask-size: 14px 14px;
  -webkit-mask-size: 14px 14px;
  background-color: var(--white);

  &.edit_device {
    mask-image: url('/assets/images/UI/pencil.svg');
    -webkit-mask-image: url('/assets/images/UI/pencil.svg');
  }
}

.search-list {
  margin-top: 15px;
  padding-top: 10px;
  overscroll-behavior: contain;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid var(--dark-blue);
  border-top: none;
  position: absolute;
  top: 116px;
  z-index: 999;
  height: auto;
  background-color: var(--white);
  width: 300px;
}

.search-item {
  padding: 8px;
  font-size: 16px;
  font-family: 'HelveticaNeueRoman', sans-serif;
  cursor: pointer;
}

input[type='search'] {
  background-color: var(--white) !important;
}
