.icon-menu-hamburger {
  height: 24px;
  width: 24px;

  mask-size: 24px 24px;
  mask-image: url("/assets/UI/hamburger.svg");
  -webkit-mask-size: 24px 24px;
  -webkit-mask-image: url("/assets/UI/hamburger.svg");

  background-color: var(--dark-blue);

  transition: background-color var(--transition-time) ease;

  &:hover {
    background-color: var(--blue);
  }
}
