.sidebar {
  &-wrapper {
    height: 100%;
    width: 280px;

    display: flex;
    flex-direction: column;

    padding: 24px 12px;

    border-radius: 14px;

    background-color: var(--light-blue);

    transition: width 0.4s ease;

    &.collapsed {
      width: 80px;
    }
  }

  &-header {
    display: flex;
    align-items: center;

    padding-left: 16px;

    overflow: hidden;

    .logo {
      height: 30px;
      width: 79px;

      margin-left: 16px;
    }
  }

  &-toggler {
    border-radius: 4px;

    transition: background-color 0.4s ease;

    .icon {
      mask-image: url('/assets/images/UI/hamburger.svg');

      background-color: var(--dark-blue);
    }

    &:hover {
      background-color: var(--light-blue-darker);
    }
  }

  &-content {
    margin-top: 25px;

    .nav {
      &-item {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &-link {
        padding: 8px 16px;

        display: flex;
        align-items: center;

        border-radius: 8px;

        overflow: hidden;

        .icon {
          height: 24px;
          width: 24px;

          flex-shrink: 0;

          background-color: var(--dark-blue-grey);

          &.devices {
            mask-size: 11px 16px;
            mask-image: url('/assets/images/UI/mobile.svg');
          }

          &.groups {
            mask-size: 19.2px 12.8px;
            mask-image: url('/assets/images/UI/devices_group.svg');
          }

          &.apps {
            mask-size: 20px 20px;
            mask-image: url('/assets/images/UI/apps.svg');
          }

          &.messages {
            mask-size: 20px 20px;
            mask-image: url('/assets/images/UI/message.svg');
          }

          &.map {
            mask-size: 14.4px 14.4px;
            mask-image: url('/assets/images/UI/map.svg');
          }

          &.configs {
            mask-size: 15px 16px;
            mask-image: url('/assets/images/UI/settings.svg');
          }

          &.users {
            mask-size: 16.18px 12px;
            mask-image: url('/assets/images/UI/users.svg');
          }

          &.help {
            mask-size: 19.2px 19.2px;
            mask-image: url('/assets/images/UI/faq.svg');
          }
        }

        &:hover {
          background-color: var(--light-blue-darker);
        }

        &.active {
          padding: 15px 16px;

          background-color: var(--blue);

          .icon {
            background-color: #fff;
          }

          .nav-text {
            color: #fff;
          }
        }

        transition: background-color 0.4s ease, padding-bottom 0.4s ease;
      }

      &-text {
        margin-left: 16px;

        color: var(--dark-blue-grey);

        white-space: nowrap;
      }

      &-divider {
        height: 2px;

        margin-bottom: 10px;

        background-color: var(--light-blue-grey);
      }
    }
  }

  &-bottom {
    margin-top: auto;
  }

  &-version {
    text-align: center;
  }
}
