<div
  class="input-select"
  [ngClass]="[width, color]"
  [class.opened]="!isDropdownHidden"
  [class.error]="isError"
>
  <div
    class="select-field"
    [class.filled]="!isDropdownHidden"
    [class.text-menu-title]="color === 'common'"
    (click)="toggleDropdown()">
    {{ currOption?.html }}
  </div>
  <ul
    class="select-content"
    [class.hidden]="isDropdownHidden"
  >
    <li
      *ngFor="let option of options; trackBy: identify"
      class="item"
      (click)="onSelectHandler(option)"
    >
      <p
        class="dropdown-item"
        [class.text-menu-title]="color === 'common'"
      >
        {{ option.html }}
      </p>
    </li>
  </ul>
</div>
