.input-select {
  position: relative;

  &.common {
    border: 1px solid var(--grey);
    border-radius: 16px;

    .select {
      &-field {
        height: 41px;
        width: calc(100% + 1px);

        padding: 15px 30px 11px 11px;

        border-radius: 16px;

        &.filled {
          background-color: var(--dark-blue);
          color: var(--white);
        }
      }

      &-content {
        width: calc(100% + 2px);

        padding-top: 44.44px;

        border: 1px solid var(--dark-blue);
        border-radius: 16px;

        .item {
          p {
            padding: 11px 30px 11px 11px;
          }

          &:first-child > p {
            margin-top: calc(0px - var(--input-height));
            padding-top: calc(11px + var(--input-height));
          }

          &:last-child {
            border-radius: 0 0 14px 14px;
          }

          &:hover {
            background-color: var(--dark-blue);
            color: var(--white);
          }
        }
      }
    }

    &:hover {
      border-color: var(--dark-blue);
    }

    &.error {
      border: 2px solid var(--error);
    }

    &.opened::after {
      background-color: var(--white);
    }

    &::after {
      height: 7.71px;
      width: 12.86px;

      top: 18.73px;
      right: 8.14px;

      mask-size: 12.86px 7.71px;
      -webkit-mask-size: 12.86px 7.71px;

      background-color: var(--dark-blue-grey);
    }
  }

  &.light {
    border: none;
    border-radius: 8px;

    .select {
      &-field {
        padding: 9px 25px 9px 8px;

        background-color: var(--light-blue-grey);
        color: var(--dark-blue);

        border-radius: 8px;
      }

      &-content {
        width: 100%;

        border-radius: 8px;

        color: var(--dark-blue);

        .item {
          p {
            padding: 8px;
          }

          &:first-child > p {
            margin-top: -30px;
            padding-top: 38px;
          }

          &:last-child {
            border-radius: 0 0 6px 6px;
          }

          &:hover {
            background-color: var(--light-blue-grey);
          }
        }
      }
    }

    &::after {
      height: 8px;
      width: 10px;

      top: 10.16px;
      right: 8.25px;

      mask-size: 10px 8px;
      -webkit-mask-size: 10px 8px;

      background-color: var(--dark-blue);
    }
  }

  .select {
    &-field {
      position: relative;

      top: -1px;
      left: -1px;

      text-align: left;

      background-color: transparent;

      cursor: pointer;
    }

    &-content {
      display: block;

      position: absolute;

      top: 0;
      left: -1px;

      background-color: var(--white);

      box-shadow: var(--box-shadow);

      overflow: hidden;

      &.hidden {
        display: none;
      }

      .item {
        cursor: pointer;
        transition:
          background-color var(--transition-time) ease,
          color var(--transition-time) ease;
      }
    }
  }

  &::after {
    display: block;

    position: absolute;

    content: '';

    mask-repeat: no-repeat;
    mask-position: center center;
    mask-image: url('/assets/UI/arrow_down.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-image: url('/assets/UI/arrow_down.svg');

    transition:
      transform var(--transition-time) ease,
      background-color var(--transition-time) ease;
  }

  &.opened {
    .select {
      &-field {
        z-index: 4;
      }

      &-content {
        z-index: 3;
      }
    }

    &::after {
      transform: rotate(180deg);

      z-index: 4;
    }
  }
}
