<div
  class="input-select"
  [ngClass]="selectWidth"
  [class.opened]="!isDropdownHidden"
  [class.error]="isError"
>
  <div
    [class.filled]="!isDropdownHidden"
    (click)="toggleDropdown()"
  >
    {{ currOption?.html }}
  </div>
  <ul
    class="select-content"
    [class.hidden]="isDropdownHidden"
  >
    <li
      *ngFor="let option of options; trackBy: identify"
      class="item"
      (click)="setCurrentHTML(option)"
    >
      <p class="text-menu-title dropdown-item">{{ option.html }}</p>
    </li>
  </ul>
</div>
