.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}

.filter-btn-wrapper {
  flex: 1;
}

table {
  width: 100%;
}
th,
td {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}
th {
  padding: 18px 0;
}
.table-row {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(120px, 4fr)
    minmax(60px, 1fr)
    minmax(120px, 4fr)
    minmax(60px, 1fr)
    minmax(120px, 2fr)
    minmax(60px, 1fr)
    minmax(70px, 1fr)
    minmax(80px, 1fr);
  font-size: 12px;
  line-height: 12px;
}
.app-item {
  height: 60px;
  margin-bottom: 10px;
  background: white;
  border-radius: 14px;
  box-shadow: var(--box-shadow);
  &__img {
    margin: 0 10px;
    height: 30px;
    width: 30px;
    border-radius: 8px;
  }
  &__title {
    margin-right: 8px;
  }
  &__pkg {
    margin-right: 12px;
  }
  &__order {
    padding-left: 12px;
  }
  & .text-note {
    margin-top: 7px;
    color: var(--dark-grey);
  }
}

.checkbox-round {
  height: 16px;
  width: 16px;
  background-color: var(--grey);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  & .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & svg polyline {
    fill: none;
    stroke: #fff;
    stroke-width: 1.3;
    stroke-dasharray: 20;
    stroke-dashoffset: 27;
    transition: all 0.3s ease;
  }
}

input[type="checkbox"] {
  &:hover + .checkbox-round,
  &:focus-visible + .checkbox-round {
    background-color: var(--light-blue);
  }

  &:checked + .checkbox-round {
    background-color: var(--dark-blue);
    & svg polyline {
      stroke-dasharray: 19.7;
      stroke-dashoffset: 6.8;
    }
  }

  &:checked:hover + .checkbox-round,
  &:checked:focus-visible + .checkbox-round {
    background-color: var(--blue);
  }
}

.select-app-action {
  padding: 9px 8px;
  background: #f7f7f7;
  color: var(--dark-blue);
  border: none;
  border-radius: 8px;
}
.input-number {
  width: 40px;
  padding: 7px;
  padding-right: 0;
  background: #f7f7f7;
  font-size: 12px;
  line-height: 12px;
  border: none;
  border-radius: 8px;
}
