.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}

.filter-btn-wrapper {
  flex: 1;
}

table {
  width: 100%;
}
th,
td {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}
th {
  padding: 18px 0;
}
.table-row {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(120px, 4fr)
    minmax(60px, 1fr)
    minmax(120px, 4fr)
    minmax(60px, 1fr)
    minmax(120px, 2fr)
    minmax(60px, 1fr)
    minmax(70px, 1fr)
    minmax(80px, 1fr);
  font-size: 12px;
  line-height: 12px;
}
.app-item {
  height: 60px;
  margin-bottom: 10px;
  background: white;
  border-radius: 14px;
  box-shadow: var(--box-shadow);
  &__img {
    margin: 0 10px;
    height: 30px;
    width: 30px;
    border-radius: 8px;
  }
  &__title {
    margin-right: 8px;
  }
  &__pkg {
    margin-right: 12px;
  }
  &__order {
    padding-left: 12px;
  }
  & .text-note {
    margin-top: 7px;
    color: var(--dark-grey);
  }
}

.icon-container {
  height: 16px;
  width: 16px;
  background-color: var(--dark-blue);
  border-radius: 8px;
  .icon {
    height: 16px;
    width: 16px;
    display: block;
    background-color: var(--white);
    &.on {
      mask-size: 10px 10px;
      mask-image: url("/assets/UI/check.svg");
      -webkit-mask-size: 10px 10px;
      -webkit-mask-image: url("/assets/UI/check.svg");
    }
    &.off {
      mask-size: 10px 10px;
      mask-image: url("/assets/UI/check.svg");
      -webkit-mask-size: 10px 10px;
      -webkit-mask-image: url("/assets/UI/check.svg");
    }
  }
}

.select-app-action {
  padding: 9px 8px;
  background: #f7f7f7;
  color: var(--dark-blue);
  border: none;
  border-radius: 8px;
}
.input-number {
  width: 40px;
  padding: 7px;
  padding-right: 0;
  background: #f7f7f7;
  font-size: 12px;
  line-height: 12px;
  border: none;
  border-radius: 8px;
}
