<div class="app-header">
  <app-input-search
    [value]="searchParam"
    (onChange)="onChangeSearch($event)"
  ></app-input-search>
  <div class="filter-btn-wrapper">
    <app-button
      title="Показать/скрыть системные приложения"
      [text]="'системное приложение'"
      [textLike]="'like-body'"
      [height]="'30px'"
      [padding]="'9px 14px'"
      [radius]="'15px'"
      [color]="isOnlySystemApps ? 'blue' : 'common'"
      (onCLick)="toggleSystemApps()"
    ></app-button>
  </div>
  <app-add-button
    [title]="'добавить приложение'"
    [target]="'add_app_config'"
    (click)="setModalAddAppOpen()"
  ></app-add-button>
</div>

<ng-container *ngIf="loading; else dummy">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</ng-container>
<ng-template #dummy>
  <div class="dummy"></div>
</ng-template>

<table *ngIf="appsInConfig && appsInConfig!.length > 0; else nodata">
  <thead>
    <tr class="table-row">
      <th class="sort-btn-wrapper" style="padding-left: 50px">
        <app-sort-btn
          [title]="'Название'"
          [isSortAsc]="isNameSortAsc"
          (onCLick)="toggleName()"
        ></app-sort-btn>
      </th>
      <th>Версия</th>
      <th>ID пакета</th>
      <th class="sort-btn-wrapper">
        <app-sort-btn
          [title]="'Размер'"
          [isSortAsc]="isSizeSortAsc"
          (onCLick)="toggleSize()"
        ></app-sort-btn>
      </th>
      <th>Действия</th>
      <th style="justify-content: center">Ярлык</th>
      <th class="sort-btn-wrapper">
        <app-sort-btn
          [title]="'Порядок'"
          [isSortAsc]="isPositionSortAsc"
          (onCLick)="togglePosition()"
        ></app-sort-btn>
      </th>
      <th>Закреп снизу</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="app-item table-row"
      *ngFor="
        let app of apps
          | appsConfig: appsInConfig:true
          | search: searchParam:'app'
          | apps_system: isOnlySystemApps
          | apps_name: isNameSortAsc
          | apps_size: isSizeSortAsc
      "
    >
      <td class="app-item__title">
        <img
          class="app-item__img"
          [src]="
            app.iconUID !== '' ? url + app.ID : '/assets/config-images/app.png'
          "
          alt="{{ app.iconText }}"
        />

        <div class="title app-item__name">
          <p class="text-choose">{{ app.name }}</p>
          <p *ngIf="app.system" class="text-note">Системное приложение</p>
        </div>
      </td>
      <td class="app-item__version">{{ app.version }}</td>
      <td class="app-item__pkg">{{ app.pkg }}</td>
      <td class="app-item__file-size">
        {{ app.fileByteSize | fileSize }}
      </td>
      <td>
        <select
          name="action"
          id="action-{{ app.ID }}"
          class="select-app-action"
          (change)="setAction(app.ID, $event)"
        >
          <option
            [value]="'0'"
            [selected]="removedAppsInConfig.includes(app.ID)"
          >
            Удалить
          </option>
          <option
            [value]="'1'"
            [selected]="
              installedAppsInConfig.includes(app.ID) ||
              !removedAppsInConfig.includes(app.ID)
            "
          >
            Установить
          </option>
        </select>
      </td>
      <td class="row center app-item__icon">
        <label class="checkbox-wrapper" for="icon-{{ app.ID }}">
          <input
            type="checkbox"
            name="params"
            class="visually-hidden"
            id="icon-{{ app.ID }}"
            [checked]="app.showIcon"
            (change)="toggleIcon(app.ID)"
          />
          <div class="checkbox-round">
            <span class="icon">
              <svg width="16" height="16" viewBox="0 0 16 16">
                <polyline
                  points="12.67,4.33 6.5,10.67 3.33,8 12.67,8"
                ></polyline>
              </svg>
            </span>
          </div>
        </label>
      </td>
      <td class="app-item__order">
        <input
          *ngIf="app.showIcon"
          type="number"
          name="order"
          id="order-{{ app.ID }}"
          class="input-number"
          min="0"
          max="12"
          [value]="app.screenOrder"
          (change)="changeOrder(app.ID, $event)"
        />
      </td>
      <td class="row center app-item__icon">
        <label
          class="checkbox-wrapper"
          for="fix-{{ app.ID }}"
          *ngIf="app.showIcon"
        >
          <input
            type="checkbox"
            name="params"
            class="visually-hidden"
            id="fix-{{ app.ID }}"
            [checked]="app.bottom"
            (change)="toggleFix(app.ID)"
          />
          <div class="checkbox-round">
            <span class="icon">
              <svg width="16" height="16" viewBox="0 0 16 16">
                <polyline
                  points="12.67,4.33 6.5,10.67 3.33,8 12.67,8"
                ></polyline>
              </svg>
            </span>
          </div>
        </label>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #nodata>
  <div style="margin-top: 32px; text-align: center">Нет приложений</div>
</ng-template>
