<form (ngSubmit)="login(user.login, user.last_password)" class="card auth-card">
  <div class="card-content">
    <span class="card-title">Авторизация</span>
    <div class="formGroup">
      <input
        [(ngModel)]="user.login"
        id="login"
        type="text"
        name="login"
        required
      />
      <label for="login">Логин</label>
    </div>
    <div class="formGroup">
      <input
        [(ngModel)]="user.last_password"
        name="password"
        id="password"
        type="password"
        required
      />
      <label for="password">Пароль</label>
      <small class="helper-text invalid"></small>
    </div>
  </div>
  <div style="display: flex; justify-content: center">
    <p
      *ngIf="error === 'wrong password or login'"
      class="helper-text red-text invalid"
    >
      Неверный логин или пароль
    </p>
    <p
      *ngIf="error === 'you are deactivated'"
      class="helper-text red-text invalid"
    >
      Учетная запись была деаткивирована
    </p>
  </div>
  <div class="card-action">
    <div>
      <button
        class="btn-small blue lighten-1"
        type="submit"
        [disabled]="
          user.login.trim() === '' || user.last_password.trim() === ''
        "
      >
        Войти
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>
