<app-modal [modalID]="'modal-add-config'" [isClosable]="true">
  <div class="modal-form w-700">
    <h4 i18n class="modal-title">Добавить конфигурацию</h4>
    <form [formGroup]="_form" class="form">
      <div class="form__item">
        <label i18n for="name">Название</label>
        <input
          formControlName="name"
          type="text"
          id="name"
          class="w-440"
          required
        />
      </div>
      <div class="form__item">
        <label i18n for="description">Описание</label>
        <input
          formControlName="description"
          type="text"
          id="description"
          class="w-440"
          required
        />
      </div>
      <div class="form__item">
        <label i18n>Создать на основе</label>
        <select class="select-native w-440" formControlName="prototype">
          <option i18n [ngValue]="'Стандартная конфигурация'" selected>
            Конфигурация по умолчанию
          </option>
          <option value="{{ config.name }}" *ngFor="let config of _configs">
            {{ config.name }}
          </option>
        </select>
      </div>
    </form>
    <div class="modal-form-footer btn-wrapper">
      <button i18n (click)="onCloseHandler()" class="btn btn--big">
        Добавить
      </button>
      <button i18n class="btn btn--big btn--outline" (click)="closeModal()">
        Отменить
      </button>
    </div>
  </div>
</app-modal>
