.icon-sort {
  height: 17px;
  width: 14px;
  background-size: 17px 14px;
  background-repeat: no-repeat;
  background-position: center center;

  &.asc {
    background-image: url('/assets/images/UI/sort_down.svg');
  }
  &.desc {
    background-image: url('/assets/images/UI/sort_up.svg');
  }
}
