.icon-a-item {
  height: 14px;
  width: 14px;
  mask-size: 14px 14px;
  -webkit-mask-size: 14px 14px;
  background-color: var(--white);

  &.edit_app {
    mask-image: url('/assets/images/UI/pencil.svg');
    -webkit-mask-image: url('/assets/images/UI/pencil.svg');
  }
  &.delete_app {
    mask-image: url('/assets/images/UI/trash.svg');
    -webkit-mask-image: url('/assets/images/UI/trash.svg');
  }
}
