<app-modal [modalID]="'file_add'" [isClosable]="true">
  <div class="modal-form w-700">
    <div class="modal-form-header">
      <h4 class="text-title text-center">Добавить файл на устройство</h4>
    </div>
    <hr class="divider" />
    <div class="modal-form-body">
      <form [formGroup]="_form">
        <div class="form-group-wrapper file">
          <label for="file" class="text-menu-title"> Файл </label>
          <app-input-file
            [control]="$any(_file)"
            [name]="'file'"
            [width]="'w-440'"
            [isError]="_isSubmitted && !!_file?.errors"
            (onChange)="onInputFileChangeHandler($event)"
          ></app-input-file>
          <app-input-alert
            *ngIf="_isSubmitted && !!_file?.errors"
            style="width: 500px; position: absolute; top: -37px; right: 0"
            [control]="$any(_file)"
            [type]="'error'"
          ></app-input-alert>
        </div>
      </form>
    </div>
    <div class="modal-form-footer">
      <app-modal-action-btns
        [submitText]="'Сохранить'"
        [cancelText]="'Отменить'"
        [margin]="'66px'"
        [isSubmitBtnDisabled]="isDataFetching"
        (onSubmit)="onSubmitHandler()"
        (onCancel)="onCancelHandler()"
      ></app-modal-action-btns>
    </div>
  </div>
</app-modal>
