<span
  class="alert"
  [ngClass]="type"
>
  <ng-container *ngIf="control.hasError('required')">
    Данное поле должно быть заполнено
  </ng-container>
  <ng-container *ngIf="control.hasError('pattern')">
    Недопустимый формат поля
  </ng-container>
  <ng-container *ngIf="control.hasError('min')">
    Недопустимый минимальный размер поля
  </ng-container>
  <ng-container *ngIf="control.hasError('minlength')">
    Недопустимый минимальный размер поля
  </ng-container>
  <ng-container *ngIf="control.hasError('max')">
    Недопустимый максимальный размер поля
  </ng-container>
  <ng-container *ngIf="control.hasError('maxlength')">
    Недопустимый максимальный размер поля
  </ng-container>
  <ng-container *ngIf="control.hasError('pass-mismatch')">
    Пароли не совпадают
  </ng-container>
  <ng-container *ngIf="control.invalid" class="alert error">
    {{ control.errors?.['invalid'] }}
  </ng-container>

  <ng-container *ngIf="message">{{ message }}</ng-container>
</span>
