<main class="global-main card-wrapper">
  <div class="card card--sidebar">
    <div class="card__header card-title">Настройки</div>
    <div class="tabs-wrapper" (click)="setActive($event)">
      <div class="tab tab--active" tabindex="0">Общие</div>
      <div class="tab" tabindex="0">Использование функций</div>
      <div class="tab" tabindex="0">Дизайн</div>
      <div class="tab" tabindex="0">Приложения</div>
      <div class="tab" tabindex="0">Управление</div>
    </div>
    <div class="btn-wrapper">
      <button class="btn btn--big" (click)="goBack()">
        Назад в конфигурации
      </button>
    </div>
  </div>

  <ng-template #loader>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </ng-template>

  <div class="card">
    <form [formGroup]="configForm" *ngIf="config; else loader">
      <!--        ОБЩИЕ           -->
      <div class="form__tab">
        <div class="card__header card-title">Общие</div>
        <div class="config-settings">
          <div class="form__elems w-740">
            <div class="form__item">
              <label for="configName">Название</label>
              <input
                formControlName="name"
                type="text"
                id="configName"
                class="w-500"
                required
              />
            </div>
            <div class="form__item">
              <label for="description">Описание</label>
              <input
                formControlName="description"
                type="text"
                id="description"
                class="w-500"
                required
              />
            </div>
            <div class="form__item">
              <label>Время Keep-Alive</label>
              <div class="w-500">
                <div class="range-slider">
                  <input
                    type="radio"
                    formControlName="keepaliveTime"
                    [value]="60"
                    class="visually-hidden"
                    id="60"
                    checked
                  />
                  <label
                    class="range-slider__label"
                    data-label="1 мин"
                    for="60"
                  ></label>
                  <input
                    type="radio"
                    formControlName="keepaliveTime"
                    [value]="120"
                    class="visually-hidden"
                    id="120"
                  />
                  <label
                    class="range-slider__label"
                    data-label="2 мин"
                    for="120"
                  ></label>
                  <input
                    type="radio"
                    formControlName="keepaliveTime"
                    [value]="180"
                    class="visually-hidden"
                    id="180"
                  />
                  <label
                    class="range-slider__label"
                    data-label="3 мин"
                    for="180"
                  ></label>
                  <input
                    type="radio"
                    formControlName="keepaliveTime"
                    [value]="300"
                    class="visually-hidden"
                    id="300"
                  />
                  <label
                    class="range-slider__label"
                    data-label="5 мин"
                    for="300"
                  ></label>
                  <input
                    type="radio"
                    formControlName="keepaliveTime"
                    [value]="600"
                    class="visually-hidden"
                    id="600"
                  />
                  <label
                    class="range-slider__label"
                    data-label="10 мин"
                    for="600"
                  ></label>
                  <input
                    type="radio"
                    formControlName="keepaliveTime"
                    [value]="900"
                    class="visually-hidden"
                    id="900"
                  />
                  <label
                    class="range-slider__label"
                    data-label="15 мин"
                    for="900"
                  ></label>
                  <div class="range-slider__progress"></div>
                </div>
              </div>
            </div>
            <div class="form__item">
              <label>Обновление системы</label>
              <div class="tags-container w-500">
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="systemUpdateType"
                    type="radio"
                    [value]="2"
                  />
                  <span class="custom-radio__span">по расписанию</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="systemUpdateType"
                    type="radio"
                    [value]="3"
                  />
                  <span class="custom-radio__span">по запросу</span>
                </label>
              </div>
            </div>
            <div
              class="form__item"
              *ngIf="configForm.get('systemUpdateType')?.value == 2"
            >
              <label for="systemUpdateTime">Время обновления</label>
              <div class="w-500">
                <input
                  formControlName="systemUpdateTime"
                  type="time"
                  id="systemUpdateTime"
                  required
                />
              </div>
            </div>
            <div class="form__item">
              <label for="configUpdateTime">Обновление конфигурации</label>
              <div class="w-500">
                <input
                  formControlName="configUpdateTime"
                  type="time"
                  id="configUpdateTime"
                  required
                />
                <span
                  class="hint"
                  title="Время автоматического обновления конфигурации на устройствах"
                  >?
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--        Использование функций           -->
      <div class="form__tab" style="display: none">
        <div class="card__header card-title">Использование функций</div>
        <div class="config-settings form__elems">
          <div class="form__item settings-card-wrapper">
            <div class="settings-card">
              <div class="settings-card__content">
                <div
                  class="settings-card__img settings-card__img--location"
                ></div>
                <div class="settings-card__text">
                  <div class="settings-card__title">GPS</div>
                  <div class="settings-card__description">
                    Определение местоположения
                  </div>
                </div>
              </div>
              <div class="settings-card__btns">
                <!--                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="GPS"
                    type="radio"
                    [value]="null"
                  />
                  <span class="custom-radio__span">разрешено</span>
                </label>-->
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="GPS"
                    type="radio"
                    [value]="true"
                  />
                  <span class="custom-radio__span">вкл</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="GPS"
                    type="radio"
                    [value]="false"
                    (click)="showAlert()"
                  />
                  <span class="custom-radio__span">выкл</span>
                </label>
              </div>
            </div>
            <div class="settings-card">
              <div class="settings-card__content">
                <div
                  class="settings-card__img settings-card__img--bluetooth"
                ></div>
                <div class="settings-card__text">
                  <div class="settings-card__title">Bluetooth</div>
                  <div class="settings-card__description">Передача файлов</div>
                </div>
              </div>
              <div class="settings-card__btns">
                <!--                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="bluetooth"
                    type="radio"
                    [value]="null"
                  />
                  <span class="custom-radio__span">разрешено</span>
                </label>-->
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="bluetooth"
                    type="radio"
                    [value]="true"
                  />
                  <span class="custom-radio__span">вкл</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="bluetooth"
                    type="radio"
                    [value]="false"
                  />
                  <span class="custom-radio__span">выкл</span>
                </label>
              </div>
            </div>
            <div class="settings-card">
              <div class="settings-card__content">
                <div class="settings-card__img settings-card__img--wifi"></div>
                <div class="settings-card__text">
                  <div class="settings-card__title">WI-FI</div>
                  <div class="settings-card__description">
                    Подключение к сети
                  </div>
                </div>
              </div>
              <div class="settings-card__btns">
                <!--                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="wifi"
                    type="radio"
                    [value]="null"
                  />
                  <span class="custom-radio__span">разрешено</span>
                </label>-->
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="wifi"
                    type="radio"
                    [value]="true"
                  />
                  <span class="custom-radio__span">вкл</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="wifi"
                    type="radio"
                    [value]="false"
                    [attr.disabled]="
                      configForm.get('mobileData')?.value ? null : true
                    "
                  />
                  <span class="custom-radio__span">выкл</span>
                </label>
              </div>
            </div>
            <div class="settings-card">
              <div class="settings-card__content">
                <div class="settings-card__img settings-card__img--nfc"></div>
                <div class="settings-card__text">
                  <div class="settings-card__title">NFC</div>
                  <div class="settings-card__description">
                    Бесконтактная передача данных
                  </div>
                </div>
              </div>
              <div class="settings-card__btns">
                <!--                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="bluetooth"
                    type="radio"
                    [value]="null"
                  />
                  <span class="custom-radio__span">разрешено</span>
                </label>-->
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="nfcState"
                    type="radio"
                    [value]="true"
                  />
                  <span class="custom-radio__span">вкл</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="nfcState"
                    type="radio"
                    [value]="false"
                  />
                  <span class="custom-radio__span">выкл</span>
                </label>
              </div>
            </div>
            <div class="settings-card">
              <div class="settings-card__content">
                <div
                  class="settings-card__img settings-card__img--network"
                ></div>
                <div class="settings-card__text">
                  <div class="settings-card__title">Интернет</div>
                  <div class="settings-card__description">Мобильная сеть</div>
                </div>
              </div>
              <div class="settings-card__btns">
                <!--                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="mobileData"
                    type="radio"
                    [value]="null"
                  />
                  <span class="custom-radio__span">разрешено</span>
                </label>-->
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="mobileData"
                    type="radio"
                    [value]="true"
                  />
                  <span class="custom-radio__span">вкл</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="mobileData"
                    type="radio"
                    [value]="false"
                    [attr.disabled]="
                      configForm.get('wifi')?.value ? null : true
                    "
                  />
                  <span class="custom-radio__span">выкл</span>
                </label>
              </div>
            </div>
          </div>
          <div class="two-columns">
            <div class="form__elems">
              <div class="font-bold">Громкость:</div>
              <div class="form__item">
                <label class="switch">
                  Отключить звук
                  <input
                    formControlName="lockVolume"
                    id="lockVolume"
                    type="checkbox"
                  />
                  <span aria-hidden="true"></span>
                </label>
              </div>
              <div class="form__item">
                <label class="switch">
                  Управление громкостью
                  <input
                    formControlName="manageVolume"
                    id="manageVolume"
                    type="checkbox"
                  />
                  <span aria-hidden="true"></span>
                </label>
              </div>
              <div
                *ngIf="configForm.get('manageVolume')?.value == true"
                class="form__item"
              >
                <div class="range-wrapper w-500">
                  <div class="range">
                    <input
                      type="range"
                      min="0"
                      max="100"
                      step="10"
                      formControlName="volume"
                      id="volume"
                      list="volumelist"
                    />
                    <datalist class="range__list" id="volumelist">
                      <option value="0" class="range__opt" label="0">0</option>
                      <option value="10" class="range__opt" label="10">
                        10
                      </option>
                      <option value="20" class="range__opt" label="20">
                        20
                      </option>
                      <option value="30" class="range__opt" label="30">
                        30
                      </option>
                      <option value="40" class="range__opt" label="40">
                        40
                      </option>
                      <option value="50" class="range__opt" label="50">
                        50
                      </option>
                      <option value="60" class="range__opt" label="60">
                        60
                      </option>
                      <option value="70" class="range__opt" label="70">
                        70
                      </option>
                      <option value="80" class="range__opt" label="80">
                        80
                      </option>
                      <option value="90" class="range__opt" label="90">
                        90
                      </option>
                      <option value="100" class="range__opt" label="100">
                        100
                      </option>
                    </datalist>
                  </div>
                </div>
              </div>
            </div>
            <div class="form__elems">
              <div class="font-bold">Экран:</div>
              <div class="form__item">
                <label class="switch">
                  Разрешить скриншоты
                  <input
                    formControlName="disableScreenshots"
                    id="disableScreenshots"
                    type="checkbox"
                  />
                  <span aria-hidden="true"></span>
                </label>
              </div>
              <div class="form__item">
                <label class="switch">
                  Управление таймаутом экрана
                  <input
                    formControlName="manageTimeout"
                    id="manageTimeout"
                    type="checkbox"
                  />
                  <span aria-hidden="true"></span>
                </label>
              </div>
              <div
                *ngIf="configForm.get('manageTimeout')?.value == true"
                class="form__item"
              >
                <div class="range-slider timeout-slider">
                  <input
                    type="radio"
                    formControlName="timeout"
                    [value]="15"
                    class="visually-hidden"
                    id="15t"
                    checked
                  />
                  <label
                    class="range-slider__label"
                    data-label="15 сек"
                    for="15t"
                  ></label>
                  <input
                    type="radio"
                    formControlName="timeout"
                    [value]="30"
                    class="visually-hidden"
                    id="30t"
                    checked
                  />
                  <label
                    class="range-slider__label"
                    data-label="30 сек"
                    for="30t"
                  ></label>
                  <input
                    type="radio"
                    formControlName="timeout"
                    [value]="60"
                    class="visually-hidden"
                    id="60t"
                    checked
                  />
                  <label
                    class="range-slider__label"
                    data-label="1 мин"
                    for="60t"
                  ></label>
                  <input
                    type="radio"
                    formControlName="timeout"
                    [value]="120"
                    class="visually-hidden"
                    id="120t"
                  />
                  <label
                    class="range-slider__label"
                    data-label="2 мин"
                    for="120t"
                  ></label>
                  <input
                    type="radio"
                    formControlName="timeout"
                    [value]="300"
                    class="visually-hidden"
                    id="300t"
                  />
                  <label
                    class="range-slider__label"
                    data-label="5 мин"
                    for="300t"
                  ></label>
                  <input
                    type="radio"
                    formControlName="timeout"
                    [value]="600"
                    class="visually-hidden"
                    id="600t"
                  />
                  <label
                    class="range-slider__label"
                    data-label="10 мин"
                    for="600t"
                  ></label>
                  <input
                    type="radio"
                    formControlName="timeout"
                    [value]="1800"
                    class="visually-hidden"
                    id="1800t"
                  />
                  <label
                    class="range-slider__label"
                    data-label="30 мин"
                    for="1800t"
                  ></label>
                  <div class="range-slider__progress"></div>
                </div>
              </div>
              <div class="form__item">
                <label class="switch">
                  Управление яркостью экрана
                  <input
                    [value]="manageBrightness"
                    type="checkbox"
                    (click)="toggleBrightness()"
                  />
                  <span aria-hidden="true"></span>
                </label>
              </div>
              <ng-container *ngIf="manageBrightness">
                <div class="form__item">
                  <label class="switch">
                    Автоматическая яркость экрана
                    <input
                      formControlName="autoBrightness"
                      id="autoBrightness"
                      type="checkbox"
                    />
                    <span aria-hidden="true"></span>
                  </label>
                </div>
                <div
                  *ngIf="configForm.get('autoBrightness')?.value === false"
                  class="form__item"
                >
                  <div class="range-wrapper">
                    <div class="range">
                      <input
                        type="range"
                        min="0"
                        max="255"
                        step="25.5"
                        formControlName="brightness"
                        id="brightness"
                        list="bright"
                      />
                      <datalist class="range__list" id="bright">
                        <option value="0" class="range__opt" label="0">
                          0
                        </option>
                        <option value="25.5" class="range__opt" label="10">
                          10
                        </option>
                        <option value="51" class="range__opt" label="20">
                          20
                        </option>
                        <option value="76.5" class="range__opt" label="30">
                          30
                        </option>
                        <option value="102" class="range__opt" label="40">
                          40
                        </option>
                        <option value="127.5" class="range__opt" label="50">
                          50
                        </option>
                        <option value="153" class="range__opt" label="60">
                          60
                        </option>
                        <option value="178.5" class="range__opt" label="70">
                          70
                        </option>
                        <option value="204" class="range__opt" label="80">
                          80
                        </option>
                        <option value="229.5" class="range__opt" label="90">
                          90
                        </option>
                        <option value="255" class="range__opt" label="100">
                          100
                        </option>
                      </datalist>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!--        Дизайн           -->
      <div class="form__tab" style="display: none">
        <div class="card__header card-title">Дизайн</div>
        <div class="config-settings two-columns">
          <div class="form__elems">
            <!--            <div class="form__item w-500">
              <label class="switch">
                Использовать дизайн по умолчанию
                <input
                  formControlName="useDefaultDesignSettings"
                  id="useDefaultDesignSettings"
                  type="checkbox"
                />
                <span aria-hidden="true"></span>
              </label>
            </div>-->
            <ng-container
              *ngIf="!configForm.get('useDefaultDesignSettings')?.value"
            >
              <div class="form__item w-500">
                <label for="desktopHeader">Заголовок рабочего стола</label>
                <select
                  class="select-native w-267"
                  formControlName="desktopHeader"
                  id="desktopHeader"
                >
                  <option [ngValue]="'NO_HEADER'">Нет</option>
                  <option [ngValue]="'DEVICE_ID'">ID устройства</option>
                  <option [ngValue]="'DESCRIPTION'">Описание</option>
                  <option [ngValue]="'TEMPLATE'">Шаблон</option>
                </select>
              </div>
              <div
                class="form__item w-500"
                *ngIf="configForm.get('desktopHeader')?.value == 'TEMPLATE'"
              >
                <label for="desktopHeaderTemplate">Шаблон заголовка</label>
                <input
                  formControlName="desktopHeaderTemplate"
                  type="text"
                  id="desktopHeaderTemplate"
                  class="w-267"
                  placeholder="Используйте deviceId, description, custom1..."
                />
              </div>
              <div class="font-bold">Цвет</div>
              <div class="form__item w-500">
                <div class="colors-wrapper">
                  <div class="colors">
                    <label for="backgroundColor">Фон</label>
                    <div
                      class="input-color"
                      [class.fit]="bgImg"
                      [class.set]="!bgImg"
                    >
                      <input
                        type="color"
                        formControlName="backgroundColor"
                        id="backgroundColor"
                        [value]="'#557ebe'"
                      />
                      <span *ngIf="!bgImg">{{
                        configForm.value.backgroundColor
                      }}</span>
                    </div>
                    <div class="input-color fit" [class.set]="bgImg">
                      <label for="input-bg">
                        <input
                          (change)="addBgFile($event)"
                          type="file"
                          class="visually-hidden"
                          style="position: absolute"
                          id="input-bg"
                          accept="image/*"
                        />
                        <div class="btn btn--flat btn--rounded add-bg-btn">
                          <span></span>
                        </div>
                      </label>
                      <span
                        class="bg-placeholder"
                        [class.bg-placeholder--active]="bgImg"
                      >
                        <span class="filename" [class.hidden]="!bgImg"></span>
                        <button
                          (click)="clearInputFile()"
                          type="button"
                          class="btn btn--flat btn--action"
                          [class.hidden]="!bgImg"
                        >
                          <i class="tiny material-icons">clear</i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="colors">
                    <label for="textColor">Надписи</label>
                    <div class="input-color">
                      <input
                        type="color"
                        formControlName="textColor"
                        id="textColor"
                        value="#ffffff"
                      />
                      <span>{{ configForm.value.textColor }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="font-bold">Размер значков</div>
              <div class="form__item">
                <div class="tags-container">
                  <label class="custom-radio">
                    <input
                      class="visually-hidden"
                      formControlName="iconSize"
                      type="radio"
                      [value]="'100'"
                    />
                    <span class="custom-radio__span">Маленькие</span>
                  </label>
                  <label class="custom-radio">
                    <input
                      class="visually-hidden"
                      formControlName="iconSize"
                      type="radio"
                      [value]="'120'"
                    />
                    <span class="custom-radio__span">Средние + 20%</span>
                  </label>
                  <label class="custom-radio">
                    <input
                      class="visually-hidden"
                      formControlName="iconSize"
                      type="radio"
                      [value]="'140'"
                    />
                    <span class="custom-radio__span">Большие + 40%</span>
                  </label>
                </div>
              </div>
            </ng-container>
            <div class="font-bold">Ориентация</div>
            <div class="form__item">
              <div class="tags-container">
                <label class="orientation">
                  <input
                    class="visually-hidden"
                    formControlName="orientation"
                    type="radio"
                    [value]="0"
                  />
                  <div class="orientation__card">
                    <img src="/assets/config-images/rotate.svg" alt="" />
                  </div>
                  <span class="orientation__span">Поворот</span>
                </label>
                <label class="orientation">
                  <input
                    class="visually-hidden"
                    formControlName="orientation"
                    type="radio"
                    [value]="1"
                  />
                  <div class="orientation__card">
                    <img src="/assets/config-images/portrait.svg" alt="" />
                  </div>
                  <span class="orientation__span">Вертикально</span>
                </label>
                <label class="orientation">
                  <input
                    class="visually-hidden"
                    formControlName="orientation"
                    type="radio"
                    [value]="2"
                  />
                  <div class="orientation__card">
                    <img src="/assets/config-images/landscape.svg" alt="" />
                  </div>
                  <span class="orientation__span">Горизонтально</span>
                </label>
              </div>
            </div>
          </div>

          <app-interface
            [title]="
              configForm.get('desktopHeader')?.value === 'DESCRIPTION'
                ? configForm.get('description')?.value
                : configForm.get('desktopHeader')?.value === 'TEMPLATE'
                ? configForm.get('desktopHeaderTemplate')?.value
                : configForm.get('desktopHeader')?.value || ''
            "
            [bgColor]="configForm.get('backgroundColor')?.value || ''"
            [bgImg]="bgImg"
            [textColor]="configForm.get('textColor')?.value || ''"
            [iconSize]="configForm.get('iconSize')?.value || ''"
            [orientation]="configForm.get('orientation')?.value || 0"
          ></app-interface>
        </div>
      </div>
      <!--        Приложения           -->
      <div class="form__tab" style="display: none">
        <div class="card__header card-title">Приложения</div>
        <div class="config-settings">
          <app-apps-config
            [apps]="apps"
            [configId]="config.ID"
            [isModalAddAppOpen]="isModalAddAppOpen"
            [appsInConfig]="config.applications ? config.applications : []"
            [installedAppsInConfig]="
              config.installedApps ? config.installedApps : []
            "
            [removedAppsInConfig]="config.removedApps ? config.removedApps : []"
            (onSave)="editApp($event)"
            (onChangeAction)="toggleApp($event)"
            (onOpenModal)="isModalAddAppOpen = $event"
          ></app-apps-config>
        </div>
      </div>
      <!--        Управление           -->
      <div class="form__tab" style="display: none">
        <div class="card__header card-title">Управление</div>
        <div class="config-settings">
          <div class="form__elems w-740">
            <!--   Киоск и безопасные настройки  -->
            <!--            <div class="form__item w-267">
              <label class="switch">
                Безопасные настройки
                <input
                  formControlName="lockSafeSettings"
                  id="lockSafeSettings"
                  type="checkbox"
                />
                <span aria-hidden="true"></span>
              </label>
            </div>
            <div class="form__item w-267">
              <label class="switch">
                <div>
                  Режим киоска
                  <p
                    class="hint"
                    title="Функция выбора одного приложения на устройстве, без доступа к остальному интерфейсу"
                  >
                    ?
                  </p>
                </div>
                <input
                  formControlName="kioskMode"
                  id="kioskMode"
                  type="checkbox"
                />
                <span aria-hidden="true"></span>
              </label>
            </div>
            <div
              class="form__item"
              *ngIf="configForm.get('kioskMode')?.value == true"
            >
              <label for="mainApp">Приложение-киоск</label>
              <select
                class="select-native w-500"
                formControlName="mainApp"
                id="mainApp"
              >
                <ng-container
                  *ngFor="
                    let app of apps
                      | appsConfig: config.applications:true
                      | appsConfig: config.removedApps:false
                  "
                >
                  <option [ngValue]="app.name">
                    {{ app.name }}
                  </option>
                  &lt;!&ndash; Если заданы приложения, которые могут использоваться как киоск &ndash;&gt;
                  &lt;!&ndash;    <option
                      [ngValue]="app.name"
                      *ngIf="app.useKiosk; else noOptions"
                    >
                      {{ app.name }}
                    </option> &ndash;&gt;
                </ng-container>
                <ng-template #noOptions>
                  <option selected disabled>Нет доступных приложений</option>
                </ng-template>
              </select>
            </div>
            <div class="divider"></div>-->
            <!--  Настройки  WIFI  -->
            <!--            <div class="font-bold">Настройки WIFI:</div>
            <div class="form__item">
              <label for="wifiSSID">Имя сети (SSID)</label>
              <input
                type="text"
                formControlName="wifiSSID"
                id="wifiSSID"
                class="w-500"
                placeholder="WiFi SSID - оставьте пустым для ручного ввода"
              />
            </div>
            <div class="form__item">
              <label for="wifiPassword">Пароль</label>
              <input
                type="password"
                formControlName="wifiPassword"
                id="wifiPassword"
                class="w-500"
                placeholder="WiFi пароль - оставьте пустым для ручного ввода"
              />
            </div>
            <div class="form__item">
              <label>Тип защиты</label>
              <div class="tags-container w-500">
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="wifiSecurityType"
                    type="radio"
                    [value]="'WPA'"
                  />
                  <span class="custom-radio__span">WPA</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="wifiSecurityType"
                    type="radio"
                    [value]="'WEP'"
                  />
                  <span class="custom-radio__span">WEP</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="wifiSecurityType"
                    type="radio"
                    [value]="'EAP'"
                  />
                  <span class="custom-radio__span">EAP</span>
                </label>
                <label class="custom-radio">
                  <input
                    class="visually-hidden"
                    formControlName="wifiSecurityType"
                    type="radio"
                    [value]="'NONE'"
                  />
                  <span class="custom-radio__span">NONE</span>
                </label>
              </div>
            </div>
            <div class="divider"></div>-->
            <div>
              <span class="font-bold"> Дополнительные ограничения:</span>
              <span
                class="hint"
                title="Запрещает использовать на устройствах выбранные функции"
              >
                ?
              </span>
            </div>
            <div class="form__item">
              <div class="tags-container">
                <label
                  class="custom-radio"
                  *ngFor="let item of restrictionList | keyvalue"
                >
                  <input
                    class="visually-hidden"
                    type="checkbox"
                    [value]="item.key"
                    (click)="changeRestrictions($event)"
                    [checked]="config.restrictions.includes(item.key)"
                  />
                  <span class="custom-radio__span">{{ item.value }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-wrapper">
        <button
          type="button"
          class="btn btn--big save-btn"
          (click)="editConfig()"
        >
          Сохранить
        </button>
        <button
          type="button"
          class="btn btn--big btn--outline"
          (click)="setConfig()"
        >
          Сбросить
        </button>
      </div>
    </form>
  </div>
</main>

<app-add-app-to-config
  *ngIf="config"
  [apps]="apps"
  [appsInConfig]="config.applications ? config.applications : []"
  [isModalAddAppOpen]="isModalAddAppOpen"
  (onSubmit)="addApp($event)"
></app-add-app-to-config>
