<app-central-wrapper>
  <app-card
    [color]="'light-grey'"
  >
    <form
      class="auth"
    >
      ololo
    </form>
  </app-card>
<!--  <form-->
<!--    class="auth"-->
<!--  >-->
<!--    <app-card-->
<!--      [color]="'light-grey'"-->
<!--    >-->
<!--      ololo-->
<!--    </app-card>-->
<!--  </form>-->
</app-central-wrapper>
<!--  <form-->
<!--    class="card sdm-bg-light-grey"-->
<!--    (ngSubmit)="login(user.login, user.last_password)"-->
<!--  >-->
<!--    <div class="row">-->
<!--      <label for="login"> Логин </label>-->
<!--      <input-->
<!--        [(ngModel)]="user.login"-->
<!--        id="login"-->
<!--        type="text"-->
<!--        name="login"-->
<!--        required-->
<!--      />-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <label for="password">Пароль</label>-->
<!--      <div class="password">-->
<!--        <input-->
<!--          class="auth-password"-->
<!--          [(ngModel)]="user.last_password"-->
<!--          name="password"-->
<!--          id="password"-->
<!--          [attr.type]="isPasswordVisible ? 'text' : 'password'"-->
<!--          required-->
<!--        />-->
<!--        <i (click)="togglePasswordVisibility()" class="small material-icons">-->
<!--          {{ isPasswordVisible ? "visibility" : "visibility_off" }}-->
<!--        </i>-->
<!--      </div>-->
<!--    </div>-->
<!--    <ng-container>-->
<!--      <p *ngIf="err.error" class="center-align helper-text red-text invalid">-->
<!--        {{ err.error }}-->
<!--      </p>-->
<!--    </ng-container>-->
<!--    <div class="row btns-row">-->
<!--      <a class="sdm-btn sdm-middle r-14" href=""> Зарегистрироваться </a>-->
<!--      <button-->
<!--        class="center-align sdm-middle sdm-dark r-14"-->
<!--        type="submit"-->
<!--        [disabled]="user.login.trim() === '' || user.last_password.trim() === ''"-->
<!--      >-->
<!--        Войти-->
<!--      </button>-->
<!--    </div>-->
<!--  </form>-->
