<div class="form-wrapper">
  <form
    class="auth"
    [formGroup]="_form"
    (ngSubmit)="login()"
  >
    <div class="header">
      <h1 class="text-title text-center">Вход</h1>
    </div>
    <hr class="divider" />
    <div class="body">
      <div class="form-group-wrapper">
        <label for="login" class="text-menu-title"> Логин </label>
        <app-input-text
          [name]="'login'"
          [width]="'w-350'"
          [control]="$any(_login)"
          [isError]="_isSubmitted && !!_login?.errors"
        ></app-input-text>
        <app-input-alert
          *ngIf="_isSubmitted && _login?.errors"
          [control]="$any(_login)"
          [type]="'error'"
        ></app-input-alert>
      </div>
      <div class="form-group-wrapper">
        <label for="password" class="text-menu-title"> Пароль </label>
        <app-input-password
          [name]="'password'"
          [width]="'w-350'"
          [control]="$any(_pass)"
          [isError]="_isSubmitted && !!_pass?.errors"
        ></app-input-password>
        <app-input-alert
          *ngIf="_isSubmitted && _pass?.errors"
          [control]="$any(_pass)"
          [type]="'error'"
        ></app-input-alert>
      </div>
      <div class="footer">
        <app-auth-button></app-auth-button>
        <div class="row space-between">
          <div class="remember">
            <app-input-checkbox></app-input-checkbox>
            <p class="text-menu-title">Запомнить меня</p>
          </div>
          <a href="" class="text-menu-title"> Забыли пароль? </a>
        </div>
      </div>
    </div>
  </form>
</div>
