<form
  (ngSubmit)="login(user.login, user.last_password)"
  class="card sdm-bg-light-blue"
>
  <div class="row">
    <label for="login"> Логин </label>
    <input
      [(ngModel)]="user.login"
      id="login"
      type="text"
      name="login"
      required
    />
  </div>
  <div class="row">
    <label for="password">Пароль</label>
    <div class="password">
      <input
        class="auth-password"
        [(ngModel)]="user.last_password"
        name="password"
        id="password"
        [attr.type]="isPasswordVisible ? 'text' : 'password'"
        required
      />
      <i (click)="togglePasswordVisibility()" class="small material-icons">
        {{ isPasswordVisible ? "visibility" : "visibility_off" }}
      </i>
    </div>
  </div>
  <ng-container>
    <p *ngIf="err.error" class="center-align helper-text red-text invalid">
      {{ err.error }}
    </p>
  </ng-container>
  <div class="row btns-row">
    <a class="sdm-btn sdm-btn-medium" href=""> Зарегистрироваться </a>
    <button
      class="center-align sdm-btn-medium selected"
      type="submit"
      [disabled]="user.login.trim() === '' || user.last_password.trim() === ''"
    >
      Войти
    </button>
  </div>
</form>
