.card {
  height: 100%;
  min-width: fit-content;

  padding: 27px 22px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header h2 {
  margin: 0;

  font-size: 24px;
  color: #32485e;
}

.sort {
  margin-top: 22px;
}

.sort .content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 12px;
}

/* Чекбокс */
.sort > .checkbox-container {
  width: 16px;

  margin-right: 10px;
}
/* Статус */
.sort .content > *:nth-child(1) {
  width: 55px;
}
/* Дата вкл. */
.sort .content > *:nth-child(2) {
  width: 85px;
}
/* Название */
.sort .content > *:nth-child(3) {
  width: 78px;

  margin-left: -5px;
}
/* Описание */
.sort .content > *:nth-child(4) {
  width: 197px;
}
/* Телефон */
.sort .content > *:nth-child(5) {
  width: 100px;

  margin-left: -2px;
}
/* imei */
.sort .content > *:nth-child(6) {
  width: 112px;

  margin-left: -2px;
}
/* Модель */
.sort .content > *:nth-child(7) {
  width: 75px;

  margin-left: -10px;
}
/* Конфигурация */
.sort .content > *:nth-child(8) {
  width: 120px;

  padding-left: 6px;
}
/* Обновление */
.sort .content > *:nth-child(9) {
  width: 80px;

  margin-left: -5px;
}
/* Группа */
.sort .content > *:nth-child(10) {
  width: 97px;

  margin-left: -3px;
}
/* Заряд */
.sort .content > *:nth-child(11) {
  width: 51px;
}
/* Состояние */
.sort .content > *:nth-child(12) {
  width: 66px;
}
/* Действия */
.sort .content > *:nth-child(13) {
  width: 112px;
}

.sort button {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-color: transparent;
}
.sort button:hover {
  background-color: inherit !important;
}

.list {
  margin-top: 22px;

  /*max-height: 200px;*/

  /*overflow-y: visible;*/
}

.modal .action-btns {
  justify-content: space-between;
}
