.card {
  padding: 27px 22px;
}

.card-header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin: 0;

  font-size: 24px;
}

.check-btn {
  height: 16px;
  width: 16px;

  margin-right: 14px;

  border-color: #cbd9f2;
  border-radius: 2px;
  background-color: transparent;
}

.sort {
  justify-content: space-between;

  margin-top: 22px;
  margin-bottom: 0;
}

.sort,
.item .content {
  font-size: 12px;
  color: #4b4e51;
}

/*table.head,*/
/*table.body {*/
/*  font-size: 12px;*/
/*  color: #4b4e51;*/
/*}*/

/*.box {*/
/*  max-height: 300px;*/

/*  overflow-y: auto;*/
/*}*/

.body button:not(.check-btn) {
  display: flex;
  align-items: center;

  border: none;

  background-color: transparent;
}

.body button:not(.check-btn) i {
  width: 10px;

  display: block;
}

.sort > * {
  display: block;
}

.sort > *:nth-child(1) {
  /*width: 30px;*/
}
.sort > *:nth-child(2),
.item .content > *:nth-child(1) {
  width: 55px;
}
.sort > *:nth-child(3),
.item .content > *:nth-child(2) {
  width: 90px;
}
.sort > *:nth-child(4),
.item .content > *:nth-child(3) {
  width: 80px;
}
.item .content > *:nth-child(3) {
  font-weight: 700;
}
.sort > *:nth-child(5),
.item .content > *:nth-child(4) {
  width: 200px;
}
.sort > *:nth-child(6),
.item .content > *:nth-child(5) {
  width: 100px;
}
.sort > *:nth-child(7),
.item .content > *:nth-child(6) {
  width: 102px;
}
.sort > *:nth-child(8),
.item .content > *:nth-child(7) {
  width: 60px;
}
.sort > *:nth-child(9),
.item .content > *:nth-child(8) {
  width: 122px;
}
.sort > *:nth-child(10),
.item .content > *:nth-child(9) {
  width: 82px;
}
.item .content > *:nth-child(9) {
  padding-left: 10px;
}
.sort > *:nth-child(11),
.item .content > *:nth-child(10) {
  width: 92px;
}
.sort > *:nth-child(12),
.item .content > *:nth-child(11) {
  width: 62px;
}
.item .content > *:nth-child(11) {
  padding-left: 10px;
}
.sort > *:nth-child(13),
.item .content > *:nth-child(12) {
  width: 68px;
}

.sort > *:nth-child(14),
.item .content > *:nth-child(13) {
  width: 122px;
}
.item .content > *:nth-child(13) {
  padding-left: 10px;
}

.item .content > * {
  max-height: 40px;

  overflow-y: auto;
}

.list {
  margin-top: 22px;
}

.item .content {
  min-height: 60px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;

  background-color: #fff;
}

.item:not(:last-of-type) {
  margin-bottom: 10px !important;
}

.content .status span {
  height: 18px;
  width: 18px;

  display: block;
}

.content .status span.active {
  background-color: #afd9a1;
}

.content .status span.disabled {
  background-color: #fca3a3;
}

.content .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .qr-code span {
  mask-image: url("../../../../assets/UI/qr_code.svg");
  -webkit-mask-image: url("../../../../assets/UI/qr_code.svg");
}
.content .edit span {
  mask-image: url("../../../../assets/UI/pencil.svg");
  -webkit-mask-image: url("../../../../assets/UI/pencil.svg");
}
.content .delete span {
  mask-image: url("../../../../assets/UI/cross.svg");
  -webkit-mask-image: url("../../../../assets/UI/cross.svg");
}

.modal .action-btns {
  justify-content: space-between;
}

/*#qr-code .qrcode img {*/
/*  height: 526px !important;*/
/*  width: 526px !important;*/
/*}*/

/*.b-shadow {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  !*filter: drop-shadow(5px 5px 5px #222222);*!*/
/*  !*opacity: 0.5;*!*/
/*}*/
/*a {*/
/*  cursor: pointer;*/
/*  color: black;*/
/*}*/
/*#qr-code {*/
/*  height: 80% !important;*/
/*  max-height: 100% !important;*/
/*}*/
/*.col {*/
/*  overflow: auto;*/
/*  max-height: 20vh;*/
/*}*/
