:host(app-devices) {
  grid-area: main;
}

.page-content {
  .top {
    margin-bottom: 16px;

    .filter-wrapper {
      margin-left: 12px;
      margin-right: auto;
    }
  }

  .dummy {
    height: 4px;
  }

  .list {
    &-header {
      display: flex;
      align-items: center;

      margin-bottom: 24px;

      .checkbox-wrapper {
        margin-right: 10px;
      }

      .sort-headers {
        width: 100%;
        padding: 0 16px 0 0;

        p {
          display: inline-block;
        }

        // статус
        .status {
          width: 18px;

          margin-right: 32px;
        }
        // дата вкл
        .date {
          width: 80px;
        }
        // название
        .name {
          width: 70px;

          margin-right: 10px;

          color: var(--dark-blue-grey);

          overflow-wrap: break-word;
        }
        // описание
        .descr {
          width: 190px;

          margin-right: 5px;

          overflow-wrap: break-word;
        }
        // телефон
        .phone {
          width: 90px;

          margin-right: 7px;
        }
        // модель / imei
        .phone_imei {
          width: 105px;

          margin-right: 10px;
        }
        // группа
        .group {
          width: 105px;

          margin-right: 5px;
        }
        // конфигурация
        .conf {
          width: 108px;
        }
        // обновление
        .update {
          width: 60px;
        }
        // версия лаунчера
        .version {
          width: 60px;

          margin-right: 6px;
        }
        // заряд
        .battery {
          width: 50px;

          margin-right: 9px;
        }
        // блокировка
        .lock {
          width: 70px;

          margin-right: 9px;
        }
        // действия
        .actions {
          width: 120px;
        }
      }
    }

    &-body {
      height: calc(
        100vh - 24px - 70px - 44px - 31px - 16px - 4px - 24px - 24px - 24px
      );

      overflow: scroll;
    }
  }
}
