<div class="global-wrapper">
  <app-menu></app-menu>
  <div class="content-container">
    <div class="card sdm-bg-light-grey">
      <div class="card-header">
        <h2>Устройства</h2>
        <!--    Место для кнопки добавления/редактирования и пр.    -->
        <app-user></app-user>
      </div>
      <div class="divider"></div>
      <div class="progress" *ngIf="loading">
        <div class="indeterminate"></div>
      </div>
      <div class="body">
        <div class="sort row">
          <div class="checkbox-container">
            <label>
              <input type="checkbox" class="filled-in main-checkbox" />
              <span></span>
            </label>
          </div>
          <div class="content">
            <button class="status">
              Статус <i class="material-icons tiny">keyboard_arrow_down</i>
            </button>
            <button class="power-up-date">
              Дата вкл. <i class="material-icons tiny">keyboard_arrow_down</i>
            </button>
            <button class="name">
              Название <i class="material-icons tiny">keyboard_arrow_down</i>
            </button>
            <p>Описание</p>
            <p>Телефон</p>
            <p>IMEI</p>
            <p>Модель</p>
            <p>Конфигурация</p>
            <p>Обновление</p>
            <p>Группа</p>
            <button class="battery">
              Заряд <i class="material-icons tiny">keyboard_arrow_down</i>
            </button>
            <p>Состояние</p>
            <p>Действия</p>
          </div>
        </div>
        <div class="list">
          <div *ngIf="devices.length === 0 && !loading">
            Устройств не найдено
          </div>
          <ng-container *ngFor="let device of devices">
            <div class="item row">
              <!--              <button class="check-btn"></button>-->
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" class="filled-in main-checkbox" />
                  <span></span>
                </label>
              </div>
              <div class="content r-14">
                <div class="status">
                  <span
                    class="r-round"
                    [class.active]="device.active_state"
                    [class.disabled]="!device.active_state"
                  ></span>
                </div>
                <p>123</p>
                <p>{{ device.name }}</p>
                <p class="desc">{{ device.description }}</p>
                <p>{{ device.phone_number }}</p>
                <p>012345678912345</p>
                <p>Meizu 10</p>
<!--                <p>{{ device.imei }}</p>-->
<!--                <p>{{ device.model }}</p>-->
                <div class="input-field">
                  <select
                    class="config-select"
                    (change)="setDeviceConfig(device, $event)"
                  >
                    <option value="0" selected>По умолчанию</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="status update">
                  <span
                    class="r-round active"
                  ></span>
                </div>
                <p>Санкт-Петербург</p>
                <p>{{ device.battery_percent }}%</p>
                <div class="switch">
                  <label>
                    <input type="checkbox" [checked]="device.online_state" />
                    <span class="lever"></span>
                  </label>
                </div>
                <div class="btns">
                  <button
                    class="modal-trigger sdm-btn-common qr-code"
                    (click)="getQR(device.name, device.qr_code)"
                    data-target="qr-code"
                  >
                    <span></span>
                  </button>
                  <button
                    class="modal-trigger sdm-btn-common edit"
                    (click)="editDevice(device)"
                    data-target="edit_device"
                  >
                    <span></span>
                  </button>
                  <button
                    class="modal-trigger sdm-btn-common delete"
                    (click)="removeDevice(device.device_id)"
                  >
                    <span></span>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <!--          <ng-container *ngFor="let device of devices">-->
        <!--            <div class="row">-->
        <!--              <div class="col s2">{{ device.name }}</div>-->
        <!--              <div class="col s2">-->
        <!--                {{ device.description }}-->
        <!--              </div>-->
        <!--              <div class="col s2">{{ device.phone_number }}</div>-->
        <!--              <div class="col s1">-->
        <!--                <div class="switch">-->
        <!--                  <label>-->
        <!--                    <input-->
        <!--                      disabled-->
        <!--                      [checked]="device.online_state"-->
        <!--                      type="checkbox"-->
        <!--                    />-->
        <!--                    <span class="lever"></span>-->
        <!--                  </label>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--              <div class="col s1">{{ device.battery_percent }}%</div>-->
        <!--              <div class="col s1">-->
        <!--                <a-->
        <!--                  (click)="getQR(device.qr_code)"-->
        <!--                  class="modal-trigger"-->
        <!--                  data-target="qr-code"-->
        <!--                >-->
        <!--                  <i class="material-icons">qr_code</i>-->
        <!--                </a>-->
        <!--              </div>-->
        <!--              <div class="col s3">-->
        <!--                <button-->
        <!--                  (click)="editDevice(device)"-->
        <!--                  class="btn btn-small blue lighten-1 modal-trigger"-->
        <!--                  data-target="add_device"-->
        <!--                >-->
        <!--                  Редактировать-->
        <!--                </button>-->
        <!--                <button-->
        <!--                  (click)="removeDevice(device.device_id)"-->
        <!--                  class="btn btn-small red lighten-1"-->
        <!--                >-->
        <!--                  Удалить-->
        <!--                </button>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </ng-container>-->
        <!--        </div>-->
        <!--        <div class="row">-->
        <!--          <div class="col s6">-->
        <!--            <button-->
        <!--              class="btn btn-small blue lighten-1 modal-trigger"-->
        <!--              data-target="add_device"-->
        <!--            >-->
        <!--              Добавить устройство-->
        <!--            </button>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
  <div id="changePass" class="modal non-closing modal-fixed-footer">
    <div class="modal-content">
      <h6>Пароль должен стостоять минимум иметь минимум по 1:</h6>
      <ul class="collection">
        <li class="collection-item">
          Заглавный символ
          <span *ngIf="userService.upperCase" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Прописной символ
          <span *ngIf="userService.lowerCase" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Цифра
          <span *ngIf="userService.number" class="red-text">отсутствует</span>
        </li>
        <li class="collection-item">
          Спец. символ
          <span *ngIf="userService.specialChar" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Состоять минимум из 8 символов
          <span *ngIf="userService.passLength > 0" class="red-text"
            >{{ userService.passLength }} осталось</span
          >
        </li>
      </ul>
      <div class="card-content">
        <div class="formGroup">
          <input
            id="pass"
            type="password"
            class="formControl"
            [(ngModel)]="password"
            required
          />
          <label for="pass">Введите новый пароль</label>
          <small class="helper-text invalid"></small>
          <small class="helper-text invalid"></small>
        </div>
        <div class="formGroup">
          <input
            id="ChangePassword"
            type="password"
            class="formControl"
            required
            [(ngModel)]="new_password"
          />
          <label for="ChangePassword">Повторите новый пароль</label>
          <small class="helper-text invalid"></small>
          <small class="helper-text invalid"></small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="password !== new_password"
        (click)="changePassword(password)"
        class="btn-flat green-text"
      >
        Сменить
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <app-edit-device
    [form]="form"
    [edit]="edit"
    [groups]="groups"
    [configs]="configs"
    [addDevice]="addDevice"
    [saveChange]="saveChange"
  ></app-edit-device>
  <app-qr-code [title]="currentTitle" [valueQR]="valueQR"></app-qr-code>
</div>
