.page-content {
  min-height: calc(100vh - 76px - 36px);
  height: 100%;

  padding: 12px 23px 12px 22px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 35.27px;

    .filter-wrapper {
      margin-left: 12px;
      margin-right: auto;
    }
  }

  .list {
    &-header {
      display: flex;
      align-items: center;

      margin-bottom: 24px;
      padding-right: 16px;

      .sort-headers {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-left: 10px;

        p {
          display: inline-block;
        }

        // статус
        > *:nth-child(1) {
          width: 50px;

          margin-right: 5px;
        }
        // дата вкл
        > *:nth-child(2) {
          width: 80px;

          margin-right: 10px;
        }
        // название
        > *:nth-child(3) {
          width: 70px;

          margin-right: 10px;
          padding-left: 5px;
        }
        // описание
        > *:nth-child(4) {
          width: 195px;

          margin-right: 5px;
          padding-left: 5px;
        }
        // телефон
        > *:nth-child(5) {
          width: 90px;

          margin-right: 10px;
          padding-left: 7px;
        }
        // imei
        > *:nth-child(6) {
          width: 105px;

          margin-right: 5px;
          padding-left: 6px;
        }
        // модель
        > *:nth-child(7) {
          width: 70px;

          margin-right: 5px;
          padding-left: 5px;
        }
        // группа
        > *:nth-child(8) {
          width: 105px;

          margin-right: 5px;
          padding-left: 2px;
        }
        // конфигурация
        > *:nth-child(9) {
          width: 110px;

          padding-left: 2px;
        }
        // обновление
        > *:nth-child(10) {
          width: 70px;

          margin-right: 5px;
          padding-left: 5px;
        }
        // заряд
        > *:nth-child(11) {
          width: 51px;

          margin-right: 5px;
        }
        // блокировка
        > *:nth-child(12) {
          width: 70px;

          margin-right: 6px;
          padding-left: 5px;
        }
        // действия
        > *:nth-child(13) {
          width: 96px;
        }
      }
    }
  }
}

//.card {
//  height: 100%;
//  min-width: fit-content;
//
//  padding: 27px 22px;
//}
//
//.card-header {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//}
//
//.card-header h2 {
//  margin: 0;
//
//  font-size: 24px;
//  font-weight: 550;
//  color: var(--sdm-dark-blue-grey);
//}
//
//.row.actions .search-input-wrapper {
//  margin-right: 12px;
//}
//.row.actions .add-btn-wrapper {
//  margin-left: auto;
//}
//
//.sort {
//  margin-top: 22px;
//}
//
//.sort .content {
//  width: 100%;
//
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//
//  font-size: 12px;
//}
//
///* Чекбокс */
//.sort > .checkbox-container {
//  width: 16px;
//
//  margin-right: 10px;
//}
///* Статус */
//.sort .content > *:nth-child(1) {
//  width: 50px;
//}
///* Дата вкл. */
//.sort .content > *:nth-child(2) {
//  width: 90px;
//}
///* Название */
//.sort .content > *:nth-child(3) {
//  width: 78px;
//
//  margin-left: -5px;
//}
///* Описание */
//.sort .content > *:nth-child(4) {
//  width: 197px;
//}
///* Телефон */
//.sort .content > *:nth-child(5) {
//  width: 100px;
//
//  margin-left: -2px;
//}
///* imei */
//.sort .content > *:nth-child(6) {
//  width: 112px;
//
//  margin-left: -2px;
//}
///* Модель */
//.sort .content > *:nth-child(7) {
//  width: 75px;
//
//  margin-left: -10px;
//}
///* Группа */
//.sort .content > *:nth-child(8) {
//  width: 97px;
//
//  margin-left: -5px;
//}
///* Конфигурация */
//.sort .content > *:nth-child(9) {
//  width: 120px;
//
//  margin-left: -5px;
//  padding-left: 10px;
//}
///* Обновление */
//.sort .content > *:nth-child(10) {
//  width: 80px;
//
//  padding-left: 11px;
//}
///* Заряд */
//.sort .content > *:nth-child(11) {
//  width: 51px;
//}
///* Состояние */
//.sort .content > *:nth-child(12) {
//  width: 66px;
//}
///* Действия */
//.sort .content > *:nth-child(13) {
//  width: 112px;
//}
//
//.sort button {
//  display: flex;
//  align-items: center;
//  justify-content: flex-start;
//
//  border-color: transparent;
//}
//.sort button:hover {
//  background-color: inherit !important;
//}
//
//.list {
//  margin-top: 22px;
//}
//
//.modal .action-btns {
//  justify-content: space-between;
//}
