<div
  class="alert-wrapper"
  (mouseenter)="stopCountDown()"
  (mouseleave)="countDown()"
  [@openClose]="alert.data && alert.data.show ? 'open' : 'closed'"
>
  <div
    *ngIf="alert.data"
    class="content"
  >
    <div class="header row">
      <div
        class="icon-wrapper"
        [ngClass]="alert.data.type ? alert.data.type : 'error'"
      >
        <span class="icon"></span>
      </div>
      <h6 class="text-title-choose">{{ alert.data.title }}</h6>
    </div>
    <hr class="divider"/>
    <div class="body">
      <p class="text-menu-title">{{ alert.data.content }}</p>
    </div>
  </div>
  <div class="progress-bar-wrapper">
    <div
      class="progress-bar"
      #progress
    ></div>
  </div>
</div>
