.content {
  min-width: 328px;
  width: 100%;

  padding: 20px 30px 40px 30px;

  .divider {
    &:first-of-type {
      margin-top: 23px;
    }
    &:last-of-type {
      margin: 29.48px 0 28px 0;
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-transform: capitalize;

    p {
      transition: color var(--transition-time) ease;
    }

    .prev, .next {
      color: var(--grey);

      cursor: pointer;

      &:hover {
        color: var(--blue);
      }
    }
  }

  .body {
    width: 100%;

    border-collapse: separate;
    border-spacing: 7px 15px;

    thead th {
      color: var(--blue);
    }

    tbody td {
      height: 30px;
      width: 35px;

      text-align: center;

      border-radius: 8px;

      border: 1px solid transparent;

      cursor: pointer;

      transition:
        background-color var(--transition-time) ease,
        color var(--transition-time) ease;

      &.disabled {
        color: var(--grey);
      }

      &.selected {
        background-color: var(--dark-blue-grey);
        color: var(--white);
      }

      &.active:not(.selected) {
        border: 1px solid var(--blue);
        color: var(--blue);
      }

      &:not(.selected):hover {
        background-color: var(--light-blue-grey);
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    .time-picker-wrapper {
      margin-bottom: 50px;

      label {
        margin-right: 35px;
      }

      span {
        color: var(--dark-blue);
      }

      .time-picker {
        height: 24px;
        width: 30px;

        padding: 0;

        font-weight: 550 !important;
        font-size: 24px !important;
        line-height: 24px !important;

        border: none;
        border-radius: 0;

        color: var(--dark-blue);

        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}
