<div
  id="add_device_params"
  class="modal closing"
  [style]="isTipHidden ? 'width: 700px' : 'width: 800px'"
>
  <div class="modal-content">
    <h4 class="title">Устройство "{{ _title }}"</h4>
    <div class="divider"></div>
    <form
      [formGroup]="_form"
      (ngSubmit)="onSubmitHandler()"
    >
      <div class="qr-container">
        <strong>
          Отсканируйте QR-код
          <div class="icon-container">
            <span (click)="toggleTip()"></span>
          </div>
        </strong>
        <div class="qr-code">
          <ngx-qrcode
            class="qr-code"
            [elementType]="elementType"
            [errorCorrectionLevel]="correctionLevel"
            [value]="_qrcode"
            [width]="333"
          ></ngx-qrcode>
          <app-qr-tip *ngIf="!isTipHidden"></app-qr-tip>
        </div>
        <strong>Или введите данные самостоятельно</strong>
      </div>
      <div class="row phone-model">
        <div
          class="form-group"
          [class.error]="_isSubmitted && _phone?.errors"
        >
          <div class="row phone">
            <label for="add_param_phone">Телефон</label>
            <input
              formControlName="phone_number"
              id="add_param_phone"
              name="add_param_phone"
              type="number"
              class="w-190"
            />
          </div>
          <app-input-alert
            *ngIf="_isSubmitted && _phone?.errors"
            [inputControl]="$any(_phone)"
          ></app-input-alert>
        </div>
        <div
          class="form-group"
          [class.error]="_isSubmitted && _model?.errors"
        >
          <div class="row phone">
            <label for="add_param_model">Модель</label>
            <input
              formControlName="model"
              id="add_param_model"
              name="add_param_model"
              type="text"
              class="w-190"
            />
          </div>
          <app-input-alert
            *ngIf="_isSubmitted && _model?.errors"
            [inputControl]="$any(_model)"
          ></app-input-alert>
        </div>
      </div>
      <div class="row imei">
        <div
          class="form-group last"
          [class.error]="_isSubmitted && _imei?.errors"
        >
          <div class="row">
            <label for="add_param_imei">IMEI</label>
            <input
              formControlName="imei"
              id="add_param_imei"
              name="add_param_imei"
              type="number"
              class="w-190"
            />
          </div>
          <app-input-alert
            *ngIf="_isSubmitted && _imei?.errors"
            [inputControl]="$any(_imei)"
          ></app-input-alert>
        </div>
      </div>
      <div class="row action-btns">
        <button
          type="submit"
          class="sdm-middle sdm-dark-blue r-14"
        >
          Подтвердить
        </button>
        <button
          type="button"
          class="modal-close sdm-middle r-14"
          (click)="onCancelHandler()"
        >
          Заполнить позже
        </button>
      </div>
    </form>
  </div>
</div>
