<app-modal
  [modalID]="'qr_code'"
  [isClosable]="true"
>
  <div class="content">
    <div class="top">
      <h4 class="text-title text-center">Устройство "{{ device?.name }}"</h4>
    </div>
    <hr class="divider">
    <div class="body">
      <ngx-qrcode
        class="qr-code"
        [elementType]="elementType"
        [errorCorrectionLevel]="correctionLevel"
        [value]="_qrcode"
        [width]="420"
      ></ngx-qrcode>
      <app-qr-tip *ngIf="!isTipHidden"></app-qr-tip>
    </div>
    <app-modal-action-btns
      [margin]="'66px'"
      [submitText]="'Помощь'"
      [cancelText]="'Закрыть'"
      (onSubmit)="onHelpClickHandler()"
      (onCancel)="onCancelHandler()"
    ></app-modal-action-btns>
  </div>
</app-modal>
