<app-modal [modalID]="'qr_code'" [isClosable]="true">
  <div class="modal-form">
    <div class="modal-form-header">
      <h4 i18n class="text-title text-center">Устройство "{{ device?.name }}"</h4>
    </div>
    <hr class="divider" />
    <div class="modal-form-body row">
      <ngx-qrcode
        class="qr-code"
        [elementType]="elementType"
        [errorCorrectionLevel]="correctionLevel"
        [value]="_qrcode"
        [width]="420"
      ></ngx-qrcode>
      <app-qr-tip *ngIf="!isTipHidden"></app-qr-tip>
    </div>
    <div class="modal-form-footer">
      <app-modal-action-btns
        [margin]="'66px'"
        [submitText]="'Помощь'"
        [cancelText]="'Закрыть'"
        (onSubmit)="onHelpClickHandler()"
        (onCancel)="onCancelHandler()"
      ></app-modal-action-btns>
    </div>
  </div>
</app-modal>
