<app-modal [modalID]="'add_device'" [isClosable]="true">
  <div class="modal-form w-700">
    <div class="modal-form-header">
      <h4 class="text-title text-center">Добавить устройство</h4>
    </div>
    <hr class="divider" />
    <div class="modal-form-body">
      <form [formGroup]="_form">
        <div class="form-group-wrapper">
          <label for="name" class="text-menu-title"> Название </label>
          <app-input-text
            [control]="$any(_name)"
            [name]="'name'"
            [width]="'w-440'"
            [isError]="_isSubmitted && !!_name?.errors"
          ></app-input-text>
          <app-input-alert
            *ngIf="_isSubmitted && _name?.errors"
            [control]="$any(_name)"
            [type]="'error'"
          ></app-input-alert>
        </div>
        <div class="form-group-wrapper">
          <label for="description" class="text-menu-title"> Описание </label>
          <app-input-text
            [control]="$any(_description)"
            [name]="'description'"
            [width]="'w-440'"
            [isError]="_isSubmitted && !!_description?.errors"
          ></app-input-text>
          <app-input-alert
            *ngIf="_isSubmitted && _description?.errors"
            [control]="$any(_description)"
            [type]="'error'"
          ></app-input-alert>
        </div>
        <div class="form-group-wrapper">
          <label class="text-menu-title"> Группа </label>
          <app-input-select
            [width]="'w-440'"
            [options]="_options"
            [currOption]="_currOption"
            [isError]="_isSubmitted && _currOption.value === ''"
            (onSelect)="onSelectHandler($event)"
          ></app-input-select>
          <app-input-alert
            *ngIf="_isSubmitted && _currOption.value === ''"
            [type]="'error'"
            [message]="'Данное поле должно быть заполнено'"
          ></app-input-alert>
        </div>
      </form>
    </div>
    <div class="modal-form-footer">
      <app-modal-action-btns
        [margin]="'66px'"
        [submitText]="'Сохранить'"
        [cancelText]="'Отменить'"
        [isSubmitBtnDisabled]="
          ((loading$ | async) || false) &&
          ((entity$ | async) === 'devices' || false)
        "
        (onSubmit)="onSubmitHandler()"
        (onCancel)="onCancelHandler()"
      ></app-modal-action-btns>
    </div>
  </div>
</app-modal>
