.content {
  width: 770px;

  padding: 30px 93px;

  .divider {
    margin: 25px 0 38.56px 0;
  }

  .body {
    margin-bottom: 59.2px;

    .switch {
      width: 171.1px;

      margin-top: 45px;
    }
  }
}
