.selected-devices {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  padding: 9px 16px 7px 28px;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 14px;
  overflow: hidden;
  transition: all var(--transition-time) ease;

  &.hidden {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }

  .wrapper {
    margin-left: 12px;
  }

  .close {
    height: 8px;
    width: 8px;
    margin-left: 12px;
    margin-right: auto;
    mask-size: 8px 8px;
    mask-image: url('/assets/UI/cross.svg');
    -webkit-mask-size: 8px 8px;
    -webkit-mask-image: url('/assets/UI/cross.svg');
    background-color: var(--dark-blue-grey);
    cursor: pointer;
  }

  .icon {
    &:not(.close) {
      background-color: var(--white);
    }

    &-edit {
      height: 12.8px;
      width: 12.8px;
      mask-size: 12.8px 12.8px;
      mask-image: url('/assets/UI/pencil.svg');
      -webkit-mask-size: 12.8px 12.8px;
      -webkit-mask-image: url('/assets/UI/pencil.svg');
    }

    &-delete {
      height: 13.6px;
      width: 11.2px;
      mask-size: 11.2px 13.6px;
      mask-image: url('/assets/UI/cross.svg');
      -webkit-mask-size: 11.2px 13.6px;
      -webkit-mask-image: url('/assets/UI/cross.svg');
    }
  }
}
