<div class="selected-devices row space-between">
  <p>{{ devicesIDs.length }} выбран(-о)</p>
  <span
    class="icon close"
    (click)="onCloseClickHandler()"
  ></span>
  <app-button
    [height]="'24px'"
    [width]="'24px'"
    [padding]="'0'"
    [radius]="'12px'"
    [color]="'dark'"
    (onCLick)="onEditClickHandler()"
  >
    <span class="icon icon-edit"></span>
  </app-button>
  <div class="wrapper">
    <app-button
      [height]="'24px'"
      [width]="'24px'"
      [padding]="'0'"
      [radius]="'12px'"
      [color]="'dark'"
      (onCLick)="onDeleteClickHandler()"
    >
      <span class="icon icon-delete"></span>
    </app-button>
  </div>
</div>
