#add_device {
  width: 700px;

  overflow: initial;
}

#add_device .input-field-modal {
  margin-left: auto;
}

#add_device .input-field-modal,
#add_device .input-field-modal .select-wrapper input.select-dropdown {
  height: 45px;
}

#add_device .action-btns {
  padding-left: 144px;
}

#add_device .action-btns > *:first-child {
  margin-right: 66px;
}
