.card-menu-btn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: white;
  color: inherit;
  border-radius: 50%;
  border: none;

  & span {
    background-color: var(--dark-blue);
  }
  &:focus span,
  &:hover span {
    background-color: var(--blue) !important;
  }
}
.blue {
  background-color: var(--dark-blue);
  color: white;
  &:focus,
  &:hover {
    background-color: var(--blue);
  }
  &:focus span,
  &:hover span {
    background-color: white !important;
  }
}
