<div class="row item">
  <div
    class="checkbox-container"
    *ngIf="userRole === 'admin' || userRole === 'super'"
  >
    <app-input-checkbox
      [value]="!!device.isSelected"
      (onChange)="onSelectUnselectDeviceHandler(device)"
    ></app-input-checkbox>
  </div>
  <div class="content">
    <div class="icon-wrapper">
      <app-status-icon
        [size]="'s18x18'"
        [controlState]="!device.registration_state"
        [isOn]="device.active_state"
        [isOff]="!device.active_state"
      ></app-status-icon>
    </div>
    <p>{{ device.updatedAt | dateConverter }}</p>
    <p class="text-choose">{{ device.name }}</p>
    <p>{{ device.description }}</p>
    <!--    <p>88005553535</p>-->
    <!--    <p>123456789012345</p>-->
    <!--    <p>Ololo Pro</p>-->
    <p>{{ device.phone_number }}</p>
    <p>{{ device.imei }}</p>
    <p>{{ device.model }}</p>
    <p>{{ device.device_group_id | groupConverter: groups }}</p>
    <p>{{ device.device_config_id | configConverter: configs }}</p>
    <div class="icon-wrapper">
      <app-status-icon
        [size]="'s14x14'"
        [isOn]="device.online_state"
        [isOff]="!device.online_state"
      ></app-status-icon>
    </div>
    <p>{{ device.battery_percent }}%</p>
    <div class="switch-wrapper">
      <app-input-switch
        [value]="device.active_state"
        (onChange)="onChangeDeviceStateHandler(device)"
      ></app-input-switch>
    </div>
    <div class="device-actions-wrapper">
      <app-device-action-btn
        [device]="device"
        [target]="'qr_code'"
        (onClick)="onClickDeviceQRCodeHandler($event)"
      ></app-device-action-btn>
      <app-device-action-btn
        *ngIf="userRole === 'admin' || userRole === 'super'"
        [device]="device"
        [target]="'edit_device'"
        (onClick)="onClickDeviceEditHandler($event)"
      ></app-device-action-btn>
      <app-device-action-btn
        *ngIf="userRole === 'admin' || userRole === 'super'"
        [device]="device"
        [target]="'delete_device'"
        (onClick)="onClickDeviceDeleteHandler($event)"
      ></app-device-action-btn>
    </div>
  </div>
</div>
