<div class="row item" [class.locked]="device.active_state">
  <!--  [class.locked]="!device.registration_state"-->
  <div
    class="checkbox-container"
    *ngIf="userRole === 'admin' || userRole === 'super'"
  >
    <app-input-checkbox
      [value]="!!device.isSelected"
      (onChange)="onSelectUnselectDeviceHandler(device)"
    ></app-input-checkbox>
  </div>
  <div class="content">
    <div class="icon-wrapper status">
      <app-status-icon
        [size]="'s18x18'"
        [isOn]="device.online_state"
        [isOff]="!device.online_state"
      ></app-status-icon>
    </div>
    <p class="date">{{ device.updatedAt | dateConverter }}</p>
    <div class="name-wrapper">
      <p
        class="text-choose name"
        (mouseenter)="displayTip()"
        (mouseleave)="hideTip()"
        #name
      >
        {{ device.name }}
      </p>
      <p class="list-tip" #tip>{{ device.name }}</p>
    </div>
    <p class="descr">{{ device.description }}</p>
    <p class="phone">{{ device.phone_number }}</p>
    <div class="phone_imei">
      <p>{{ device.model }}</p>
      <p>{{ device.imei }}</p>
    </div>
    <p class="font-bold-color group">
      {{ device.device_group_id | groupConverter: groups }}
    </p>
    <p class="font-bold-color conf">
      {{ device.device_config_id | configConverter: configs }}
    </p>
    <div class="icon-wrapper row center update">
      <app-status-icon
        [size]="'s14x14'"
        [isOn]="device.registration_state"
        [isOff]="!device.registration_state"
      ></app-status-icon>
    </div>
    <p class="version">{{ device.launcher_version }}</p>
    <p class="battery">{{ device.battery_percent }}%</p>
    <div
      class="row center lock"
      *ngIf="userRole === 'admin' || userRole === 'super'"
    >
      <app-input-switch
        [value]="device.active_state"
        (onChange)="onChangeDeviceStateHandler(device)"
      ></app-input-switch>
    </div>
    <div class="row space-between actions">
      <app-device-action-btn
        *ngIf="userRole === 'admin' || userRole === 'super'"
        [device]="device"
        [target]="'reload_device'"
        (onClick)="onClickDeviceReloadHandler($event)"
        i18n-title
        title="Перезагрузить устройство"
      ></app-device-action-btn>
      <app-device-action-btn
        [device]="device"
        [target]="'qr_code'"
        (onClick)="onClickDeviceQRCodeHandler($event)"
        i18n-title
        title="Показать QR-код устройства"
      ></app-device-action-btn>
      <app-device-action-btn
        *ngIf="userRole === 'admin' || userRole === 'super'"
        [device]="device"
        [target]="'edit_device'"
        (onClick)="onClickDeviceEditHandler($event)"
        title="Редактировать устройство"
      ></app-device-action-btn>
      <app-device-action-btn
        *ngIf="userRole === 'admin' || userRole === 'super'"
        [device]="device"
        [target]="'delete_device'"
        i18n-title
        (onClick)="onClickDeviceDeleteHandler($event)"
        title="Удалить устройство"
      ></app-device-action-btn>
    </div>
  </div>
</div>
