.item {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  .checkbox-container {
    margin-right: 10px;
  }

  .content {
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;

    background-color: var(--white);
    color: var(--dark-grey);

    border-radius: 14px;

    .icon-wrapper {
      &:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .switch-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    // статус
    > *:nth-child(1) {
      width: 18px;

      margin-right: 16px;
    }
    // дата вкл
    > *:nth-child(2) {
      width: 80px;
    }
    // название
    > *:nth-child(3) {
      width: 70px;

      margin-right: 10px;

      color: var(--dark-blue-grey);

      overflow-wrap: break-word;
    }
    // описание
    > *:nth-child(4) {
      width: 190px;

      margin-right: 5px;

      overflow-wrap: break-word;
    }
    // телефон
    > *:nth-child(5) {
      width: 90px;

      margin-right: 7px;
    }
    // модель / imei
    > *:nth-child(6) {
      width: 105px;

      margin-right: 10px;

      > *:first-child {
        margin-bottom: 5px;
      }

      > *:last-child {
        color: #9ea7b6;
      }
    }
    // группа
    > *:nth-child(7) {
      width: 105px;

      margin-right: 5px;
    }
    // конфигурация
    > *:nth-child(8) {
      width: 108px;
    }
    // обновление
    > *:nth-child(9) {
      width: 60px;

      > * {
        margin-right: 12px;
      }
    }
    // версия лаунчера
    > *:nth-child(10) {
      width: 60px;

      margin-right: 6px;
    }
    // заряд
    > *:nth-child(11) {
      width: 50px;

      margin-right: 9px;
    }
    // блокировка
    > *:nth-child(12) {
      width: 70px;

      margin-right: 9px;
    }
    // действия
    > *:nth-child(13) {
      width: 120px;
    }

    .device-actions-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
