.item {
  display: flex;
  align-items: center;

  //margin-bottom: 10px;
  margin: 10px 8px;
  padding: -10p -8px;

  &.locked {
    .content {
      background-color: transparent;
    }
  }

  .checkbox-container {
    margin-right: 10px;
  }

  .content {
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;

    background-color: var(--white);
    color: var(--dark-grey);

    border-radius: 14px;

    box-shadow: var(--box-shadow);

    // статус
    .status {
      width: 18px;

      margin-right: 16px;
    }
    // дата вкл
    .date {
      width: 80px;
    }
    // название
    .name-wrapper {
      width: 70px;

      margin-right: 10px;

      position: relative;

      color: var(--dark-blue-grey);

      .name {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    // описание
    .descr {
      width: 190px;

      margin-right: 5px;

      overflow-wrap: break-word;
    }
    // телефон
    .phone {
      width: 90px;

      margin-right: 7px;
    }
    // модель / imei
    .phone_imei {
      width: 105px;

      margin-right: 10px;

      > *:first-child {
        margin-bottom: 5px;
      }

      > *:last-child {
        color: #9ea7b6;
      }
    }
    // группа
    .group {
      width: 105px;

      margin-right: 5px;
    }
    // конфигурация
    .conf {
      width: 108px;
    }
    // обновление
    .update {
      width: 60px;

      > * {
        margin-right: 12px;
      }
    }
    // версия лаунчера
    .version {
      width: 60px;

      margin-right: 6px;
    }
    // заряд
    .battery {
      width: 50px;

      margin-right: 9px;
    }
    // блокировка
    .lock {
      width: 70px;

      margin-right: 9px;
    }
    // действия
    .actions {
      width: 120px;
    }
  }
}
