<main class="global-main">
  <div class="card">
    <div class="card__header">
      <span class="search-wrapper">
        <input
          [(ngModel)]="search"
          type="search"
          name="search"
          id="search"
          class="search-input" /><i class="search-icon"></i
      ></span>
      <app-filter-btn [text]='"Использовать фильтр"' [target]="'filter-messages'"></app-filter-btn>
      <app-add-button
        class="btn--right"
        [title]="'написать сообщение'"
        [target]="'modal-add-message'"
      ></app-add-button>
    </div>
    <div class="progressbar-wrapper">
      <ng-container
        *ngIf="
          (_dLoading | async) ||
            false ||
            (_gLoading | async) ||
            false ||
            (_pLoading | async) ||
            false;
          else dummy
        "
      >
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </ng-container>
      <ng-template #dummy>
        <div class="dummy"></div>
      </ng-template>
    </div>
    <div class="message-wrapper">
      <table *ngIf="_messages?.length !== 0; else nodata">
        <thead>
          <tr class="table-row">
            <th>
              <!--              <app-sort-btn
                [title]="'Дата'"
                [isSortAsc]="isDateSortAsc"
                (click)="toggleDateSortDir()"
              ></app-sort-btn>-->
              Дата
            </th>
            <th>
              <!--              <app-sort-btn
                [title]="'Получатель'"
                [isSortAsc]="isTargetSortAsc"
                (click)="toggleTargetSortDir()"
              ></app-sort-btn>-->
              Получатель
            </th>
            <th>
              <!--              <app-sort-btn
                [title]="'Статус'"
                [isSortAsc]="isStatusSortAsc"
                (click)="toggleStatusSortDir()"
              ></app-sort-btn>-->
              Устройства или группа
            </th>
            <th>Текст</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="msg-item table-row"
            *ngFor="
              let msg of _messages
                | search: search:'message'
                | msgFilter: filters.status:filters.dateFrom:filters.dateTo
            "
          >
            <!--| msg: isDateSortAsc:'date'
                | msg: isTargetSortAsc:'target'
                | msg: isStatusSortAsc:'status' -->
            <td class="msg-item__col">
              {{ msg.send_time | date: 'd MMM, HH:mm':'+0500':'ru' }}
            </td>
            <td class="msg-item__col">
              {{
                msg.destination === 'all'
                  ? 'Все'
                  : msg.destination === 'device'
                  ? 'Устройство'
                  : 'Группа'
              }}
            </td>
            <td class="msg-item__col">
              <!--              {{ msg.status ? 'отправлено' : 'не отправлено' }}-->
              {{ msg.name }}
            </td>
            <td class="msg-item__col">{{ msg.text }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #nodata>
      <div style="margin-top: 32px; text-align: center">Нет сообщений</div>
    </ng-template>
  </div>
</main>

<app-add-message></app-add-message>
<app-filter-messages></app-filter-messages>
