:host(app-messages) {
  grid-area: main;
}

.message-wrapper {
  height: calc(100% - 40px);
  overflow: auto;
}

table {
  width: 100%;
}

th,
td {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  padding: 18px 0;
}

.table-row {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(110px, 1fr)
    minmax(80px, 2fr)
    minmax(90px, 1fr)
    minmax(80px, 6fr);
  padding: 0 16px;
  font-size: 12px;
  line-height: 12px;
}

.msg-item {
  height: 60px;
  margin-bottom: 10px;
  background: white;
  border-radius: 14px;
  box-shadow: var(--box-shadow);

  &__col:not(:last-of-type) {
    margin-right: 16px;
  }
}
