<app-modal [modalID]="'add_app_config'" [isClosable]="true">
  <div class="modal">
    <div class="modal__header">Добавить приложения в конфигурацию</div>
    <form class="filter-btn-wrapper">
      <div class="tags-container">
        <app-input-search
          [value]="searchParam"
          (onChange)="changeSearchParam($event)"
        ></app-input-search>
        <label class="custom-radio">
          <input
            class="visually-hidden"
            type="radio"
            name="filter"
            value="all"
            (change)="setFilter($event)"
            [checked]="filter === 'all'"
          />
          <span class="custom-radio__span">все</span>
        </label>
        <label class="custom-radio">
          <input
            class="visually-hidden"
            type="radio"
            name="filter"
            value="uploaded"
            (change)="setFilter($event)"
            [checked]="filter === 'uploaded'"
          />
          <span class="custom-radio__span">загруженные</span>
        </label>
        <label class="custom-radio">
          <input
            class="visually-hidden"
            type="radio"
            name="filter"
            value="system"
            (change)="setFilter($event)"
            [checked]="filter === 'system'"
          />
          <span class="custom-radio__span">системные</span>
        </label>
      </div>
    </form>
    <div class="modal__content">
      <ng-template #loader>
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </ng-template>
      <ng-container *ngIf="appGroups.length > 0; else loader">
        <div class="checkbox-group">
          <label
            *ngFor="
              let group of appGroups
                | search: searchParam:'app'
                | appGroup: filter
            "
            class="checkbox-wrapper"
            for="{{ group.name }}"
          >
            <input
              (change)="onCheckboxChange($event)"
              class="visually-hidden"
              name="apps"
              type="checkbox"
              value="{{ group.ID }}"
            />
            <div class="input checkbox-custom">
              <svg width="18" height="18" viewBox="0 0 20 20">
                <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
              </svg>
            </div>
            <div class="app">
              <img
                class="app__img"
                src="{{
                  group.iconUID !== ''
                    ? url + group.ID
                    : '/assets/config-images/app.png'
                }}"
                alt="{{ group.iconText }}"
              />
              <span [title]="group.name" class="app__name">{{
                group.name
              }}</span>

              <select
                *ngIf="
                  group.children && group.children.length > 0;
                  else nochildren
                "
                (change)="setValue($event)"
                class="select-app-action app__version"
                id="version-{{ group.name }}"
                name="version"
              >
                <option [value]="group.ID">
                  {{ group.version }}
                </option>

                <option *ngFor="let app of group.children" [value]="app.ID">
                  {{ app.version }}
                </option>
              </select>
              <ng-template #nochildren>
                <p *ngIf="group.system" class="app__system">
                  Системное приложение
                </p>
              </ng-template>
            </div>
          </label>
        </div>
      </ng-container>
    </div>
    <div class="modal__footer">
      <app-modal-action-btns
        [submitText]="'Добавить'"
        [cancelText]="'Отменить'"
        [margin]="'66px'"
        (onSubmit)="onSubmitHandler()"
        (onCancel)="onCancelHandler()"
      ></app-modal-action-btns>
    </div>
  </div>
</app-modal>
