<app-modal [modalID]="'add_app_config'" [isClosable]="true">
  <div class="content">
    <div class="top">
      <h4 class="text-title text-center">Добавить приложения в конфигурацию</h4>
    </div>
    <hr class="divider" />
    <div class="body">
      <ng-template #loader>
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </ng-template>
      <ng-container *ngIf="apps.length > 0; else loader">
        <div class="checkbox-group">
          <label
            *ngFor="let group of appsGroup | keyvalue"
            class="checkbox-wrapper"
            for="{{ group.value[0].name }}"
          >
            <input
              (change)="onCheckboxChange($event, group.value[0].name)"
              class="visually-hidden"
              id="{{ group.value[0].name }}"
              name="apps"
              type="checkbox"
              value="{{ group.value[0].ID }}"
            />
            <div class="input checkbox-custom">
              <svg width="18" height="18" viewBox="0 0 20 20">
                <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
              </svg>
            </div>
            <div class="app">
              <img
                class="app__img"
                src="{{
                  group.value[0].iconUID !== ''
                    ? url + group.value[0].ID
                    : '/assets/config-images/app.png'
                }}"
                alt="{{ group.value[0].iconText }}"
              />
              <span class="app__name">{{ group.key }}</span>

              <select
                (change)="setValue($event)"
                class="select-app-action app__version"
                id="version-{{ group.value[0].name }}"
                name="version"
              >
                <option *ngFor="let app of group.value" [value]="app.ID">
                  {{ app.version }}
                </option>
              </select>
            </div>
          </label>
        </div>
      </ng-container>
    </div>
    <app-modal-action-btns
      [submitText]="'Добавить'"
      [cancelText]="'Отменить'"
      [margin]="'66px'"
      (onSubmit)="onSubmitHandler()"
      (onCancel)="onCancelHandler()"
    ></app-modal-action-btns>
  </div>
</app-modal>
