.content {
  width: 700px;

  padding: 30px 58px;

  .divider {
    margin: 25px 0;
  }

  .body {
    margin-bottom: 50px;
  }

  .form-group-wrapper {
    height: 30px;

    justify-content: flex-start;

    label {
      margin-right: 103.06px;
    }
  }
}
