#delete_device {
  width: 500px;

  top: calc((100vh - 166px) / 2) !important;
}

#delete_device .modal-content {
  padding: 38px 29px !important;
}

#delete_device .action-btns {
  justify-content: center;
}

#delete_device .action-btns button:first-child {
  margin-right: 50px;
}
