<div id="delete_device" class="modal closing">
  <div class="modal-content">
    <ng-container *ngIf="device">
      <h4 class="title">Удалить устройство "{{ device.name }}"?</h4>
      <div class="row action-btns">
        <button
          type="button"
          class="modal-close sdm-middle r-14"
        >
          Нет
        </button>
        <button
          type="button"
          class="sdm-middle sdm-dark-blue r-14"
          (click)="onSubmitHandler(device)"
        >
          Да
        </button>
      </div>
    </ng-container>
  </div>
</div>
