<app-modal [modalID]="'delete_app'" [isClosable]="true">
  <div class="modal-form w-500">
    <div class="modal-form-header">
      <h4 i18n class="text-title text-center">
        Удалить приложение<br />"{{ app?.name }}"?
      </h4>
    </div>
    <div class="modal-form-footer">
      <app-modal-action-btns
        [isReverse]="true"
        [submitText]="'Да'"
        [cancelText]="'Нет'"
        [margin]="'50px'"
        [isSubmitBtnDisabled]="isDataFetching"
        (onCancel)="onCancelHandler()"
        (onSubmit)="onSubmitHandler()"
      ></app-modal-action-btns>
    </div>
  </div>
</app-modal>
