.sdm-only-icon span {
  height: 24px;
  width: 24px;

  mask-size: 24px 24px;
  mask-image: url("../../../../assets/UI/filter.svg");
  -webkit-mask-size: 24px 24px;
  -webkit-mask-image: url("../../../../assets/UI/filter.svg");
}
.sidenav.filter {
  height: 100%;
  width: 400px;

  padding: 30px 27px;

  color: var(--sdm-dark-blue-grey);
}

.sidenav.filter .body {
  height: calc(100% - 80px);

  display: flex;
  flex-direction: column;

  padding: 0 42px;
}
.sidenav.filter .body > * {
  width: 100%;
}
.sidenav.filter h2 {
  margin: 0;

  font-size: 24px;
  text-align: center;
  font-weight: 550;
}

.sidenav.filter .divider {
  margin: 25px 0;
}

.sidenav.filter .row.status {
  justify-content: flex-end;

  margin-bottom: 32px !important;
}

.sidenav.filter .row.status button {
  height: 30px;
}

.sidenav.filter .row.status p {
  margin-right: auto;
}

.sidenav.filter .row.status button:last-child {
  margin-left: 11px;
}

.sidenav.filter .date {
  padding: 0 20px;
}

.sidenav.filter .date-title {
  margin-bottom: 30px;
}

.sidenav.filter .date > .row {
  justify-content: flex-end;

  margin-bottom: 22px !important;
}

.sidenav.filter .date .row input {
  margin-left: auto !important;
}

.sidenav.filter .collapsible-header {
  padding: 0;
}

.sidenav.filter .collapsible-body {
  padding: 0 20px;
}

.sidenav.filter .collapsible .row {
  margin-bottom: 15px !important;
}

.sidenav.filter li {
  line-height: 30px;
}

.sidenav.filter .input-field-filter:not(:last-child) {
  margin-bottom: 30px;
}

.accordion-arrow {
  height: 30px;
  width: 30px;

  margin-left: auto;

  mask-size: 13px 13px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("../../../../assets/UI/arrow_down.svg");
  -webkit-mask-size: 13px 13px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: url("../../../../assets/UI/arrow_down.svg");

  background-color: var(--sdm-dark-blue-grey);

  transition: transform .4s ease;
}

.accordion-arrow.up {
  transform: rotate(180deg);
}

.sidenav.filter .action-btns {
  margin-top: auto;
}

.sidenav.filter .action-btns button:last-child {
  margin-left: auto;
}
