<button
  data-target="slide-out"
  class="sidenav-trigger sdm-only-icon sdm-dark-blue r-round filter"
>
  <span></span>
</button>
<form
  id="slide-out"
  class="sidenav sdm-right filter"
  [formGroup]="_form"
  (ngSubmit)="onSubmitHandler()"
>
  <h2>Фильтр</h2>
  <div class="divider"></div>
  <div class="body">
  <div class="status row">
    <p>Статус</p>
    <p
      class="sdm-check-btn r-14"
      [class.checked]="_isStatusOn"
    >
      <label>
        <input
          name="status-on"
          type="checkbox"
          formControlName="status-on"
          [checked]="_isStatusOn"
          (click)="toggleSearchDevicesOn()"
        />
        <span>вкл</span>
      </label>
    </p>
    <p
      class="sdm-check-btn r-14"
      [class.checked]="_isStatusOff"
    >
      <label>
        <input
          name="status-off"
          type="checkbox"
          formControlName="status-off"
          [checked]="_isStatusOff"
          (click)="toggleSearchDevicesOff()"
        />
        <span>выкл</span>
      </label>
    </p>
  </div>
    <p class="date-title">Последнее включение</p>
    <div class="date">
      <div class="row">
        <p>с</p>
        <input
          type="datetime-local"
          class="w-186"
          formControlName="date-from"
        >
      </div>
      <div class="row">
        <p>по</p>
        <input
          type="datetime-local"
          class="w-186"
          formControlName="date-to"
        >
      </div>
    </div>
    <div class="input-field-filter sdm-blue-select config">
      <label for="filter-config">Конфигурация</label>
      <select
        id="filter-config"
        name="filter-config"
        class="filter-select config"
        formControlName="config_ids"
        multiple
      >
        <ng-container *ngFor="let config of configs">
          <option
            [value]="config.ID"
          >
            {{ config.name }}
          </option>
        </ng-container>
      </select>
    </div>
    <div class="input-field-filter sdm-blue-select">
      <label for="filter-group">Группа</label>
      <select
        id="filter-group"
        name="filter-group"
        class="filter-select sdm group"
        formControlName="group_ids"
        multiple
      >
        <ng-container *ngFor="let group of groups">
          <option
            [value]="group.id"
          >
            {{ group.name }}
          </option>
        </ng-container>
      </select>
    </div>
    <div class="row action-btns">
      <button
        type="button"
        class="sidenav-close sdm-middle r-14"
        (click)="onResetHandler()"
      >
        Сброс
      </button>
      <button
        type="submit"
        class="sidenav-close sdm-middle sdm-dark-blue r-14"
      >
        Поиск
      </button>
    </div>
  </div>
</form>
