<app-modal [modalID]="'delete_app'" [isClosable]="true">
  <div class="modal-form w-500">
    <div class="modal-form-header">
      <h4 class="text-title text-center">
        Удалить приложение<br />"{{ _current?.name }}"?
      </h4>
    </div>
    <div class="modal-form-footer">
      <app-modal-action-btns
        [isReverse]="true"
        [submitText]="'Да'"
        [cancelText]="'Нет'"
        [margin]="'50px'"
        [isSubmitBtnDisabled]="
          ((loading$ | async) || false) &&
          ((entity$ | async) === 'apps' || false)
        "
        (onCancel)="closeModal()"
        (onSubmit)="onSubmitHandler()"
      ></app-modal-action-btns>
    </div>
  </div>
</app-modal>
