<app-modal
  [modalID]="'add_app'"
  [isClosable]="true"
>
  <div class="content">
    <div class="top">
      <h4 class="text-title text-center">Добавить приложение</h4>
    </div>
    <hr class="divider">
    <div class="body">
      <form
        [formGroup]="_form"
      >
        <div class="form-group-wrapper">
          <label class="text-menu-title" for="file">Файл</label>
          <app-input-file
            [name]="'file'"
            [width]="'w-440'"
            [isError]="_isSubmitted && !!_file?.errors"
            (onChange)="onInputFileChangeHandler($event)"
          ></app-input-file>
          <app-input-alert
            *ngIf="_isSubmitted && !!_file?.errors"
            [control]="$any(_file)"
            [type]="'error'"
          ></app-input-alert>
        </div>
      </form>
    </div>
    <app-modal-action-btns
      [submitText]="'Сохранить'"
      [cancelText]="'Отменить'"
      [margin]="'66px'"
      (onSubmit)="onSubmitHandler()"
      (onCancel)="onCancelHandler()"
    ></app-modal-action-btns>
  </div>
</app-modal>
