<app-global-container class="global-container">
  <app-global-header
    class="global-header"
    [title]="'Группы устройств'"
  ></app-global-header>
  <main class="global-main card-wrapper">
    <div class="card page-content">
      <div class="top row space-between">
        <app-input-search
          [value]="searchParam"
          (onChange)="onChangeSearchInputHandler($event)"
        ></app-input-search>
        <div class="filter-wrapper">
          <app-filter-btn
            [target]="'filter_groups'"
          ></app-filter-btn>
        </div>
        <app-add-button
          [title]="'добавить группу'"
          [target]="'add_group'"
        ></app-add-button>
      </div>
      <ng-container *ngIf="loading">
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </ng-container>
      <app-selected-elements
        [selectedIDs]="selectedGroupsIDs"
        [editTarget]="'edit_several_devices'"
        [deleteTarget]="'delete_several_elements'"
        (onCloseClick)="cancelSelection()"
      ></app-selected-elements>
      <div class="list">
        <div class="list-header row">
          <div class="checkbox-wrapper">
            <app-input-checkbox
              [value]="isAllSelected"
              (onChange)="selectUnselectGroups()"
            ></app-input-checkbox>
          </div>
          <div class="sort-headers row space-between">
            <div class="sort-btn-wrapper status">
              <app-sort-btn
                [title]="'Название'"
              ></app-sort-btn>
            </div>
            <p>Описание</p>
            <p>Обозначение</p>
            <div class="sort-btn-wrapper status">
              <app-sort-btn
                [title]="'Количество устройств'"
              ></app-sort-btn>
            </div>
            <div class="sort-btn-wrapper status">
              <app-sort-btn
                [title]="'Конфигурация'"
              ></app-sort-btn>
            </div>
            <div class="sort-btn-wrapper status">
              <app-sort-btn
                [title]="'Дата обновления'"
              ></app-sort-btn>
            </div>
            <p>Состояние</p>
            <p>Действия</p>
          </div>
        </div>
        <div class="list-box">
          <ng-container *ngIf="groups; else nodata">
            <app-group-item
              *ngFor="let group of groups
              | search: searchParam : 'group'
              | groupFilter
                    : filter.status
                    : filter.dateFrom
                    : filter.dateTo
                    : filter.configsIDs
              "
              [group]="group"
              [configs]="configs"
              (onSelectUnselectGroup)="selectUnselectGroup($event)"
              (onSwitchChange)="changeGroupState($event)"
              (onEditClick)="setGroupToEdit($event)"
            ></app-group-item>
          </ng-container>
          <ng-template #nodata>
            <app-no-list-data></app-no-list-data>
          </ng-template>
        </div>
      </div>
    </div>
  </main>
</app-global-container>

<app-filter-group
  [configs]="configs"
  (onSubmit)="searchGroupsWithParams()"
  (onCancel)="resetSearchParams()"
></app-filter-group>
<app-edit-group
  [configs]="configs"
  (onSubmit)="editGroup()"
></app-edit-group>
