<div class="tip">
  <h6>Чтобы настроить Android-устройство (версии Android 7+) в управляемом (корпоративном) режиме:</h6>
  <ol>
    <li>Выполните сброс к заводским настройкам</li>
    <li> Нажмите 7 раз подряд на любом месте стартового экрана (должен появиться скрытый режим сканирования QR-кода)</li>
    <li>Следуйте инструкциям устройства: примите условия использования, подключитесь к Wi-Fi, отсканируйте QR-код</li>
  </ol>
  <p>
    Код может содержать также ID устройства в системе Headwind MDM (после настройки его не нужно будет вводить). Для включения ID устройства в QR код, введите его на этом экране и нажмите "Обновить".
  </p>
</div>
