<div class="tip">
  <h6>Чтобы перевести устройство на платформе Android версии 7 и выше в режим предприятия и подключится к системе SDM, необходимо:</h6>
  <ol>
    <li>Выполнить полный сброс настроек устройства к заводским, если оно настраивалось ранее;</li>
    <li>Начать настройку подключения к Wi-Fi при отсутствии мобильной связи, с последующим выходом к стартовому экрану, после подключения;</li>
    <li>На любом свободном месте стартового экрана, необходимо быстро произвести 7 нажатий для перехода в режим сканирования QR-кода;</li>
    <li>Выполните сканирование QR-кода и подтвердите все последующие условия пользования, предлагаемые устройством.</li>
  </ol>
  <div class="todo r-8">
    <p>
      Для привязки имеющегося устройства к системе SDM, необходимо произвести сканирование созданного QR-кода.
    </p>
    <p>
      Привязку устройства к системе можно произвести позже, нажав на иконку QR-кода созданного устройства в общем списке устройств.
    </p>
  </div>
</div>
