<div class="app-item" [style.height.px]="_height">
  <div
    class="app-item-content"
    [class.main]="app.children && app.children.length !== 0"
    [class.has-children]="app.children && app.children.length !== 0"
    (click)="toggleChildren()"
  >
    <img
      class="app-img app-item__img"
      [src]="
        app.iconUID !== '' ? url + app.ID : '/assets/config-images/app.png'
      "
      alt="{{ app.iconText }}"
    />
    <div class="name-wrapper">
      <p
        class="text-choose name"
        (mouseenter)="displayNameTip()"
        (mouseleave)="hideNameTip()"
        #name
      >
        {{ app.name }}
      </p>
      <p class="list-tip" #nametip>{{ app.name }}</p>
    </div>
    <div class="version-wrapper">
      <p
        class="app-item__version"
        (mouseenter)="displayVTip()"
        (mouseleave)="hideVTip()"
        #version
      >
        {{ app.version }}
      </p>
      <p class="list-tip" #vtip>{{ app.version }}</p>
      <span
        *ngIf="app.children && app.children.length !== 0"
        class="icon"
        [class.down]="!isChildrenHidden"
        [class.shifted]="app.system"
      ></span>
    </div>
    <!--  <p class="app-item__url">{{ app.url }}</p>-->
    <p class="app-item__pkg">{{ app.pkg }}</p>
    <p class="app-item__file-size">{{ app.fileByteSize | fileSize }}</p>
    <div class="app-item__icon">
      <div
        class="icon-container"
        [class.on]="app.showIcon"
        [class.off]="!app.showIcon"
      >
        <span class="icon"></span>
      </div>
    </div>
    <div class="row space-between app-item__action">
      <app-app-action-btn
        [app]="app"
        [target]="'edit_app'"
        (onClick)="onEditClickHandler(app)"
      ></app-app-action-btn>
      <app-app-action-btn
        [app]="app"
        [target]="'delete_app'"
        (onClick)="onDeleteClickHandler(app)"
      ></app-app-action-btn>
    </div>
  </div>

  <ng-container *ngIf="app.children && app.children.length !== 0">
    <div class="children-container" [class.hidden]="isChildrenHidden">
      <hr class="divider" />
      <ng-container *ngFor="let child of app.children">
        <div class="app-item-content child">
          <div class="empty-container"></div>
          <div class="empty-container"></div>
          <p class="app-item__version text-choose">{{ child.version }}</p>
          <!--        <p class="app-item__url">{{ child.url }}</p>-->
          <div class="empty-container"></div>
          <p class="app-item__file-size">{{ child.fileByteSize | fileSize }}</p>
          <div class="empty-container"></div>
          <div class="row space-between app-item__action">
            <app-app-action-btn
              [app]="child"
              [target]="'edit_app'"
              (onClick)="onEditClickHandler(child)"
            ></app-app-action-btn>
            <app-app-action-btn
              [app]="child"
              [target]="'delete_app'"
              (onClick)="onDeleteClickHandler(child)"
            ></app-app-action-btn>
          </div>
        </div>
        <hr class="divider" />
      </ng-container>
    </div>
  </ng-container>
</div>
