<div class="app-item">
  <img
    class="app-img"
    [src]="app.iconUID !== '' ? url + app.ID : ''"
  >
  <div class="title">
    <p class="text-choose">{{ app.name }}</p>
    <p *ngIf="app.system" class="text-note">Системное приложение</p>
  </div>
  <p>{{ app.version }}</p>
  <p>123</p>
  <p>{{ app.pkg }}</p>
  <p>{{ app.fileSize }}</p>
  <div class="row center">
    <div class="icon-container">
      <span
        class="icon"
        [class.on]="app.showIcon"
        [class.off]="!app.showIcon"
      ></span>
    </div>
  </div>
  <div class="row space-between">
    <app-app-action-btn
      [app]="app"
      [target]="'edit_app'"
      (onClick)="onEditClickHandler(app)"
    ></app-app-action-btn>
    <app-app-action-btn
      [app]="app"
      [target]="'delete_app'"
      (onClick)="onDeleteClickHandler(app)"
    ></app-app-action-btn>
  </div>
</div>
