<div class="user">
  <button #popup_btn class="user-btn" (click)="togglePopup()"></button>
  <div #popup class="user-popup" *ngIf="isPopupOpen">
    <div class="top">
      <img src="assets/c9K2Y9r5Keo.jpg" alt="" />
      <div class="user-info">
        <p class="name">Name</p>
        <p class="email">example@email.ru</p>
      </div>
      <button class="user-profile-btn">
        <i class="material-icons tiny">edit</i>
      </button>
    </div>
    <div class="bottom">
      <button class="logout" (click)="logout()">
        <i class="material-icons">exit_to_app</i>
        Выйти
      </button>
    </div>
  </div>
</div>
