<app-card>
  <div class="user">
    <button
      class="toggle-btn"
      [class.no-user]="imgURL === ''"
      (click)="togglePopup()"
    >
      <span
        *ngIf="imgURL === ''"
        class="icon"
      ></span>
      <img
        *ngIf="imgURL !== ''"
        [src]="imgURL"
        alt=""
      >
    </button>
    <div
      *ngIf="isPopupOpen"
      class="user-popup"
    >
      <div class="top">
        <div class="top-left">
          <div class="avatar">
            <span
              *ngIf="imgURL === ''"
              class="icon"
            ></span>
            <img
              *ngIf="imgURL !== ''"
              [src]="imgURL"
              alt=""
            >
          </div>
          <div class="info">
            <p class="name text-menu-title">Name</p>
            <p class="company">Company</p>
          </div>
        </div>
        <div class="top-right">
          <button
            class="edit p-0"
          >
            <span class="icon"></span>
          </button>
        </div>
      </div>
      <hr class="divider">
      <div class="bottom">
        <button
          class="logout p-0"
          (click)="logout()"
        >
          <span class="icon"></span>
          выйти
        </button>
      </div>
    </div>
  </div>
</app-card>
