<div class="user-popup-container">
  <div class="user-popup" *ngIf="currentUser">
    <div class="popup-btn-wrapper" [class.no-img]="currentUser.avatar === ''">
      <app-button
        [height]="'30px'"
        [width]="'30px'"
        [padding]="'0'"
        [radius]="'15px'"
        [color]="'blue'"
        (onCLick)="togglePopup()"
      >
        <span *ngIf="currentUser.avatar === ''" class="icon icon-user"></span>
        <span
          class="avatar--small"
          *ngIf="currentUser.avatar !== ''"
          [style.background-image]="
            currentUser.avatar !== ''
              ? 'url(data:image/jpeg;base64,' + currentUser.avatar + ')'
              : 'none'
          "
        ></span>
      </app-button>
    </div>
    <div *ngIf="isPopupOpen" class="user-popup">
      <div class="top">
        <div class="top-left">
          <div
            class="avatar"
            [style.background-image]="
              currentUser.avatar !== ''
                ? 'url(data:image/jpeg;base64,' + currentUser.avatar + ')'
                : 'none'
            "
          >
            <span *ngIf="currentUser.avatar === ''" class="icon"></span>
          </div>
          <div class="info">
            <p class="name text-menu-title">{{ currentUser.name }}</p>
            <p class="company">{{ currentUser.userTags }}</p>
          </div>
        </div>
        <div class="top-right">
          <app-card-menu-btn [target]="'modal-new-user'" [bg]="'blue'">
            <span class="icon icon-edit"></span>
          </app-card-menu-btn>
        </div>
      </div>
      <hr class="divider" />
      <div class="bottom">
        <div class="logout-wrapper row">
          <span class="icon icon-logout"></span>
          <app-button
            [height]="'24px'"
            [padding]="'0'"
            [radius]="'0'"
            [color]="'transparent'"
            (onCLick)="logout()"
          >
            <p>выйти</p>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<app-add-user [currentUser]="currentUser"> </app-add-user>-->
