.icon-f-item {
  height: 14px;
  width: 14px;
  mask-size: 14px 14px;
  -webkit-mask-size: 14px 14px;
  background-color: var(--light-blue-grey);

  &.file_download {
    mask-size: 16px 16px;
    mask-image: url('/assets/images/UI/download.svg');
    -webkit-mask-image: url('/assets/images/UI/download.svg');
  }
  &.file_hide {
    mask-size: 16px 16px;
    mask-image: url('/assets/images/UI/eye_show.svg');
    -webkit-mask-image: url('/assets/images/UI/eye_show.svg');
  }
  &.file_show {
    mask-size: 16px 16px;
    mask-image: url('/assets/images/UI/qr_code.svg');
    -webkit-mask-image: url('/assets/images/UI/qr_code.svg');
  }
  &.file_delete {
    mask-image: url('/assets/images/UI/cross.svg');
    -webkit-mask-image: url('/assets/images/UI/cross.svg');
  }
}
