.page-content {
  padding: 22px;

  .top {
    margin-bottom: 16px;

    .filter-btn-wrapper {
      margin-left: 12px;
      margin-right: auto;
    }
  }

  .list {
    &-header {
      margin-top: 24px;
      padding: 0 16px;

      > *:nth-child(1) {
        width: 30px;

        margin-right: 10px;
      }

      > *:nth-child(2) {
        width: 165px;

        margin-right: 5px;
      }

      > *:nth-child(3) {
        width: 50px;

        margin-right: 5px;
      }

      > *:nth-child(4) {
        width: 505px;

        margin-right: 10px;
      }

      > *:nth-child(5) {
        width: 230px;

        margin-right: 10px;
      }

      > *:nth-child(6) {
        width: 56px;

        margin-right: 21px;
      }

      > *:nth-child(7) {
        width: 40px;

        margin-right: 46px;
      }

      > *:nth-child(8) {
        width: 60px;
      }
    }

    &-body {
      margin-top: 24px;
    }
  }
}
