<div id="qr-code" class="modal closing">
  <div class="modal-content">
    <h4 class="title">Устройство "{{ title }}"</h4>
    <div class="divider"></div>
    <ngx-qrcode
      [elementType]="elementType"
      [errorCorrectionLevel]="correctionLevel"
      [value]="valueQR"
      [width]="438"
      class="qr-container"
    ></ngx-qrcode>
    <div class="row action-btns">
      <button class="r-14">Обновить код</button>
      <button class="r-14">Получить JSON</button>
      <button class="r-14">Помощь</button>
    </div>
  </div>
</div>
