#qr-code {
  top: calc((100vh - 690px) / 2) !important;

  transition: width .4s ease;
}

#qr-code .qr-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#qr-code .qr-code {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 40px;
}

#qr-code .action-btns {
  justify-content: center;
}

#qr-code .action-btns button:first-child {
  margin-right: 30px;
}
