<app-modal
  [modalID]="'qr_code'"
  [isClosable]="true"
>
  QRcode
</app-modal>


<!--<div-->
<!--  id="qr-code"-->
<!--  class="modal closing"-->
<!--  [style]="isTipHidden ? 'width: 592px' : 'width: 950px'"-->
<!--&gt;-->
<!--  <div class="modal-content">-->
<!--    <h4 class="title">Устройство "{{ device?.name }}"</h4>-->
<!--    <div class="divider"></div>-->
<!--    <div class="qr-container">-->
<!--      <ngx-qrcode-->
<!--        class="qr-code"-->
<!--        [elementType]="elementType"-->
<!--        [errorCorrectionLevel]="correctionLevel"-->
<!--        [value]="_qrcode"-->
<!--        [width]="420"-->
<!--      ></ngx-qrcode>-->
<!--      <app-qr-tip *ngIf="!isTipHidden"></app-qr-tip>-->
<!--    </div>-->
<!--    <div class="row action-btns">-->
<!--      <button-->
<!--        type="button"-->
<!--        class="modal-close sdm-middle r-14"-->
<!--        (click)="onCloseClickHandler()"-->
<!--      >-->
<!--        Закрыть-->
<!--      </button>-->
<!--      <button-->
<!--        type="button"-->
<!--        class="sdm-middle sdm-dark-blue r-14"-->
<!--        (click)="onHelpClickHandler()"-->
<!--      >-->
<!--        Помощь-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
