.input-file-wrapper {
  display: flex;
  align-items: center;

  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      padding: 7px 14px;

      border-radius: 14px;

      outline: 1px solid var(--dark-blue);

      background-color: var(--white);
      color: var(--dark-blue);

      cursor: pointer;
    }

    &:focus + label,
    & + label:hover {
      background-color: var(--light-grey);
    }

    &.error + label {
      outline-width: 2px;
      outline-color: var(--error);

      color: var(--error);
    }
  }

  .file {
    &-name {
      max-width: 236px;

      margin-left: 10px;
      margin-right: 10px;

      overflow-wrap: break-word;
    }

    &-size {
      width: 100px;
    }
  }
}
