<div class="interface">
  <label>Интерфейс</label>
  <div class="interface-sample" [style.background-color]="bgColor">
    <div
      class="interface-sample__title"
      *ngIf="title && title !== 'NO_HEADER'"
      [style.color]="textColor"
    >
      {{ title }}
    </div>
    <div class="interface-sample__apps">
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
      <div class="interface-sample__app">
        <div class="interface-sample__app-icon"></div>
        <p class="interface-sample__app-name" [style.color]="textColor">
          Камера
        </p>
      </div>
    </div>
  </div>
</div>
