<app-global-container class="global-container">
  <app-global-header class="global-header" [title]="'Конфигурации'">
  </app-global-header>
  <main class="global-main card-wrapper">
    <div class="card">
      <div class="card__header">
        <span class="search-wrapper">
          <input
            [(ngModel)]="search"
            type="search"
            name="search"
            id="search"
            class="search-input" /><i class="search-icon"></i
        ></span>

        <button
          class="btn btn--rounded btn--right"
          data-target="modal-add-config"
        >
          Добавить конфигурацию
        </button>
      </div>
      <div class="config-wrapper">
        <ng-template #loader>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </ng-template>
        <ng-container *ngIf="configs.length > 0; else loader">
          <div
            class="config-card"
            *ngFor="let config of configs | configSearch: search"
          >
            <div class="config-card__header">
              <div class="config-card__title">
                {{ config.name }}
              </div>
              <div class="config-card__menu">
                <a
                  class="config-card__menu-btn"
                  routerLink="/configuration/{{ config.ID }}"
                >
                  <i class="material-icons">edit</i>
                </a>
                <button
                  type="button"
                  class="config-card__menu-btn"
                  data-target="modal-delete-config"
                  (click)="setCurrentConfig(config)"
                >
                  <i class="material-icons">clear</i>
                </button>
              </div>
            </div>
            <div class="config-card__content">{{ config.description }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </main>
</app-global-container>

<!--  MODALS -->
<div class="modal-wrapper" id="modal-add-config">
  <div class="modal-dialog" style="width: 700px">
    <h4 class="modal-title">Добавить конфигурацию</h4>
    <form [formGroup]="newConfigForm" class="form">
      <div class="form__item">
        <label for="name">Название</label>
        <input
          formControlName="name"
          type="text"
          id="name"
          class="w-440"
          required
        />
      </div>
      <div class="form__item">
        <label for="description">Описание</label>
        <input
          formControlName="description"
          type="text"
          id="description"
          class="w-440"
          required
        />
      </div>
      <div class="form__item">
        <label>Создать на основе</label>
        <select class="select-native w-440" formControlName="prototype">
          <option [ngValue]="'Стандартная конфигурация'" selected>
            Конфигурация по умолчанию
          </option>
          <option value="{{ config.name }}" *ngFor="let config of configs">
            {{ config.name }}
          </option>
        </select>
      </div>
    </form>
    <div class="btn-wrapper">
      <button (click)="addConfig(newConfigForm.value)" class="btn btn--big">
        Добавить
      </button>
      <button class="btn btn--big btn--outline modal-close">Отменить</button>
    </div>
  </div>
</div>
<div class="modal-wrapper" id="modal-delete-config">
  <div class="modal-dialog" *ngIf="currentConfig">
    <h4 class="modal-title">Удалить конфигурацию {{ currentConfig.name }}?</h4>
    <div class="btn-wrapper">
      <button (click)="removeConfig(currentConfig.ID)" class="btn btn--big">
        Удалить
      </button>
      <button class="btn btn--big btn--outline modal-close">Отменить</button>
    </div>
  </div>
</div>
