<app-global-container class="global-container">
  <app-global-header class="global-header" [title]="'Конфигурации'">
  </app-global-header>
  <main class="global-main card-wrapper">
    <div class="card">
      <div class="card__header">
        <span class="search-wrapper">
          <input
            [(ngModel)]="search"
            type="search"
            name="search"
            id="search"
            class="search-input" /><i class="search-icon"></i
        ></span>

        <button class="btn btn--rounded btn--right">
          Добавить конфигурацию
        </button>
      </div>
      <div class="config-wrapper">
        <ng-template #loader>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </ng-template>
        <div class="config-card" *ngFor="let config of configs">
          <div class="config-card__header">
            <div class="config-card__title">
              {{ config.name }}
            </div>
            <div class="config-card__menu">
              <button
                class="config-card__menu-btn"
                data-target="modal-new-config"
              >
                <i class="material-icons">edit</i>
              </button>
              <button
                class="config-card__menu-btn"
                data-target="modal-delete-config"
              >
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>
          <div class="config-card__content">{{ config.description }}</div>
        </div>
      </div>
    </div>
  </main>
</app-global-container>

<!--  MODALS -->
<div class="modal-wrapper" id="setting">
  <div class="modal-dialog">
    <h4 class="modal-title">Удалить конфигурацию?</h4>
    <div class="btn-wrapper">
      <button (click)="removeConfig(id)" class="btn btn-small red lighten-1">
        Удалить
      </button>
      <button class="btn btn--big btn--outline modal-close">Нет</button>
    </div>
  </div>
</div>
