<ng-container
  *ngIf="
    filters.status !== null ||
    (filters.dateFrom && filters.dateFrom !== '') ||
    (filters.dateTo && filters.dateTo !== '') ||
    (filters.configsIDs && filters.configsIDs.length !== 0) ||
    (filters.groupsIDs && filters.groupsIDs.length !== 0)
  "
>
  <div class="row filters-wrapper">
    <app-button
      *ngIf="filters.status !== null"
      [height]="'auto'"
      [padding]="'7px 9px 7px 10px'"
      [text]="filters.status ? 'статус: вкл' : 'статус: выкл'"
      [textLike]="'like-body'"
      [color]="'blue'"
      [radius]="'14px'"
      (click)="onStatusRemoveHandler()"
    >
      <span class="icon"></span>
    </app-button>
    <app-button
      *ngIf="filters.dateFrom !== null"
      [height]="'auto'"
      [padding]="'7px 9px 7px 10px'"
      [text]="'с ' + (filters.dateFrom | dateConverter: 'HH:mm, D MMM YYYY')"
      [textLike]="'like-body'"
      [color]="'blue'"
      [radius]="'14px'"
      (click)="onDateFromRemoveHandler()"
    >
      <span class="icon"></span>
    </app-button>
    <app-button
      *ngIf="filters.dateTo !== null"
      [height]="'auto'"
      [padding]="'7px 9px 7px 10px'"
      [text]="'по ' + (filters.dateTo | dateConverter: 'HH:mm, D MMM YYYY')"
      [textLike]="'like-body'"
      [color]="'blue'"
      [radius]="'14px'"
      (click)="onDateToRemoveHandler()"
    >
      <span class="icon"></span>
    </app-button>
    <ng-container *ngIf="_configIDs && _configIDs.length !== 0">
      <ng-container *ngFor="let config of _configIDs">
        <app-button
          [height]="'auto'"
          [padding]="'7px 9px 7px 10px'"
          [text]="'конф.: ' + config"
          [textLike]="'like-body'"
          [color]="'blue'"
          [radius]="'14px'"
          (click)="onConfigsIDsRemoveHandler(config)"
        >
          <span class="icon"></span>
        </app-button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="_groupsIDs && _groupsIDs.length !== 0">
      <ng-container *ngFor="let group of _groupsIDs">
        <app-button
          [height]="'auto'"
          [padding]="'7px 9px 7px 10px'"
          [text]="'гр.: ' + group"
          [textLike]="'like-body'"
          [color]="'blue'"
          [radius]="'14px'"
          (click)="onGroupsIDsRemoveHandler(group)"
        >
          <span class="icon"></span>
        </app-button>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
