.filters-wrapper {
  flex-wrap: wrap;
  gap: 5px;
}

.icon {
  height: 7px;
  width: 7px;

  margin-left: 7px;

  mask-size: 7px 7px;
  mask-image: url('/assets/UI/cross.svg');

  background-color: var(--white);
}
