.password-wrapper {
  position: relative;

  .icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: calc((var(--input-height) - 24px) / 2);
    right: 7px;
    mask-size: 24px 24px;
    -webkit-mask-size: 24px 24px;
    background-color: var(--dark-grey);
    cursor: pointer;

    &.shown {
      mask-image: url('/assets/images/UI/eye_hide.svg');
      -webkit-mask-image: url('/assets/images/UI/eye_hide.svg');
    }
    &.hidden {
      mask-image: url('/assets/images/UI/eye_show.svg');
      -webkit-mask-image: url('/assets/images/UI/eye_show.svg');
    }
  }
}
