.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-radius: 14px;
  cursor: pointer;
  transition: color var(--transition-time) ease,
    background-color var(--transition-time) ease,
    border-color var(--transition-time) ease;

  &.like {
    &-button {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
    }
    &-body {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
    }
  }

  &.common {
    background-color: transparent;
    border-color: var(--dark-blue);
    color: var(--dark-blue);

    &:hover {
      background-color: var(--light-blue-grey);
    }
  }

  &.blue {
    background-color: var(--dark-blue);
    color: var(--white);

    &:hover {
      background-color: var(--blue);
    }
  }

  &.dark {
    background-color: var(--dark-blue-grey);
    color: var(--white);

    &:hover {
      background-color: var(--dark-grey);
    }
  }

  &.transparent {
    background-color: transparent;
    color: inherit;
  }

  &:disabled {
    background-color: var(--grey);
    color: var(--white);
    cursor: initial;
  }
}
