/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #2196f3 !important;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #94c6f5 !important;
}

.progress {
  background-color: #94c6f5 !important;
}

.indeterminate {
  background-color: #2196f3 !important;
}
.btn-small {
  margin: 0.3rem;
}
.col {
  word-break: break-word;
}
.container {
  max-width: 80% !important;
  width: 80% !important;
  padding-top: 2rem;
}
