/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #526c9b;
}

body {
  font-family: HelveticaNeueCyrRegular, sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  /*line-height: 16px;*/
  color: #526c9b !important;
}

.sidenav {
  padding-bottom: 0 !important;

  box-shadow: none !important;
}

.divider {
  height: 2px !important;

  background-color: #cbd9f2 !important;
}

.content-container .divider {
  margin: 18px 0;
}

.row {
  display: flex;
  align-items: center;

  margin-bottom: 0 !important;
}

.card {
  margin: 0 !important;

  background-color: transparent !important;

  border-radius: 14px !important;

  box-shadow: none !important;

  transition: none !important;
}

.modal {
  border-radius: 14px !important;

  box-shadow: none !important;
}

.modal-content {
  padding: 30px 88px !important;
  /*padding-bottom: 0 !important;*/
}

.modal-content .title {
  margin-bottom: 23px;

  font-size: 24px;

  text-align: center;
}

.modal .action-btns {
  justify-content: space-between;
}

.progress {
  background-color: #94c6f5 !important;
}

.indeterminate {
  background-color: #2196f3 !important;
}
.btn-small {
  margin: 0.3rem;
}

.global-wrapper {
  /* 100% - марджин - скролл */
  min-height: calc(100vh - 32px);
  height: 100%;

  display: flex;
  flex-direction: row;

  margin: 12px 18px;
}

.content-container {
  flex-grow: 1;
}

input {
  height: 45px !important;
  margin: 0 !important;
  padding: 11px !important;

  color: inherit !important;

  background-color: #fff !important;
  border: 1px solid #526c9b !important;
  border-radius: 16px !important;

  box-sizing: border-box !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none !important;
}

.switch label .lever {
  height: 16px !important;
  width: 28px !important;
}
.switch label .lever:before,
.switch label .lever:after {
  height: 12px !important;
  width: 12px !important;

  top: 2px !important;
  left: 2px !important;

  box-shadow: none !important;
}
.switch label input[type="checkbox"]:checked + .lever:before,
.switch label input[type="checkbox"]:checked + .lever:after {
  left: 14px !important;
}
.switch label input[type="checkbox"]:checked + .lever {
  background-color: #526c9b !important;
}
.switch label input[type="checkbox"] + .lever {
  background-color: #d8d8d8 !important;
}
.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #cbd9f2 !important;
}
.switch label input[type="checkbox"] + .lever:after {
  background-color: #858585 !important;
}

label {
  font-size: inherit !important;
  color: inherit !important;
}

a {
  color: inherit !important;
}

button {
  background-color: transparent !important;
}

button,
a.sdm-btn {
  font-family: inherit;
  color: inherit;

  border: 1px solid #526c9b;

  cursor: pointer;
}

button.selected {
  background-color: #526c9b !important;
  color: #fff;
}

button:disabled {
  border-color: transparent !important;
  background-color: #d8d8d8 !important;
  color: #fff !important;

  cursor: inherit !important;
}

button:focus {
  background-color: inherit !important;
}

button.selected:focus {
  background-color: #526c9b !important;
}

button.sdm-btn-medium,
a.sdm-btn.sdm-btn-medium {
  height: 40px;

  padding: 10px 14px;

  font-size: 16px;

  border-radius: 14px;
}

button.sdm-btn-small,
a.sdm-btn.sdm-btn-small {
  height: 26px;

  padding: 5px 12px;

  font-size: 12px;

  border-radius: 8px;
}

button.sdm-btn-common {
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: #526c9b !important;
}

button.sdm-btn-common > span {
  height: 16px;
  width: 16px;

  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  background-color: #fff;
}

a.sdm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

td,
th {
  padding: 0 !important;

  font-weight: normal;
}

tr {
  border-bottom: none !important;
}

.sdm-bg-light-blue {
  background-color: #eaeff8 !important;
}

.sdm-bg-blue-select {
  background-color: #cbd9f2 !important;
}

.sdm-bg-blue-dark {
  background-color: #526c9b !important;
}

.sdm-bg-grey {
  background-color: #d8d8d8;
}

.r-8 {
  border-radius: 8px;
}

.r-14 {
  border-radius: 14px;
}

.r-round {
  border-radius: 50%;
}
