@import "~leaflet/dist/leaflet.css";

:root {
  --dark-blue-grey: #2F4459;
  --dark-grey: #667389;
  --dark-blue: #557EBE;
  --blue: #739CDD;
  --light-blue: #DAE3F4;
  --light-blue-darker: #C7D5ED;
  --light-blue-grey: #ECEEF1;
  --light-grey: #F7F7F7;
  --grey: #D8D8D8;
  --white: #FFFFFF;

  --green: #AFD9A1;
  --red: #FCA3A3;

  --error: #EB4F4F;

  --box-shadow: 0px 0px 10px rgba(133, 133, 133, 0.15);

  --input-height: 44.44px;

  --transition-time: .4s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--dark-blue);
}

body {
  // основной текст
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  // основной текст
  color: var(--dark-blue-grey);
}
// подтело
.text-sub-body {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}
// примечание
.text-note {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 10px;
}
// выбор
.text-choose {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}
// заголовок вкладки меню
.text-menu-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
// заголовок вкладки
.text-title {
  font-weight: 550;
  font-size: 24px;
  line-height: 24px;
}
// заголовок подвкладки
.text-sub-title {
  font-weight: 550;
  font-size: 20px;
  line-height: 20px;
}
// заголовок вкладки выбор
.text-title-choose {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.text-center {
  text-align: center;
}

hr.divider {
  height: 2px;

  background-color: var(--light-blue);

  border: none;
}

// ИНПУТ
input:not([type='checkbox']) {
  height: var(--input-height);

  padding: 14.44px 31px 11px 11px;

  font-weight: 300;
  font-size: 16px;
  line-height: 18.77px;
  color: var(--dark-blue-grey);

  border: 1px solid var(--grey);
  border-radius: 16px;

  transition: border var(--transition-time) ease;

  &:hover {
    border-color: var(--dark-blue);
  }
  &:focus {
    border: 2px solid var(--dark-blue)
  }

  &.error {
    border: 2px solid var(--error);

    color: var(--error);
  }

  &:disabled {
    background-color: var(--grey);
    border-color: transparent;
  }
}

// КНОПКА
button {
  padding: 12px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  border: 1px solid transparent;
  border-radius: 14px;

  cursor: pointer;

  transition:
    color var(--transition-time) ease,
    background-color var(--transition-time) ease,
    border-color var(--transition-time) ease;

  &.common {
    color: var(--dark-blue);
    background-color: transparent;
    border-color: var(--dark-blue);

    &:hover {
      background-color: var(--light-blue-grey);
    }
  }

  &.blue {
    color: var(--white);
    background-color: var(--dark-blue);

    &:hover {
      background-color: var(--blue);
    }
  }

  &:disabled {
    background-color: var(--grey);
    color: var(--white);

    cursor: initial;
  }
}

// ССЫЛКА
a {
  display: block;

  color: inherit;
}

// СПИСКИ
ul, ol {
  list-style: none;
}

// СПАН-ИКОНКА
.icon,
.btn-icon span {
  display: block;

  mask-repeat: no-repeat;
  mask-position: center center;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
}

// КОНТЕЙНЕР-СТРОКА
.row {
  display: flex;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
}
