@import "~leaflet/dist/leaflet.css";

@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/UI/HelveticaNeueCyr-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("assets/UI/HelveticaNeueCyr-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueHeavy";
  src: url("assets/UI/HelveticaNeueCyr-Heavy.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("assets/UI/HelveticaNeueCyr-Roman.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("assets/UI/HelveticaNeueCyr-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --dark-blue-grey: #2f4459;
  --dark-grey: #667389;
  --dark-blue: #557ebe;
  --blue: #739cdd;
  --light-blue: #dae3f4;
  --light-blue-darker: #c7d5ed;
  --light-blue-grey: #eceef1;
  --light-grey: #f7f7f7;
  --grey: #d8d8d8;
  --white: #ffffff;
  --green: #afd9a1;
  --red: #fca3a3;
  --error: #eb4f4f;
  --box-shadow: 0px 0px 10px rgba(133, 133, 133, 0.15);
  --header-height: 70px;
  --input-height: 44.44px;
  --transition-time: 0.4s;
  --filter-sidebar-width: 400px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--dark-blue);
}

//body {
//  font-family: HelveticaNeueCyrRegular, sans-serif;
//  font-size: 16px;
//  color: var(--dark-blue-grey);
//}
//// тело
//   .text-body {
//     font-weight: 400;
//     font-size: 12px;
//     line-height: 12px;
//   }
//
//// подтело
//   .text-sub-body {
//     font-weight: 400;
//     font-size: 10px;
//     line-height: 10px;
//   }
//// примечание
//   .text-note {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 300;
//     font-size: 10px;
//   }
//// выбор
//   .text-choose {
//     font-weight: 700;
//     font-size: 12px;
//     line-height: 12px;
//   }
//// заголовок вкладки меню
//   .text-menu-title {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 16px;
//   }
//// заголовок вкладки
//   .text-title {
//     font-weight: 550;
//     font-size: 24px;
//     line-height: 24px;
//   }
//// заголовок подвкладки
//   .text-sub-title {
//     font-weight: 550;
//     font-size: 20px;
//     line-height: 20px;
//   }
//// заголовок вкладки выбор
//   .text-title-choose {
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 16px;
//   }
//.text-center {
//  text-align: center;
//}

//hr.divider {
//  height: 2px;
//
//  background-color: var(--light-blue);
//
//  border: none;
//}

ul {
  padding-inline-start: 0;
}
a {
  text-decoration: none;
}
fieldset {
  margin: 0;
  padding: 0 !important;
  border: none;
}
legend {
  font-size: 16px;
}
.visually-hidden {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.content-container {
  width: 100%;
  display: flex;
}

.sidenav {
  /*padding-bottom: 0 !important;*/
  box-shadow: none !important;
}
.sidenav.sdm-main-sidenav {
  z-index: 997;
}
.sidenav .collapsible-header {
  width: 100%;
}
.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover,
.sidenav li.active {
  background-color: transparent !important;
}

@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    transform: none !important;
  }
}

.card-wrapper {
  display: flex;
  gap: 12px;
  width: 100%;
}

.card {
  height: calc(100vh - var(--header-height) - 32px /*paddings*/);
  padding: 22px;
  background-color: var(--light-grey);
  border-radius: 14px;
  flex: 1;
  overflow-y: hidden;
}

.card--sidebar {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.card__header {
  height: 48px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 12px;
  font-weight: 550;
  font-size: 20px;
  border-bottom: 2px solid var(--light-blue);
}

.card-header + .divider {
  margin: 15px 0;
}

.divider {
  height: 2px !important;
  background-color: var(--light-blue) !important;
}

.content-container .divider {
  margin: 18px 0;
}

.modal-content .divider {
  margin: 35px 0;
}

.modal {
  max-height: initial !important;
  background-color: var(--white) !important;
  color: var(--dark-blue-grey);
}

//.row {
//  display: flex;
//  align-items: center;
//  margin-bottom: 0 !important;
//}

.modal {
  border-radius: 14px !important;
  box-shadow: none !important;
}

.modal-content {
  padding: 30px 88px !important;
}

.modal-content .title {
  margin-bottom: 23px;
  font-size: 24px;
  text-align: center;
  color: var(--dark-blue-grey);
}

.modal .action-btns {
  justify-content: space-between;
}

.progress {
  background-color: var(--light-blue);
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}
.progress .indeterminate {
  background-color: var(--blue);
}
.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation-delay: 1.15s;
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

.btn-small {
  margin: 0.3rem;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group .alert {
  position: absolute;
}

/* ИНПУТЫ */
//input[type="text"],
//input[type="password"],
//input[type="email"],
//input[type="search"] {
//  font-weight: 300;
//  line-height: 1rem;
//  color: var(--dark-blue-grey);
//  box-shadow: none !important;
//  box-sizing: border-box !important;
//
//  padding: 11px;
//  border: 1px solid var(--grey);
//  border-radius: 16px;
//  font-size: 16px;
//}
//input:focus {
//  outline: 1px solid var(--dark-blue);
//}
//input:focus:invalid {
//  outline: 2px solid var(--error);
//}
//input:focus:valid {
//  outline: 2px solid var(--dark-blue);
//}
//input[type="range"]:focus {
//  outline: none;
//}
.w-500 {
  width: 500px;
}
.w-440 {
  width: 440px !important;
}
.w-170 {
  width: 170px !important;
}
.w-186 {
  width: 186px !important;
}
.w-296 {
  width: 296px !important;
}

/* SEARCH INPUT */

.search-wrapper {
  position: relative;
}
.search-input {
  height: 30px;
  width: 300px;
  padding: 8px;
  font-size: 12px;
  background-color: inherit;
  border: 1px solid var(--light-blue);
  border-radius: 16px;
  transition: border-color 0.4s ease;
}
.search-icon {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 14px;
  height: 14px;
  mask-size: 14px 14px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("/assets/UI/search.svg");
  -webkit-mask-size: 14px 14px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: url("/assets/UI/search.svg");
  background-color: var(--light-blue);
  transition: background-color 0.4s ease;
}
.search-wrapper:hover .search-input {
  border-color: var(--dark-blue);
}
.search-wrapper:hover .search-icon {
  background-color: var(--dark-blue);
}
.search-input:focus ~ .search-icon {
  background-color: transparent;
}

///* ПЕРЕКЛЮЧАТЕЛЬ */
//.switch {
//  display: flex;
//  gap: 12px;
//}
//.switch span {
//  width: 27px;
//  display: inline-block;
//  position: relative;
//  border-radius: 10px;
//  cursor: pointer;
//}
//
//.switch span:before,
//.switch span:after {
//  content: "";
//  position: absolute;
//  top: 50%;
//  transform: translateY(-50%);
//}
//.switch span:after {
//  background: var(--dark-grey);
//  border-radius: 100%;
//  height: 11px;
//  right: 14px;
//  transition: right 0.1825s ease-in-out;
//  width: 11px;
//}
//.switch span:before {
//  background: var(--grey);
//  border-radius: 1.75em;
//  height: 16px;
//  right: 0;
//  transition: background 0.2s ease-in-out;
//  width: 27px;
//}
//
//.switch input {
//  height: 1px;
//  width: 1px;
//  top: 0;
//  left: 0;
//  opacity: 0;
//}
//
//.switch:hover span:before {
//  background: var(--light-blue);
//}
//.switch:hover span:after {
//  background: var(--dark-blue);
//}
//.switch input:checked + span:after {
//  right: 0.25em;
//  background: var(--light-blue);
//}
//
//.switch input:checked + span:before {
//  background: var(--dark-blue);
//}

/* СЕЛЕКТ */

.select-native {
  padding: 11px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #2f4459;
  border: 1px solid #d8d8d8;
  border-radius: 16px;
  background: white;
}
//
//.sdm-light-select .select-wrapper {
//  color: var(--dark-blue) !important;
//}
//.sdm-dark-select .select-wrapper {
//  color: var(--dark-blue-grey) !important;
//}
//.sdm-blue-select .select-wrapper {
//  color: var(--dark-blue) !important;
//}
//.select-wrapper input.select-dropdown {
//  height: 30px !important;
//  padding: 9px 8px !important;
//  font-size: 12px !important;
//  border-radius: 8px !important;
//}
//.sdm-blue-select .select-wrapper ul.select-dropdown {
//  /*max-height: 140px;*/
//  overflow-y: hidden;
//}
//.modal .select-wrapper input.select-dropdown {
//  height: 45px !important;
//  font-size: 16px !important;
//  color: var(--dark-blue-grey);
//  border-radius: 14px !important;
//}
//.modal .select-wrapper ul.select-dropdown span {
//  padding: 11px;
//  font-size: 16px;
//}
//.modal .select-dropdown [type="checkbox"] + span:nth-child(2) {
//  padding-left: 25px;
//}
//.sdm-light-select .select-wrapper ul.select-dropdown,
//.sdm-dark-select .select-wrapper ul.select-dropdown,
//.sdm-blue-select .select-wrapper ul.select-dropdown {
//  box-shadow: var(--box-shadow);
//}
//.sdm-light-select .select-wrapper input.select-dropdown {
//  background-color: var(--light-blue-grey) !important;
//  border-color: transparent !important;
//}
//.sdm-dark-select .select-wrapper input.select-dropdown {
//  background-color: var(--dark-blue-grey) !important;
//  border-color: transparent !important;
//  color: var(--white);
//}
//.sdm-blue-select .select-wrapper ul.select-dropdown {
//  border: 1px solid var(--dark-blue);
//}
//.select-wrapper .caret {
//  z-index: 1 !important;
//}
//.sdm-light-select .select-wrapper .caret {
//  fill: var(--dark-blue) !important;
//}
//.sdm-dark-select .select-wrapper .caret {
//  fill: var(--white) !important;
//}
//.sdm-blue-select .select-wrapper .caret {
//  fill: var(--dark-blue);
//}
//.select-wrapper ul.select-dropdown {
//  border-radius: 8px;
//  /*box-shadow: none;*/
//}
//.select-wrapper ul.select-dropdown li {
//  min-height: fit-content;
//}
//.select-wrapper ul.select-dropdown span {
//  padding: 4px 5px;
//  font-size: 12px;
//}
//.sdm-light-select ul.select-dropdown span {
//  color: var(--dark-blue);
//}
//.sdm-dark-select ul.select-dropdown span {
//  color: var(--dark-blue-grey);
//}
//.sdm-blue-select ul.select-dropdown span {
//  color: var(--dark-blue);
//}
//.sdm-light-select .select-dropdown.dropdown-content li:hover,
//.sdm-light-select .select-dropdown.dropdown-content li.selected {
//  background-color: var(--light-blue-grey) !important;
//}
//.sdm-dark-select .select-dropdown.dropdown-content li:hover,
//.sdm-dark-select .select-dropdown.dropdown-content li.selected {
//  background-color: var(--dark-blue-grey) !important;
//}
//.sdm-blue-select .select-dropdown.dropdown-content li:hover,
//.sdm-blue-select .select-dropdown.dropdown-content li.selected {
//  background-color: var(--dark-blue) !important;
//}
//.sdm-dark-select .select-dropdown.dropdown-content li:hover span,
//.sdm-dark-select .select-dropdown.dropdown-content li.selected span {
//  color: var(--white);
//}
//.sdm-blue-select .select-dropdown.dropdown-content li:hover span,
//.sdm-blue-select .select-dropdown.dropdown-content li.selected span {
//  color: var(--white);
//}

//label {
//  font-size: inherit !important;
//  color: inherit !important;
//}

a {
  color: inherit;
}

/* КНОПКА И ССЫЛКА, СТИЛИЗОВАННАЯ ПОД КНОПКУ */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: var(--dark-blue);
  background-color: transparent;
  border: 1px solid var(--dark-blue);
  cursor: pointer;
  transition: background-color 0.4s ease;
}
//button.sdm-no-border {
//  border-color: transparent;
//}
//a.sdm-btn:hover {
//  background-color: var(--light-blue-grey) !important;
//}
//a.sdm-btn:focus {
//  background-color: transparent !important;
//}
//button.sdm-big,
//a.sdm-btn.sdm-big {
//  height: 43px;
//  padding: 12px 16px;
//}
//button.sdm-middle,
//a.sdm-btn.sdm-middle {
//  height: 40px;
//
//  padding: 7px 14px;
//}
//button.sdm-middle-dark,
//button.sdm-dark {
//  border-color: transparent;
//  color: var(--white);
//}
//button.sdm-dark {
//  background-color: var(--dark-blue-grey);
//}
//button.sdm-dark-blue {
//  background-color: var(--dark-blue);
//  color: var(--white);
//  border-color: transparent;
//}
//button.sdm-dark:hover,
//button.sdm-dark:focus {
//  background-color: var(--dark-grey) !important;
//}
//button.sdm-dark-blue:hover,
//button.sdm-dark-blue:focus {
//  background-color: var(--blue) !important;
//}
//button:disabled,
//button.sdm-dark:disabled,
//button.sdm-dark-blue:disabled {
//  background-color: var(--grey) !important;
//
//  cursor: initial;
//}
//button.sdm-btn-list-sort span {
//  height: 17px;
//  width: 14px;
//  background-size: 17px 14px;
//  background-position: center center;
//  background-repeat: no-repeat;
//}
//button.sdm-btn-list-sort.sort-up span {
//  background-image: url("/assets/UI/sort_up.svg");
//}
//button.sdm-btn-list-sort.sort-down span {
//  background-image: url("/assets/UI/sort_down.svg");
//}
//button.sdm-only-icon,
//.sdm-menu-icon {
//  height: 24px;
//  width: 24px;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//button.sdm-only-icon span,
//.sdm-menu-icon span {
//  mask-repeat: no-repeat;
//  mask-position: center;
//  -webkit-mask-repeat: no-repeat;
//  -webkit-mask-position: center;
//}
//button.sdm-only-icon span {
//  height: 13px;
//  width: 13px;
//  mask-size: 13px 13px;
//  -webkit-mask-size: 13px 13px;
//}
//.sdm-menu-icon span {
//  height: 20px;
//  width: 20px;
//  mask-size: 20px 20px;
//  -webkit-mask-size: 20px 20px;
//}
//button.sdm-only-icon span {
//  background-color: var(--white);
//}
//a:not(.active) .sdm-menu-icon span {
//  background-color: var(--dark-grey);
//}
//a.active .sdm-menu-icon span,
//.sdm-menu-icon.menu span {
//  background-color: var(--blue);
//}
//.sdm-menu-icon:hover span {
//  background-color: var(--dark-grey);
//}

//.form-group {
//  height: fit-content;
//}
//.form-group.error label,
//.form-group.error input {
//  color: var(--error) !important;
//}
//.form-group.error input {
//  border-color: var(--error) !important;
//}
//.form-group .row {
//  justify-content: space-between;
//}
//.form-group .row input {
//  margin-left: auto !important;
//}

.alert {
  width: 100%;
  display: inline-block;
  font-size: 12px;
}
.alert.error {
  color: var(--error);
}
.form-group .alert {
  text-align: end;
}

.status-container span {
  height: 18px;
  width: 18px;
  display: block;
}
.status-container.small span {
  height: 14px;
  width: 14px;
}

.status-container span.active {
  background-color: var(--green);
}

.status-container span.disabled {
  background-color: var(--red);
}

.sdm-bg-light-grey {
  background-color: var(--light-grey) !important;
}

.sdm-bg-grey {
  background-color: var(--grey);
}

.r-8 {
  border-radius: 8px;
}

.r-14 {
  border-radius: 14px;
}

.r-round {
  border-radius: 50%;
}

.font-tip {
  font-size: 10px;
}
.font-thin {
  font-weight: 300;
}
.font-middle {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

.font-regular-color {
  color: var(--dark-grey);
}
.font-bold-color {
  color: var(--dark-blue-grey) !important;
}

.b-shadow {
  box-shadow: 0 0 10px 0 #85858540;
}
.global-container {
  display: grid;
  //flex-direction: column;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 8px 12px;
  padding: 12px 18px;
}
.global-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  background-color: var(--light-grey);
  border-radius: 14px;
}
.global-sidebar {
  grid-area: sidebar;
}
.global-main {
  grid-area: main;
}
/* КНОПКИ */
.btn {
  padding: 9px 14px;
  font-size: 12px;
  line-height: 12px;
  background: var(--dark-blue);
  color: white;
  border-radius: 14px;
  white-space: nowrap;
}
.btn:hover,
.btn:focus {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.btn:disabled {
  background: var(--grey);
  border-color: var(--grey);
}
.btn--outline {
  background: transparent;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}
.btn--outline:focus,
.btn--outline:hover {
  background: var(--light-grey);
}
.btn--outline:disabled {
  color: var(--grey);
  border: 1px solid var(--grey);
}
.btn--flat {
  color: var(--dark-blue);
  background: var(--light-grey);
}
.btn--flat:hover,
.btn--flat:focus {
  background: var(--light-blue-grey);
}
.btn--flat:disabled {
  color: var(--grey);
}
.btn--big {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 16px;
}
.btn--small {
  padding: 7px 10px;
  font-size: 10px;
  line-height: 10px;
}
.btn--rounded {
  border-radius: 8px;
}
.btn--round {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
}
.btn--action {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0;
}
.btn--action i {
  font-size: 16px;
}
.btn--right {
  margin-left: auto;
}
.btn--edit {
  background: url("/assets/UI/pencil.svg") no-repeat center;
  background-size: contain;
}
.btn--delete {
  background: url("/assets/UI/trash.svg") no-repeat center;
}
/* Обертка для группы кнопок */
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 16px;
}

/* ЧЕКБОКС */

.checkbox-group {
  padding: 26px 0 26px 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  box-sizing: border-box;
  background: inherit;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
  font-weight: inherit;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.checkbox-wrapper span {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /*white-space: nowrap;*/
}
.checkbox-custom {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  cursor: pointer;
}
.checkbox-custom svg polyline {
  fill: none;
  stroke: none;
  stroke-width: 1.9;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
}
input[type="checkbox"]:hover + .checkbox-custom,
input[type="checkbox"]:focus-visible + .checkbox-custom {
  border-color: var(--light-blue);
  background-color: var(--light-blue);
}
input[type="checkbox"]:checked + .checkbox-custom {
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
}
input[type="checkbox"]:checked + .checkbox-custom svg polyline {
  stroke: #fff;
  stroke-dashoffset: 0;
}
input[type="checkbox"]:checked:hover + .checkbox-custom,
input[type="checkbox"]:checked:focus-visible + .checkbox-custom {
  border-color: var(--blue);
  background-color: var(--blue);
}
input[type="checkbox"]:disabled + .checkbox-custom {
  border-color: var(--grey);
}

/* RADIO Buttons */
.tags-container {
  display: flex;
  gap: 14px;
}
.custom-radio {
}
.custom-radio__span {
  padding: 4px 14px;
  border: 1px solid var(--dark-blue);
  border-radius: 14px;
  font-size: 12px;
  line-height: 12px;
  color: var(--dark-blue);
}
.custom-radio input:checked + .custom-radio__span {
  color: white;
  background: var(--dark-blue);
}

/* МОДАЛЬНОЕ ОКНО */
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s linear;
}
.modal-wrapper--open {
  opacity: 1;
  visibility: visible;
}
.modal-dialog {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 600px;
  max-width: 100% !important;
  padding: 30px;
  background: #fff;
  border-radius: 14px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(400px);
  transition: all 0.3s linear;
}
.modal-wrapper--open .modal-dialog {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.modal-title {
  font-weight: 550;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--dark-blue-grey);
  padding: 10px 0 24px;
}
/* filter */

.filter {
  position: fixed;
  width: 400px;
  right: 0;
  top: 0;
  margin: 0;
  transform: translateX(100%);
  height: 100%;
  padding: 0 27px;
  background-color: #fff;
  z-index: 800;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.15s linear;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}
.filter__header {
  padding: 30px 0 25px;
  font-size: 24px;
  text-align: center;
  font-weight: 550;
  border-bottom: 2px solid var(--light-blue);
}
.filter__content {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.filter__footer {
  margin-top: auto;
  padding-bottom: 48px;
}
.filter-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 799;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.15s linear;
}
.filter-overlay.filter--open {
  opacity: 1;
  visibility: visible;
}
.filter--open .filter {
  transform: translateX(0);
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*// СПАН-ИКОНКА*/
.icon,
.btn-icon span {
  display: block;

  mask-repeat: no-repeat;
  mask-position: center center;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
}
/*// СПИСКИ*/
ul,
ol {
  list-style: none;
}
/*// ССЫЛКА*/
a {
  display: block;

  color: inherit;
}
///*// СЕЛЕКТ*/
//   select {
//     height: var(--input-height);
//
//     appearance: none;
//
//     margin: 0;
//     padding: 14.44px 31px 11px 11px;
//
//     font-weight: 300;
//     font-size: 16px;
//     line-height: 18.77px;
//
//     background-color: transparent;
//
//     border: 1px solid var(--grey);
//     border-radius: 16px;
//
//     outline: none;
//
//     cursor: pointer;
//
//     transition: border var(--transition-time) ease;
//
//&::-ms-expand {
//   display: none;
// }
//
//&:hover {
//   border-color: var(--dark-blue);
// }
//&:focus {
//   border: 2px solid var(--dark-blue)
// }
//
//&.error {
//   border: 2px solid var(--error);
//
//   color: var(--error);
// }
//}
//// ИНПУТ
//input[type='text'],
//input[type='email'],
//input[type='password'],
//input[type='search'] {
//  height: var(--input-height);
//
//  padding: 14.44px 31px 11px 11px;
//
//  font-family: inherit;
//  font-weight: 300;
//  font-size: 16px;
//  line-height: 18.77px;
//  color: var(--dark-blue-grey);
//
//  border: 1px solid var(--grey);
//  border-radius: 16px;
//
//  transition: border var(--transition-time) ease;
//
//  &:hover {
//    border-color: var(--dark-blue);
//  }
//  &:focus {
//    border: 2px solid var(--dark-blue);
//
//    &:invalid {
//      border: 2px solid var(--error);
//      color: var(--error);
//    }
//  }
//
//  //&.error {
//  //  border: 2px solid var(--error);
//  //
//  //  color: var(--error);
//  //}
//
//  &:disabled {
//    background-color: var(--grey);
//    border-color: transparent;
//  }
//
//  &[type='datetime-local'] {
//    padding-right: 11px;
//  }
//}
// КНОПКА
//button {
//  padding: 12px 16px;
//
//  font-weight: 400;
//  font-size: 16px;
//  line-height: 16px;
//
//  border: 1px solid transparent;
//  border-radius: 14px;
//
//  cursor: pointer;
//
//  transition:
//    color var(--transition-time) ease,
//    background-color var(--transition-time) ease,
//    border-color var(--transition-time) ease;
//
//  &.p-0 {
//    padding: 0;
//  }
//
//  &.common {
//    color: var(--dark-blue);
//    background-color: transparent;
//    border-color: var(--dark-blue);
//
//    &:hover {
//      background-color: var(--light-blue-grey);
//    }
//  }
//
//  &.blue {
//    color: var(--white);
//    background-color: var(--dark-blue);
//
//    &:hover {
//      background-color: var(--blue);
//    }
//  }
//
//  &:disabled {
//    background-color: var(--grey);
//    color: var(--white);
//
//    cursor: initial;
//  }
//}

// ПОПЫТКА СОВМЕСТИТЬ СТИЛИ

body {
  // основной текст
  font-family: "HelveticaNeueCyr", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  // основной текст
  color: var(--dark-blue-grey);
}
// тело
.text-body {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
// подтело
.text-sub-body {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}
// примечание
.text-note {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 10px;
}
// выбор
.text-choose {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}
// заголовок вкладки меню
.text-menu-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
// заголовок вкладки
.text-title {
  font-weight: 550;
  font-size: 24px;
  line-height: 24px;
}
// заголовок подвкладки
.text-sub-title {
  font-weight: 550;
  font-size: 20px;
  line-height: 20px;
}
// заголовок вкладки выбор
.text-title-choose {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.text-center {
  text-align: center;
}

// РАЗДЕЛИТЕЛЬ
hr.divider {
  height: 2px;

  background-color: var(--light-blue);

  border: none;
}

// СПАН-ИКОНКА
.icon {
  display: block;

  mask-repeat: no-repeat;
  mask-position: center center;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
}

// КОНТЕЙНЕР ИНПУТ СТРОКИ
.form-group-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  > label {
    margin-right: auto;
  }
}

// КОНТЕЙНЕР-СТРОКА
.row {
  display: flex;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
}

// ИНПУТ
input {
  font-family: inherit;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 18.77px !important;
  color: var(--dark-blue-grey);

  background-color: var(--white);

  transition: border-color var(--transition-time) ease;

  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="datetime-local"],
  &[type="search"] {
    border: 1px solid var(--grey);
  }

  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="datetime-local"] {
    height: var(--input-height);

    border-radius: 16px;
  }

  &[type="text"],
  &[type="email"],
  &[type="datetime-local"] {
    padding: 11px;
  }

  &[type="search"] {
    height: 30px;
    width: 300px;

    padding: 8px;

    background-color: transparent;

    border-radius: 15px;

    &:focus + .icon {
      display: none;

      padding-left: 8px;
    }
  }

  &[type="password"] {
    padding: 11px 31px 11px 11px;
  }

  &:hover,
  &:focus {
    border-color: var(--dark-blue);
  }

  &:focus {
    border-width: 2px;

    &:invalid {
      border-width: 2px;
      border-color: var(--error);
    }
  }

  &.error {
    border-width: 2px;
    border-color: var(--error);
  }
}
.w-170 {
  width: 170px;
}
.w-186 {
  width: 186px;
}
.w-267 {
  width: 267px;
}
.w-296 {
  width: 296px;
}
.w-350 {
  width: 350px;
}
.w-440 {
  width: 440px;
}
.w-457 {
  width: 457px;
}
.w-500 {
  width: 500px;
}

//input[type='text'],
//input[type='email'],
//input[type='password'],
//input[type='search']
//{
//  height: var(--input-height);
//
//  padding: 14.44px 31px 11px 11px;
//
//  font-family: inherit;
//  font-weight: 300;
//  font-size: 16px;
//  line-height: 18.77px;
//  color: var(--dark-blue-grey);
//
//  //border: 1px solid var(--grey);
//  outline: 1px solid var(--grey);
//  border-radius: 16px;
//
//  transition: border var(--transition-time) ease;
//
//  &:hover {
//    border-color: var(--dark-blue);
//  }
//  &:focus {
//    border: 2px solid var(--dark-blue);
//  }
//
//  &.error {
//    border: 2px solid var(--error);
//
//    color: var(--error);
//  }
//
//  &:disabled {
//    background-color: var(--grey);
//    border-color: transparent;
//  }
//
//  &[type='datetime-local'] {
//    padding-right: 11px;
//  }
//}
