@import "~leaflet/dist/leaflet.css";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #526c9b;
}

body {
  font-family: HelveticaNeueCyrRegular, sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  /*line-height: 16px;*/
  color: #526c9b !important;
}

.global-wrapper {
  min-height: calc(100vh - 24px);
  height: 100%;

  display: flex;
  flex-direction: row;

  margin: 12px 18px;
}

.content-container {
  width: 100%;

  display: flex;
}

.sidenav {
  padding-bottom: 0 !important;

  box-shadow: none !important;
}

.divider {
  height: 2px !important;

  background-color: #cbd9f2 !important;
}

.content-container .divider {
  margin: 18px 0;
}

.row {
  display: flex;
  align-items: center;

  margin-bottom: 0 !important;
}

.card {
  margin: 0 !important;

  background-color: transparent !important;

  border-radius: 14px !important;

  box-shadow: none !important;

  transition: none !important;
}

.modal {
  border-radius: 14px !important;

  box-shadow: none !important;
}

.modal-content {
  padding: 30px 88px !important;
}

.modal-content .title {
  margin-bottom: 23px;

  font-size: 24px;

  text-align: center;
}

.modal .action-btns {
  justify-content: space-between;
}

.progress {
  background-color: #94c6f5 !important;
}

.indeterminate {
  background-color: #2196f3 !important;
}
.btn-small {
  margin: 0.3rem;
}

input {
  height: 45px !important;
  margin: 0 !important;
  padding: 11px !important;

  color: inherit !important;

  background-color: #fff !important;
  border: 1px solid #526c9b !important;
  border-radius: 16px !important;

  box-sizing: border-box !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none !important;
}

.switch label .lever {
  height: 16px !important;
  width: 28px !important;
}
.switch label .lever:before,
.switch label .lever:after {
  height: 12px !important;
  width: 12px !important;

  top: 2px !important;
  left: 2px !important;

  box-shadow: none !important;
}
.switch label input[type="checkbox"]:checked + .lever:before,
.switch label input[type="checkbox"]:checked + .lever:after {
  left: 14px !important;
}
.switch label input[type="checkbox"]:checked + .lever {
  background-color: #526c9b !important;
}
.switch label input[type="checkbox"] + .lever {
  background-color: #d8d8d8 !important;
}
.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #cbd9f2 !important;
}
.switch label input[type="checkbox"] + .lever:after {
  background-color: #858585 !important;
}

.input-field {
  overflow-y: initial !important;
}

.select-wrapper {
  color: #436bb2 !important;
}

.select-wrapper input.select-dropdown {
  height: 30px !important;

  padding: 9px 8px !important;

  font-size: 12px !important;

  background-color: #f6f6f6 !important;
  border-radius: 8px !important;
  border-color: #dce4f1 !important;
}

.select-wrapper .caret {
  fill: #436bb2 !important;

  z-index: 1 !important;
}

.select-wrapper ul.select-dropdown {
  border-radius: 8px;
  border: 1px solid #dce4f1;

  box-shadow: none;
}

.select-wrapper ul.select-dropdown li {
  min-height: fit-content;
}

.select-wrapper ul.select-dropdown span {
  padding: 4px 5px;

  font-size: 12px;
  color: #436bb2;
}

.select-dropdown.dropdown-content li:hover,
.select-dropdown.dropdown-content li.selected {
  background-color: #eceef1 !important;
}

.select-dropdown.dropdown-content li:first-child.selected,
.select-dropdown.dropdown-content li:last-child.selected {
  border-radius: 8px;
}

.checkbox-container {
  height: 16px;
}

[type="checkbox"] + span:not(.lever) {
  height: 16px !important;
  width: 16px !important;

  padding-left: 0 !important;
}
[type="checkbox"]:hover + span:not(.lever) {
  background-color: #dce4f1;

  border-radius: 2px;
}
[type="checkbox"].filled-in:checked:hover + span:not(.lever):after {
  background-color: #5d8ce0 !important;
}
[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  height: 16px !important;
  width: 16px !important;

  border: 1px solid #dce4f1 !important;
  border-radius: 2px !important;
}
[type="checkbox"].filled-in:not(:checked) + span:not(.lever):before {
  top: 4px !important;
  left: 2px !important;
}
[type="checkbox"].filled-in:checked + span:not(.lever):before {
  height: 11px !important;
  width: 8px !important;

  top: -1px !important;
  left: 0 !important;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  height: 16px !important;
  width: 16px !important;

  background-color: #436bb2 !important;
  border: none !important;
}
[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
  transition: none !important;
}

label {
  font-size: inherit !important;
  color: inherit !important;
}

a {
  color: inherit !important;
}

button {
  background-color: transparent !important;
}

button,
a.sdm-btn {
  font-family: inherit;
  color: inherit;

  border: 1px solid transparent;

  cursor: pointer;
}

button.selected {
  background-color: #526c9b !important;
  color: #fff;
}

button:disabled {
  border-color: transparent !important;
  background-color: #d8d8d8 !important;
  color: #fff !important;

  cursor: inherit !important;
}

button:focus {
  background-color: inherit !important;
}

button.selected:focus {
  background-color: #526c9b !important;
}

button.sdm-btn-medium,
a.sdm-btn.sdm-btn-medium {
  height: 40px;

  padding: 10px 14px;

  font-size: 16px;

  border-radius: 14px;
}

button.sdm-btn-small,
a.sdm-btn.sdm-btn-small {
  height: 26px;

  padding: 5px 12px;

  font-size: 12px;

  border-radius: 8px;
}

button.sdm-btn-common,
.icon-container {
  height: 24px;
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: #526c9b !important;

  transition: background-color 0.4s ease;
}

button.sdm-btn-common:hover {
  background-color: #5d8ce0 !important;
}

button.sdm-btn-common > span,
.icon-container > span {
  height: 12px;
  width: 12px;

  mask-size: 12px 12px;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 12px 12px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  background-color: #fff;
}

button.check-btn {
  height: 16px;
  width: 16px;

  margin-right: 14px;

  border-color: #cbd9f2;
  border-radius: 2px;
  background-color: transparent;
}

a.sdm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

td,
th {
  padding: 0 !important;

  font-weight: normal;
}

tr {
  border-bottom: none !important;
}

.sdm-bg-light-grey {
  background-color: #f5f5f5 !important;
}

.sdm-bg-blue-select {
  background-color: #cbd9f2 !important;
}

.sdm-bg-blue-dark {
  background-color: #526c9b !important;
}

.sdm-bg-grey {
  background-color: #d8d8d8;
}

.r-8 {
  border-radius: 8px;
}

.r-14 {
  border-radius: 14px;
}

.r-round {
  border-radius: 50%;
}
