<div
  *ngIf="type === 'password'"
  class="input-password"
>
  <input
    class="input"
    [formControl]="control"
    [ngClass]="width"
    [class.error]="isError"
    [id]="name"
    [name]="name"
    [type]="type === 'password' ? isPasswordVisible ? 'text' : 'password' : type"
  />
  <span
    class="icon"
    [class.hidden]="isPasswordVisible"
    [class.shown]="!isPasswordVisible"
    (click)="togglePasswordVisibility()"
  ></span>
</div>
<input
  *ngIf="type !== 'select'"
  class="input"
  [formControl]="control"
  [ngClass]="width"
  [class.error]="isError"
  [id]="name"
  [name]="name"
  [type]="type"
/>
<div
  *ngIf="type === 'select'"
  class="select-wrapper"
>
  <select
    class="input-select"
    [formControl]="control"
    [ngClass]="width"
    [class.error]="isError"
    [id]="name"
    [name]="name"
  >
    <option
      *ngFor="let option of options"
      [value]="option.value"
    >{{ option.html }}</option>
  </select>
</div>
