<div
  *ngIf="type === 'password'"
  class="input-password"
>
  <input
    [formControl]="control"
    [id]="name"
    [name]="name"
    class="input"
    [ngClass]="width"
    [class.error]="isError"
    [type]="type === 'password' ? isPasswordVisible ? 'text' : 'password' : type"
  />
  <span
    class="icon"
    [class.hidden]="isPasswordVisible"
    [class.shown]="!isPasswordVisible"
    (click)="togglePasswordVisibility()"
  ></span>
</div>
<input
  *ngIf="type !== 'select' && type !== 'password' && type !== 'switch'"
  [id]="name"
  [name]="name"
  [formControl]="control"
  class="input"
  [ngClass]="width"
  [class.error]="isError"
  [type]="type"
/>
<app-select
  *ngIf="type === 'select'"
  [selectWidth]="width"
  [options]="options"
  [currOption]="currOption"
  [isError]="isError"
  (onSelect)="onSelectHandler($event)"
></app-select>
<app-switch-input
  *ngIf="type === 'switch'"
  [control]="control"
></app-switch-input>
