.input {
  &.w-170 {
    width: 170px;
  }
  &.w-296 {
    width: 296px;
  }
  &.w-350 {
    width: 350px;
  }
  &.w-440 {
    width: 440px;
  }
  &.w-457 {
    width: 457px;
  }

  &-password {
    position: relative;

    .icon {
      height: 24px;
      width: 24px;

      position: absolute;

      top: calc((var(--input-height) - 24px) / 2);
      right: 7px;

      mask-size: 24px 24px;
      -webkit-mask-size: 24px 24px;

      background-color: var(--dark-grey);

      cursor: pointer;

      &.shown {
        mask-image: url("../../../../../../assets/UI/eye_hide.svg");
        -webkit-mask-image: url("../../../../../../assets/UI/eye_hide.svg");
      }
      &.hidden {
        mask-image: url("../../../../../../assets/UI/eye_show.svg");
        -webkit-mask-image: url("../../../../../../assets/UI/eye_show.svg");
      }
    }
  }
}
