.modal-form {
  &-header {
    .text-title {
      margin-bottom: 25px;
    }
  }

  &-body {
    //.files-filter-btn {
    //  &-all {
    //    margin-left: 12px;
    //  }
    //
    //  &-all,
    //  &-import {
    //    margin-right: 12px;
    //  }
    //
    //  &-export {
    //    margin-right: auto;
    //  }
    //}
    .progress,
    .dummy,
    .filters {
      margin-bottom: 10px;
    }

    .dummy {
      height: 4px;
    }

    .add-btn {
      margin-left: auto;
    }

    .list {
      width: 560px;

      margin-top: 24px;

      align-self: flex-start;

      &-header {
        margin-bottom: 16px;
        padding: 0 16px;

        > *:nth-child(1) {
          width: 225px;

          margin-right: 10px;
        }

        > *:nth-child(2) {
          width: 60px;

          margin-right: 7px;
        }

        > *:nth-child(3) {
          width: 80px;

          margin-right: 35px;
        }

        > *:nth-child(4) {
          //width: 96px;
          width: 56px;
        }
      }

      &-body {
        height: 340px;

        padding: 2px 12px 2px 2px;

        overflow: overlay;
      }
    }

    .preview {
      height: 340px;
      width: 200px;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 60px;

      background-color: var(--light-blue-grey);

      &-wrapper {
        margin-left: 30px;
      }

      &.video {
        width: 340px;
      }

      span {
        color: var(--dark-grey);
      }

      .img {
        width: 200px;
      }

      .video {
        width: 340px;
      }
    }
  }
}
