<div class="card__header">
  Настройка доступа
  <button
    *ngIf="!edit"
    type="button"
    class="btn btn--action btn--right"
    (click)="toggleEdit()"
  >
    <span class="btn--edit" style="background-color: white"></span>
  </button>
</div>
<form class="user-settings">
  <ng-container
    *ngIf="
      ((loading$ | async) || false) &&
        ((entity$ | async) === 'permissions' || false);
      else dummy
    "
  >
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </ng-container>
  <ng-template #dummy>
    <div class="dummy"></div>
  </ng-template>

  <fieldset *ngFor="let role of asset.roles | keyvalue">
    <legend>{{ role.value.text }}</legend>
    <div class="checkbox-group">
      <label
        for="{{ role.key }}-{{ param.key }}"
        class="checkbox-wrapper"
        *ngFor="let param of params | keyvalue"
      >
        <input
          type="checkbox"
          name="params"
          class="visually-hidden"
          id="{{ role.key }}-{{ param.key }}"
          value="{{ param.key }}"
          [checked]="
            role.key === 'super' ? true : _permissions[role.key][param.key]
          "
          [disabled]="!edit || role.key === 'super'"
          (change)="onCheckboxChange($event, role.key)"
        />
        <div class="input checkbox-custom">
          <svg width="18" height="18" viewBox="0 0 20 20">
            <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
          </svg>
        </div>
        <span>{{ param.value }}</span>
      </label>
    </div>
  </fieldset>
</form>
<div class="btn-wrapper" *ngIf="edit">
  <button type="button" class="btn btn--big" (click)="editPermissions()">
    Сохранить
  </button>
  <button
    type="button"
    class="btn btn--big btn--outline"
    (click)="cancelEdit()"
  >
    Отмена
  </button>
</div>
