.modal-form-header {
  position: relative;

  .btn-wrapper {
    position: absolute;

    top: -14px;
    right: 0;
  }
}

.inner-wrapper {
  > label {
    margin-right: 33px;
  }
}

.boot {
  > label {
    margin-right: 0;
  }
}

.icon {
  justify-content: flex-start;

  label {
    margin-right: 95px;
  }
}
