<app-modal [modalID]="'edit_app'" [isClosable]="true">
  <div class="modal-form w-700">
    <div class="modal-form-header">
      <h4 i18n class="text-title text-center">Приложение</h4>
      <!--      <div class="btn-wrapper">-->
      <!--        <app-button-->
      <!--          [text]="'системное приложение'"-->
      <!--          [textLike]="'like-body'"-->
      <!--          [height]="'20px'"-->
      <!--          [padding]="'4px 14px'"-->
      <!--          [radius]="'8px'"-->
      <!--          [color]="_system?.value ? 'blue' : 'common'"-->
      <!--          (onCLick)="toggleSystemView()"-->
      <!--        ></app-button>-->
      <!--      </div>-->
    </div>
    <hr class="divider" />
    <div class="modal-form-body">
      <form [formGroup]="_form">
        <div class="form-group-wrapper">
          <label i18n for="name" class="text-menu-title"> Название </label>
          <app-input-text
            [control]="$any(_name)"
            [name]="'name'"
            [width]="'w-440'"
            [isError]="_isSubmitted && !!_name?.errors"
          ></app-input-text>
          <app-input-alert
            *ngIf="_isSubmitted && _name?.errors"
            [control]="$any(_name)"
            [type]="'error'"
          ></app-input-alert>
        </div>
        <div class="form-group-wrapper boot">
          <label i18n class="text-menu-title">Запуск:</label>
          <div class="inner-wrapper row space-between">
            <label i18n for="runAfterInstall" class="text-menu-title"
              >после установки</label
            >
            <app-input-switch
              [control]="$any(_runAfterInstall)"
              [name]="'runAfterInstall'"
            ></app-input-switch>
          </div>
          <div class="inner-wrapper">
            <div class="inner-wrapper row space-between">
              <label i18n for="runAtBoot" class="text-menu-title"
                >после загрузки</label
              >
              <app-input-switch
                [control]="$any(_runAtBoot)"
                [name]="'runAtBoot'"
              ></app-input-switch>
            </div>
          </div>
        </div>
        <!--        <div class="form-group-wrapper icon">
          <label for="showIcon" class="text-menu-title"> Ярлык </label>
          <app-input-switch
            [control]="$any(_showIcon)"
            [name]="'showIcon'"
          ></app-input-switch>
        </div>-->
      </form>
    </div>
    <div class="modal-form-footer">
      <app-modal-action-btns
        [submitText]="'Сохранить'"
        [cancelText]="'Отменить'"
        [margin]="'66px'"
        [isSubmitBtnDisabled]="isDataFetching"
        (onSubmit)="onSubmitHandler()"
        (onCancel)="onCancelHandler()"
      ></app-modal-action-btns>
    </div>
  </div>
</app-modal>
