<app-global-container class="global-container">
  <app-global-header class="global-header" [title]="'Пользователи'">
  </app-global-header>
  <main class="global-main card-wrapper">
    <div class="card">
      <div class="card__header">
        <span class="search-wrapper">
          <input
            [(ngModel)]="search"
            type="search"
            name="search"
            id="search"
            class="search-input" /><i class="search-icon"></i
        ></span>
        <button type="button" class="btn btn--round" data-target="user-filter">
          <i class="material-icons">filter_list</i>
        </button>
        <button
          type="button"
          class="btn btn--rounded btn--right"
          data-target="modal-new-user"
        >
          Добавить пользователя
        </button>
      </div>
      <div class="users-wrapper">
        <div class="progress" *ngIf="loading">
          <div class="indeterminate"></div>
        </div>

        <div
          class="user-card"
          *ngFor="
            let user of users | searchUsers: search | filterUsers: filter_roles
          "
        >
          <div
            class="user-card__header"
            [ngStyle]="{
              background: asset.roles[user.role].color
            }"
          >
            <div class="user-card__role">
              {{ asset.roles[user.role].text }}
            </div>
            <div
              class="user-card__menu"
              [ngStyle]="{ color: asset.roles[user.role].color }"
            >
              <button class="user-card__menu-btn" data-target="modal-edit-user">
                <i class="material-icons">edit</i>
              </button>
              <button
                [disabled]="user.role === 'super'"
                class="user-card__menu-btn"
                data-target="modal-delete-user"
                (click)="currentUser = user"
              >
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>
          <div class="user-card__content">
            <div class="user-card__avatar"></div>
            <div class="user-card__descr">
              <div class="user-card__name">{{ user.name }}</div>
              <div class="user-card__email">
                {{ user.login }}
              </div>
              <div class="user-card__group">Отдел маркетинга</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--   ПРАВЫЙ САЙДБАР    -->

    <div class="card card--sidebar">
      <div class="card__header">
        Настройка доступа
        <button type="button" class="btn btn--action btn--right">
          <i class="material-icons">edit</i>
        </button>
      </div>
      <form class="user-settings">
        <fieldset *ngFor="let role of asset.roles | keyvalue">
          <legend>{{ role.value.text }}</legend>
          <div class="checkbox-group">
            <label
              for="{{ param.key }}'-'{{ role.key }}"
              class="checkbox-wrapper"
              *ngFor="let param of params | keyvalue"
            >
              <input
                type="checkbox"
                name="params"
                id="{{ param.key }}'-'{{ role.key }}"
                class="visually-hidden"
                checked=""
              />
              <div class="input checkbox-custom">
                <svg width="18" height="18" viewBox="0 0 20 20">
                  <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
                </svg>
              </div>
              <span>{{ param.value }}</span>
            </label>
          </div>
        </fieldset>
      </form>
      <div class="btn-wrapper">
        <button type="button" class="btn btn--big">Сохранить</button>
        <button type="button" class="btn btn--big btn--outline">Отмена</button>
      </div>
    </div>
  </main>

  <!--  MODALS -->
  <div class="modal-wrapper" id="modal-new-user">
    <div class="modal-dialog">
      <h4 class="modal-title">Добавление нового пользователя</h4>
      <form [formGroup]="form" class="form users-form">
        <div class="avatar-wrapper">
          <label for="file">
            <div class="avatar">
              <div class="avatar__image"></div>
              <div class="avatar__camera"></div>
              <input
                (change)="addFile($event)"
                class="visually-hidden"
                type="file"
                id="file"
                accept=".jpg, .jpeg, .png, .pdf, .doc, .docx, .odt, .xml, .xls, .xlsx, .txt"
              /></div
          ></label>
          <div class="avatar__attachment"></div>
        </div>
        <div class="form__item">
          <label for="name">Имя</label>
          <input formControlName="name" type="text" id="name" class="w-296" />
        </div>
        <div class="form__item">
          <label for="login">Логин</label>
          <input formControlName="login" type="text" id="login" class="w-296" />
        </div>

        <div class="form__item">
          <label for="password">Пароль</label>
          <input
            formControlName="password"
            type="text"
            id="password"
            class="w-296"
            maxlength="64"
            pattern="^(?=.*\d)(?=.*[a-zа-я])(?=.*[A-ZА-Я])(?=.*[~'`!@#№?$%^&*()=+<>|\/\\.,:;\[\]{} \x22-]).{8,64}$"
            required
          />
        </div>
        <div class="form__item">
          <label>Роль</label>
          <div class="tags-container">
            <label class="custom-radio">
              <input
                class="visually-hidden"
                id="role-admin"
                formControlName="role"
                type="radio"
                [value]="'admin'"
              />
              <span class="custom-radio__span"> админ </span>
            </label>

            <label class="custom-radio">
              <input
                class="visually-hidden"
                id="role-operator"
                formControlName="role"
                type="radio"
                [value]="'operator'"
              />
              <span class="custom-radio__span"> оператор </span>
            </label>
          </div>
        </div>
        <div class="form__item">
          <label>Подразделение</label>
          <select class="select-native" formControlName="group">
            <option value="sel" disabled="" selected="">Выбрать...</option>
            <option value="ds">UI/UX Дизайнер</option>
            <option value="fe">Отдел IT</option>
            <option value="be">Маркетинг</option>
            <option value="qa">Отдел продаж</option>
            <option value="un">Техподдержка</option>
          </select>
        </div>
      </form>
      <div class="btn-wrapper">
        <button class="btn btn--big" (click)="addUser()">Добавить</button>
        <button class="btn btn--big btn--outline modal-close">Отменить</button>
      </div>
    </div>
  </div>
  <div class="modal-wrapper" id="modal-edit-user">
    <div class="modal-dialog">
      <h4 class="modal-title">Редактирование данных</h4>
      Modal here
      <div class="btn-wrapper">
        <button class="btn btn--big" (click)="editUser()">Сохранить</button>
        <button class="btn btn--big btn--outline modal-close">Отменить</button>
      </div>
    </div>
  </div>
  <div class="modal-wrapper" id="modal-delete-user">
    <div class="modal-dialog">
      <h4 class="modal-title">Удалить пользователя {{ currentUser?.name }}?</h4>
      <div class="btn-wrapper">
        <button class="btn btn--big" (click)="deleteUser(currentUser.id)">
          Да
        </button>
        <button class="btn btn--big btn--outline modal-close">Нет</button>
      </div>
    </div>
  </div>

  <!--  FILTER -->
  <div class="filter-overlay" id="user-filter">
    <form class="filter" [formGroup]="filterForm" (submit)="applyFilter()">
      <div class="filter__header">Фильтр</div>
      <div class="filter__content">
        <div>
          <fieldset>
            <legend>Роль</legend>
            <div class="checkbox-group">
              <label
                for="{{ role.key }}"
                class="checkbox-wrapper"
                *ngFor="let role of asset.roles | keyvalue"
              >
                <input
                  type="checkbox"
                  name="role"
                  id="{{ role.key }}"
                  value="{{ role.key }}"
                  class="visually-hidden"
                  formArrayName="roles"
                  (change)="onCheckboxChange($event)"
                />
                <div class="input checkbox-custom">
                  <svg width="18" height="18" viewBox="0 0 20 20">
                    <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
                  </svg>
                </div>
                <span>{{ role.value.text }}</span>
              </label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Структурное подразделение</legend>
            <div class="checkbox-group">
              <label for="1" class="checkbox-wrapper">
                <input
                  type="checkbox"
                  name="group"
                  id="1"
                  class="visually-hidden"
                />
                <div class="input checkbox-custom">
                  <svg width="18" height="18" viewBox="0 0 20 20">
                    <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
                  </svg>
                </div>
                <span>Общая</span>
              </label>
              <label for="2" class="checkbox-wrapper">
                <input
                  type="checkbox"
                  name="group"
                  id="2"
                  class="visually-hidden"
                />
                <div class="input checkbox-custom">
                  <svg width="18" height="18" viewBox="0 0 20 20">
                    <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
                  </svg>
                </div>
                <span>Резервная</span>
              </label>
              <label for="3" class="checkbox-wrapper">
                <input
                  type="checkbox"
                  name="group"
                  id="3"
                  class="visually-hidden"
                />
                <div class="input checkbox-custom">
                  <svg width="18" height="18" viewBox="0 0 20 20">
                    <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
                  </svg>
                </div>
                <span>Город</span>
              </label>
              <label for="4" class="checkbox-wrapper">
                <input
                  type="checkbox"
                  name="group"
                  id="4"
                  class="visually-hidden"
                />
                <div class="input checkbox-custom">
                  <svg width="18" height="18" viewBox="0 0 20 20">
                    <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
                  </svg>
                </div>
                <span>Область</span>
              </label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="filter__footer">
        <div class="btn-wrapper">
          <button type="submit" class="btn btn--big">Применить</button>
          <button
            (click)="clearFilter()"
            type="button"
            class="btn btn--big btn--outline filter-close"
          >
            Отменить
          </button>
        </div>
      </div>
    </form>
  </div>

  <!--
<div class="modal" style="width: 40%; padding: 10px" id="changeUserPass">
  <div style="display: flex; justify-content: center">
    <div class="col s12">
      <h6>Пароль должен стостоять минимум иметь минимум по 1:</h6>
      <ul class="collection">
        <li class="collection-item">
          Заглавный символ
          <span *ngIf="userService.upperCase" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Прописной символ
          <span *ngIf="userService.lowerCase" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Цифра
          <span *ngIf="userService.number" class="red-text">отсутствует</span>
        </li>
        <li class="collection-item">
          Спец. символ
          <span *ngIf="userService.specialChar" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Состоять минимум из 8 символов
          <span *ngIf="userService.passLength > 0" class="red-text"
            >{{ userService.passLength }} осталось</span
          >
        </li>
      </ul>
      <div class="row">
        <div class="form__item"><input type="text" [(ngModel)]="changePas" /></div>
        <div class="form__item">
          <button
            (click)="changeUserPassword(login, changePas)"
            [disabled]="!changePas"
            class="btn-small blue lighten-1"
          >
            Сохранить
          </button>
          <button class="btn-small red lighten-1 modal-close">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>-->
</app-global-container>
