<app-global-container class="global-container">
  <app-global-header class="global-header" [title]="'Пользователи'">
  </app-global-header>
  <main class="global-main card-wrapper">
    <div class="card">
      <div class="card__header">
        <input type="text" name="search" id="search" class="search-input" />
        <button type="button" class="btn btn--round">
          <i class="material-icons">search</i>
        </button>
        <button type="button" class="btn btn--round" data-target="user-filter">
          <i class="material-icons">filter_list</i>
        </button>
        <button
          type="button"
          class="btn btn--rounded btn--right"
          data-target="modal-new-user"
        >
          Добавить пользователя
        </button>
      </div>
      <div class="users-wrapper">
        <div class="progress" *ngIf="loading">
          <div class="indeterminate"></div>
        </div>

        <div class="user-card">
          <div class="user-card__header">
            <div class="user-card__role">Администратор</div>

            <button class="user-card__menu-btn test-btn">
              <i class="material-icons">more_vert</i>
            </button>

            <div class="user-card__menu test-menu">
              <button class="user-card__menu-btn" data-target="modal-edit-user">
                <i class="material-icons">edit</i>
              </button>
              <button
                class="user-card__menu-btn"
                data-target="modal-delete-user"
              >
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>
          <div class="user-card__content">
            <div class="user-card__avatar"></div>
            <div class="user-card__descr">
              <div class="user-card__name">
                Константин Константинович Константинов-Барановский
              </div>
              <div class="user-card__email">prosto.kostya@mail.ru</div>
              <div class="user-card__group">Отдел тестирования ПО</div>
            </div>
          </div>
        </div>
        <div class="user-card">
          <div class="user-card__header">
            <div class="user-card__role">Суперадмин</div>
            <div class="user-card__menu">
              <div class="user-card__menu-dialog hidden">
                <button
                  class="user-card__menu-btn"
                  data-target="modal-edit-user"
                >
                  <i class="material-icons">edit</i>
                </button>
                <button
                  class="user-card__menu-btn"
                  data-target="modal-delete-user"
                >
                  <i class="material-icons">clear</i>
                </button>
              </div>

              <button class="user-card__menu-btn">
                <i class="material-icons">more_vert</i>
              </button>
            </div>
          </div>
          <div class="user-card__content">
            <div class="user-card__avatar"></div>
            <div class="user-card__descr">
              <div class="user-card__name">Владислав</div>
              <div class="user-card__email">
                vlad-super-admin-better-in-the-universe@gmail.com
              </div>
              <div class="user-card__group">Отдел разработки</div>
            </div>
          </div>
        </div>
        <div class="user-card" *ngFor="let user of users">
          <div
            class="user-card__header"
            style="background-color: {{ asset.roles[user.role].color }}"
          >
            <div class="user-card__role">
              {{ asset.roles[user.role].text }}
            </div>
            <div
              class="user-card__menu"
              style="color:{{ asset.roles[user.role].color }}"
            >
              <button class="user-card__menu-btn">
                <i class="material-icons">more_vert</i>
              </button>
            </div>
          </div>
          <div class="user-card__content">
            <div class="user-card__avatar"></div>
            <div class="user-card__descr">
              <div class="user-card__name">{{ user.name }}</div>
              <div class="user-card__email">
                {{ user.login }}
              </div>
              <div class="user-card__group">Отдел маркетинга</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card--sidebar">
      <div class="card__header">
        Настройка доступа
        <button type="button" class="btn btn--round btn--right">
          <i class="material-icons">edit</i>
        </button>
      </div>
      <div class="user-settings">
        <div class="user-category" *ngFor="let role of asset.roles | keyvalue">
          <h6 class="user-category__header">{{ role.value.text }}</h6>
          <div class="user-category__params">
            <label
              for="{{ param }}'-'{{ role.key }}"
              class="checkbox-wrapper"
              *ngFor="let param of params"
            >
              <input
                type="checkbox"
                name="params"
                id="{{ param }}'-'{{ role.key }}"
                class="visually-hidden"
              />
              <div class="input checkbox-custom">
                <svg width="18" height="18" viewBox="0 0 20 20">
                  <polyline points="2.6,8.1 5.9,11.4 13.0,4.2"></polyline>
                </svg>
              </div>
              <span>{{ param }}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="btn-wrapper">
        <button type="button" class="btn btn--big">Сохранить</button>
        <button type="button" class="btn btn--big btn--outline">Отмена</button>
      </div>
    </div>
  </main>

  <!--  MODALS -->
  <div class="modal-wrapper" id="modal-new-user">
    <div class="modal-dialog">
      <h4 class="modal-title">Добавление нового пользователя</h4>
      Modal here
      <div class="btn-wrapper">
        <button class="btn btn--big">Отправить</button>
        <button class="btn btn--big btn--outline modal-close">Отменить</button>
      </div>
    </div>
  </div>
  <div class="modal-wrapper" id="modal-delete-user">
    <div class="modal-dialog">
      <h4 class="modal-title">Удалить пользавателя “Владислав”?</h4>
      <div class="btn-wrapper">
        <button class="btn btn--big">Да</button>
        <button class="btn btn--big btn--outline">Нет</button>
      </div>
    </div>
  </div>
  <div class="modal-wrapper" id="modal-edit-user">
    <div class="modal-dialog">
      <h4 class="modal-title">Редактирование данных</h4>
      Modal here
      <div class="btn-wrapper">
        <button class="btn btn--big">Отправить</button>
        <button class="btn btn--big btn--outline">Отменить</button>
      </div>
    </div>
  </div>

  <!--  FILTER -->
  <div class="filter" id="user-filter">
    <!--    <div class="filter-overlay"></div>-->
    Фильтр
    <div>Роль</div>
    <ul>
      <li>Суперадмин</li>
      <li>Администратор</li>
      <li>Оператор</li>
    </ul>
    <div>Структурное подразделение</div>
    <ul>
      <li>Общая</li>
      <li>Резервная</li>
      <li>Город</li>
      <li>Область</li>
    </ul>

    <div class="btn-wrapper">
      <button class="btn btn--big">Отправить</button>
      <button class="btn btn--big btn--outline">Отменить</button>
    </div>
  </div>

  <!--<div class="container">
  <h3>Пользователи</h3>
  <div class="box">
    <div class="row" style="padding: 5px">
      <div class="col s2"><b>Логин</b></div>
      <div class="col s2"><b>ФИО</b></div>
      <div class="col s2"><b>Роль</b></div>
      <div class="col s2"><b>Состояние</b></div>
    </div>
    <div class="divider"></div>
    <div class="box">
      <div class="progress" *ngIf="loading">
        <div class="indeterminate"></div>
      </div>
      <ng-container *ngFor="let user of users; index as index">
        <div class="row" style="padding: 5px">
          <div class="col s2">
            <span>{{ user.login }}</span>
          </div>
          <div class="col s2">
            <span>{{ user.name }}</span>
          </div>
          <div class="col s2">
            <span>{{ user.role }}</span>
          </div>
          <div class="col s2">
            <div class="switch">
              <label>
                <input
                  [disabled]="user.role === 'super'"
                  [checked]="user.activeState"
                  type="checkbox"
                  (click)="changeState(user.id, user.activeState, index)"
                />
                <span class="lever"></span>
              </label>
            </div>
          </div>
          <div class="col s4">
            <button
              (click)="getLogin(user.login)"
              class="btn btn-small modal-trigger blue lighten-1"
              data-target="changeUserPass"
            >
              Сменить пароль
            </button>
            <button
              (click)="getLogin(user.login)"
              class="btn btn-small modal-trigger blue lighten-1"
              data-target="rename"
            >
              Переименовать
            </button>
            <button
              (click)="deleteUser(user.id)"
              [disabled]="user.role === 'super'"
              class="btn btn-small red lighten-1"
            >
              Удалить
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <button class="btn blue modal-trigger" data-target="add">
        Добавить пользователя
      </button>
    </div>
  </div>
</div>
<div class="modal modal-fixed-footer" id="add">
  <div class="modal-content">
    <form [formGroup]="form">
      <div class="row">
        <div class="col s6">
          <input formControlName="name" type="text" id="name" />
          <label for="name">Имя</label>
        </div>
        <div class="col s6">
          <input formControlName="login" type="text" id="login" />
          <label for="login">Логин</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <input formControlName="password" type="text" id="password" />
          <label for="password">Пароль</label>
        </div>
        <div class="col s6">
          <p>
            <label>
              <input formControlName="role" type="radio" [value]="'admin'" />
              <span>Администратор</span>
            </label>
          </p>
          <p>
            <label>
              <input formControlName="role" type="radio" [value]="'super'" />
              <span>Оператор</span>
            </label>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-flat modal-close" (click)="addUser()">Добавить</button>
    <button class="btn-flat modal-close">Закрыть</button>
  </div>
</div>
<div class="modal" style="width: 40%; padding: 10px" id="changeUserPass">
  <div style="display: flex; justify-content: center">
    <div class="col s12">
      <h6>Пароль должен стостоять минимум иметь минимум по 1:</h6>
      <ul class="collection">
        <li class="collection-item">
          Заглавный символ
          <span *ngIf="userService.upperCase" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Прописной символ
          <span *ngIf="userService.lowerCase" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Цифра
          <span *ngIf="userService.number" class="red-text">отсутствует</span>
        </li>
        <li class="collection-item">
          Спец. символ
          <span *ngIf="userService.specialChar" class="red-text"
            >отсутствует</span
          >
        </li>
        <li class="collection-item">
          Состоять минимум из 8 символов
          <span *ngIf="userService.passLength > 0" class="red-text"
            >{{ userService.passLength }} осталось</span
          >
        </li>
      </ul>
      <div class="row">
        <div class="col s6"><input type="text" [(ngModel)]="changePas" /></div>
        <div class="col s6">
          <button
            (click)="changeUserPassword(login, changePas)"
            [disabled]="!changePas"
            class="btn-small blue lighten-1"
          >
            Сохранить
          </button>
          <button class="btn-small red lighten-1 modal-close">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="rename">
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="col s6">
        <input [(ngModel)]="rename" type="text" />
      </div>
      <div class="col s6">
        <button
          (click)="renameUser(login, rename)"
          class="btn-small blue lighten-1 modal-close"
        >
          Переименовать
        </button>
        <button class="btn-small red lighten-1 modal-close">Закрыть</button>
      </div>
    </div>
  </div>
</div>-->
</app-global-container>
