:host(app-users) {
  grid-area: main;
}

.users-wrapper {
  height: calc(100% - 30px);
  padding: 15px 4px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  justify-content: stretch;
  align-content: flex-start;
  gap: 15px 12px;
  overflow: auto;
}
.user-card {
  background: white;
  border-radius: 14px;
  /*border: 2px solid transparent;*/
  outline: 2px solid transparent;
  box-shadow: var(--box-shadow);
}
.user-card:hover {
  /*border: 2px solid #557ebe;*/
  outline-color: var(--dark-blue);
}
.user-card__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 16px;
  background-color: var(--dark-blue);
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.user-card__content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 21px 20px 16px;
}
.user-card__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--light-blue);
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.15);
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}
.user-card__descr {
  display: flex;
  flex-direction: column;
  max-width: 175px;
  gap: 9px;
}
.user-card__name {
  display: -webkit-box;
  font-weight: 700;
  font-size: 16px;
  color: var(--dark-grey);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-card__email {
  font-size: 12px;
  line-height: 12px;
  color: var(--dark-grey);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
}
.user-card__group {
  width: fit-content;
  padding: 4px 14px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  color: white;
  background-color: var(--dark-blue);
  border-radius: 14px;
}
.user-card__role {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.user-card__menu {
  display: flex;
  gap: 7px;
  color: var(--dark-blue);
}
.user-card__menu-btn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: white;
  color: inherit;
  border-radius: 50%;
  border: none;
}
.user-card__menu-btn span {
  background-color: var(--dark-blue);
}
.user-card__menu-btn:focus span,
.user-card__menu-btn:hover span {
  background-color: var(--blue) !important;
}
