.dropdown {
  height: 44.44px;

  position: relative;

  border: 1px solid var(--grey);
  border-radius: 14px;

  &:hover {
    border-color: var(--dark-blue);
  }

  button {
    height: 44.44px;
    width: calc(100% + 1px);

    padding: 11px 30px 11px 11px;

    position: relative;

    top: -1px;
    left: -1px;

    font-weight: 300;
    font-size: 16px;
    line-height: 18.77px;
    text-align: left;

    background-color: transparent;

    z-index: 2;

    &.filled {
      background-color: var(--dark-blue);
      color: var(--white);
    }
  }

  &-content {
    width: calc(100% + 2px);

    display: block;

    padding-top: 43.44px;

    position: absolute;

    top: -1px;
    left: -1px;

    background-color: var(--white);

    border: 1px solid var(--dark-blue);

    border-radius: 14px;

    box-shadow: var(--box-shadow);

    z-index: 1;

    &.hidden {
      display: none;
    }

    .item {
      cursor: pointer;

      transition:
        background-color var(--transition-time) ease,
        color var(--transition-time) ease;

      p {
        padding: 11px 30px 11px 11px;
      }

      &:first-child > p {
        margin-top: -33.44px;
        padding-top: 43.44px;
      }

      &:last-child {
        border-radius: 0 0 12px 12px;
      }

      &:hover {
        background-color: var(--dark-blue);
        color: var(--white);
      }

      &.chosen {
        background-color: var(--dark-blue);
        color: var(--white);
      }
    }
  }

  &::after {
    height: 7.71px;
    width: 12.86px;

    display: block;

    position: absolute;
    content: "";

    top: 18.73px;
    right: 8.14px;

    mask-size: 12.86px 7.71px;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-image: url("/assets/UI/arrow_down.svg");
    -webkit-mask-size: 12.86px 7.71px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-image: url("/assets/UI/arrow_down.svg");

    background-color: var(--dark-blue-grey);

    transition:
      transform var(--transition-time) ease,
      top var(--transition-time) ease,
      background-color var(--transition-time) ease;

    z-index: 2;
  }

  &.opened {
    &::after {
      top: 15.86px;

      background-color: var(--white);

      transform: rotate(180deg);
    }
  }

  &.w-170 {
    width: 170px;
  }
  &.w-296 {
    width: 296px;
  }
  &.w-350 {
    width: 350px;
  }
  &.w-440 {
    width: 440px;
  }
  &.w-457 {
    width: 457px;
  }
}
