<div class="tip">
  <h6 i18n class="text-title-choose">
    Чтобы перевести устройство на платформе Android версии 7 и выше в режим
    предприятия и подключится к системе SDM, необходимо:
  </h6>
  <ol class="text-menu-title">
    <li i18n>
      Выполнить полный сброс настроек устройства к заводским, если оно
      настраивалось ранее;
    </li>
    <li i18n>
      Начать настройку подключения к Wi-Fi при отсутствии мобильной связи, с
      последующим выходом к стартовому экрану, после подключения;
    </li>
    <li i18n>
      На любом свободном месте стартового экрана, необходимо быстро произвести 7
      нажатий для перехода в режим сканирования QR-кода;
    </li>
    <li i18n>
      Выполните сканирование QR-кода и подтвердите все последующие условия
      пользования, предлагаемые устройством.
    </li>
  </ol>
  <div class="todo">
     <p i18n>
      Для привязки имеющегося устройства к системе SDM, необходимо произвести
      сканирование созданного QR-кода.
    </p>
    <p i18n>
      Привязку устройства к системе можно произвести позже, нажав на иконку
      QR-кода созданного устройства в общем списке устройств.
    </p>
  </div>
</div>
