<app-modal
  [modalID]="'filter-messages'"
  [direction]="'horizontal'"
  [isClosable]="true"
>
  <div class="modal-form-filter w-400">
    <form class="filter" [formGroup]="filterForm" (submit)="applyFilter()">
      <div class="filter__header">Фильтр</div>
      <div class="filter__content">
        <div class="form-group-wrapper">
          <p class="text-menu-title">Статус</p>
        </div>
        <div class="form-group-wrapper">
          <div class="tags-container">
            <label class="custom-radio">
              <input
                class="visually-hidden"
                formControlName="status"
                type="radio"
                [value]="true"
              />
              <span class="custom-radio__span">отправлено</span>
            </label>
            <label class="custom-radio">
              <input
                class="visually-hidden"
                formControlName="status"
                type="radio"
                [value]="false"
              />
              <span class="custom-radio__span">не отправлено</span>
            </label>
          </div>
        </div>
        <div class="form-group-wrapper">
          <p class="text-menu-title last-date">Последнее обновление</p>
        </div>
        <div class="form-group-wrapper date">
          <label class="text-menu-title"> с </label>
          <app-input-datetime
            [name]="'dateFrom'"
            [width]="'w-180'"
            [controlName]="'dateFrom'"
            [groupName]="filterForm"
          ></app-input-datetime>
        </div>
        <div class="form-group-wrapper date">
          <label class="text-menu-title"> по </label>
          <app-input-datetime
            [name]="'dateTo'"
            [width]="'w-180'"
            [controlName]="'dateTo'"
            [groupName]="filterForm"
          ></app-input-datetime>
        </div>
      </div>
      <div class="filter__footer">
        <div class="btn-wrapper">
          <button type="submit" class="btn btn--big">Применить</button>
          <button
            (click)="clearFilter()"
            type="button"
            class="btn btn--big btn--outline"
          >
            Отменить
          </button>
        </div>
      </div>
    </form>
  </div>
</app-modal>
