.filter__content {
  gap: 16px;
}

.tags-container {
  width: 100%;
  padding: 8px 1px;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 0;
}

.custom-radio__span {
  padding: 7px 10px;
  font-size: 16px;
  line-height: 16px;
}
