<app-global-container class="global-container">
  <app-global-header
    class="global-header"
    [title]="'Карта'"
  ></app-global-header>

  <app-card class="global-main" [color]="'light-grey'">
    <div class="page-content">
      <div style="display: flex; justify-content: flex-start">
        <app-input-search style="margin-right: 7px"></app-input-search>
        <app-mini-select
          [header]="'статус'"
          [options]="status_option"
          (onSelect)="devicesFilter($event, 'status')"
        ></app-mini-select>
        <app-mini-select
          [header]="'группа'"
          [options]="group_option"
          (onSelect)="devicesFilter($event, 'group')"
        ></app-mini-select>
        <app-mini-select
          [header]="'конфигурация'"
          [options]="config_option"
          (onSelect)="devicesFilter($event, 'config')"
        ></app-mini-select>
      </div>
      <div id="map-container"></div>
    </div>
  </app-card>
</app-global-container>
