#map-container {
  //margin-top: 0.5rem;
  margin-top: 23px;
  width: 100%;
  //height: 80vh;
  height: calc(100vh - 24px - 70px - 44px - 31px - 23px);
  border-radius: 8px;
}
//.page-content {
//  min-height: calc(100vh - 76px - 34px);
//  height: 100%;
//  padding: 12px 23px 12px 22px;
//}

h4 {
  margin-bottom: 1rem;
}

.icon.icon-d-item {
  height: 14px;
  width: 14px;
  mask-size: 14px 14px;
  -webkit-mask-size: 14px 14px;
  background-color: var(--white);

  &.edit_device {
    mask-image: url('/assets/UI/pencil.svg');
    -webkit-mask-image: url('/assets/UI/pencil.svg');
  }
}

.marker-event {
  & .hidden {
    display: none !important;
  }
}

.search-list {
  padding-top: 20px;
  overscroll-behavior: contain;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid var(--dark-blue);
  border-top: none;
  position: absolute;
  top: 116px;
  z-index: 999;
  height: auto;
  background-color: var(--white);
  width: 300px;
}

.search-item {
  padding: 8px;
  font-size: 16px;
  font-family: 'HelveticaNeueRoman', sans-serif;
}

input[type='search'] {
  background-color: var(--white) !important;
}
